{% extends 'base.html' %}

{% set page_title = page.name %}

{% block content %}

<div class="container">

	<h2>{{page.name}}</h2>

	<ul class="breadcrumb">
    <li>{{ _('Written by') }} {{page.user.first_name}} {{page.user.last_name|default(page.user.username)}}</li>
		<li>{{ _('on') }} {{ page.updated|date('d E Y')}}</li>
	</ul>

	<div class="page">
		{{page.html|default('No content')|safe}}
    <hr />
    <div class="pull-right">
      <a href="{{ url('page-list', type) }}" class="btn btn-primary">
      {% if type == 'news' %}
        {{ _('View the others news') }}
      {% else %}
        {{ _('View the others help pages') }}
      {% endif %}
    </a>
    </div>
	</div>

	{% if edit %}
	<hr />

	{% if page.published %}
	<div class="alert alert-success">
    {{ _('Published page, visible by everyone') }}
	</div>
	{% else %}
	<div class="alert alert-info">
		<h4>{{ _('Page not published') }}</h4>
    {{ _('Only visible by administrators.') }}
	</div>
	{% endif %}

	<form action="" class="page form-horizontal" method="POST">
		{% csrf_token %}
		{{ macros.input(form.name, _('Name')) }}
		{{ macros.input(form.slug, _('Slug')) }}
		{{ macros.input(form.type, _('Type')) }}
		{{ macros.input(form.published, _('Published')) }}
		{{ macros.input(form.markdown, _('Markdown')) }}
		<p>
			<input class="btn btn-primary" type="submit" name="save" value="{{ _('Save') }}" />
		</p>
	</form>
	{% endif %}

</div>

{% endblock %}
