{% extends 'base.html' %}

{% set page_title = page.name %}

{% block content %}

<div class="container">

	<h2>{{page.name}}</h2>

	<ul class="breadcrumb">
    <li>{{ _('Written by') }} {{page.user.first_name}} {{page.user.last_name|default(page.user.username)}}</li>
		<li>{{ _('on') }} {{ page.updated|date('d E Y')}}</li>
	</ul>

	<div class="page">
		{{page.html|default('No content')|safe}}
    <hr />
    <div class="pull-right">
      <a href="{{ url('page-list', type) }}" class="btn btn-primary">
      {% if type == 'news' %}
        {{ _('View the others news') }}
      {% else %}
        {{ _('View the others help pages') }}
      {% endif %}
    </a>
    </div>
	</div>

</div>

{% endblock %}
