{% extends 'base.html' %}

{% set page_title = type == 'help' and 'Aide' or 'News'  %}

{% block content %}

{% if type == 'help' %}
<div class="alert alert-info">
  <h4>Un problème ? Un bug ?</h4>
  N'hésitez pas à utiliser le <a href="/contact">formulaire de contact</a> en cas de problème sur RunReport.
</div>
{% endif %}

<div class="pages">
  {% for page in pages %}
  <a href="{% url page page.type, page.slug %}">
    <strong>{{ page.name }}</strong>
    <p class="pull-right">
      {% if edit and not page.published %}
      <span class="label label-important">Privée</span>
      {% endif %}
      <span class="label label-inverse">{{ page.user.first_name }} {{ page.user.last_name|default(page.user) }}</span>
      <span class="label label-info">{{ page.updated|date('d E Y')}}</span>
    </p>
  </a>
  {% endfor %}
</div>

{% endblock %}
