{% extends 'base.html' %}

{% set page_title = '%s %s : %s' % (member.first_name, member.last_name, day|date('l d E Y')|title()) %}

{% block content%}
<div class="container">
  {% include 'sport/day/_nav.html' %}

  {% if session %}

    {% with session.sessions as sessions %}
    {% include 'sport/session/list.html' %}
    {% endwith %}

  {% else %}
    <p class="alert alert-warning">Pas de séance</p>
  {% endif %}

  <a href="{{ url('user-calendar-week', report.user, report.year, report.week) }}" class="btn btn-success">Voir cette semaine</a>
</div>
{% endblock %}
