{% extends 'base.html' %}

{% block content %}

<div class="container">

  <h2>{{member.first_name}} {{member.last_name|default(member.username)}}</h2>

	{% if report %}
	<div class="alert alert-info">
		<h4>Semaine {{week|add(1)}} de {{year}}</h4>
		du {{report.get_date_start()|date('l d E')}} au {{report.get_date_end()|date('l d E')}}
	</div>

	{% include 'sport/week/published.html' %}
	{% else %}
	<div class="alert alert-warning">
		<h4>Semaine {{week|add(1)}} de {{year}}</h4>
		Pas de commentaires disponibles.
	</div>
	{% endif %}

	{% include '_weeks.html' %}


</div>

{% endblock %}
