<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed table-striped">
      <tr>
        <th>{{ _('Sport') }}</th>
        <th>{{ _('Time') }}</th>
        <th>{{ _('Distance') }}</th>
      </tr>
      {% for sport, time, distance in stats %}
      <tr class="{% if not sport %}info{% endif %}">
        <td>
          {% if sport %}
          <i class="icon-sport-{{ sport.slug }}"></i>
          {{ _(sport.name) }}
          {% else %}
          <strong>{{ _('Total') }}</strong>
          {% endif %}
        </td>
        <td>
          {{ time|total_time() }}
        </td>
        <td>
          {{ distance|default(0)|floatformat(2) }} km.
        </td>
      {% endfor %}
      </tr>
    </table>
  </div>
</div>
