<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed table-striped">
      <tr>
        <th>{{ _('Sport') }}</th>
        <th>{{ _('Time') }}</th>
        <th>{{ _('Distance') }}</th>
        <th>{{ _('Sessions') }}</th>
      </tr>
      {% for stat in stats %}
      <tr class="{% if not stat.sport %}info{% endif %}">
        <td>
          {% if stat.sport %}
          <i class="icon-sport-{{ stat.sport.slug }}"></i>
          {{ _(stat.sport.name) }}
          {% else %}
          <strong>{{ _('Total') }}</strong>
          {% endif %}
        </td>
        <td>
          {{ stat.time|total_time() }}
        </td>
        <td>
          {{ stat.distance|default(0)|floatformat(2) }} km.
        </td>
        <td>
          {{ stat.sessions|default(0) }}
        </td>
      {% endfor %}
      </tr>
    </table>
  </div>
</div>
