<script type="text/javascript">
$('span.add-on').tooltip();
$(function(){
	$('button.type').click(function(){
		$(this).siblings('input').val(this.value);
	});
});
</script>

<div class="container">

  {% for day in report.get_dates() %}
  {% with forms[day] as form %}
  {% include 'sport/day/_edit.html' %}
  {% endwith %}
  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      Bilan de la semaine
    </div>
    <div class="panel-body">
      <p class="muted">
        Vous pouvez indiquer votre ressenti sur cette semaine (facultatif).
      </p>
      {{ macros.input(form_report.comment, 'Commentaire') }}
    </div>
    <div class="panel-footer">
      {% with report.get_sports_stats() as stats %}
      {% include 'sport/week/_stats.html' %}
      {% endwith %}
    </div>
  </div>

  <div class="form-group row actions">
    <div class="col-md-offset-5 col-md-3 col-sm-12">
    {% for m in memberships %}
      <button {% if not report.is_publiable() %}disabled="disabled"{% endif %} type="submit" name="publish" value="{{m.club.pk}}" class="btn btn-success">
        Envoyer à
        {% for t in m.trainers.all() %}
        {{ t.first_name|default(t.username) }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </button>
    {% endfor %}
    </div>
  </div>

	{% if user.auto_send %}

	{% if report.is_current() %}
	<p class="alert alert-info">
		Tous les commentaires remplis seront envoyés automatiquement dans {{ report.get_send_date()|timeuntil }}.
	</p>
	{% else %}
	<p class="alert alert-warning">
		L'envoi automatique des commentaires n'est actif que pour la <strong>semaine en cours</strong>.
	</p>
	{% endif %}

	{% else %}
	<div class="alert alert-warning">
		<h4>Envoi automatique désactivé !</h4>
		Pour activer l'envoi automatique, veuillez sélectionnez l'option dans <a href="{% url user-profile %}">votre profil</a>
	</div>
	{% endif %}

</div>
