{% extends 'base.html' %}

{% block content %}
<div class="container week">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      {% if member %}
      <h3>{{ member.first_name }} {{ member.last_name }} : {{ _('Week %s') % report }}</h3>
      {% else %}
      <h3>
        {{ _('Your week %s') % report }}
      </h3>
      {{ macros.help(user, _('On this page, you can view all your sport sessions in a week. Click on a session to edit it.'), _('Your week')) }}
      {% endif %}

    </div>
    <div class="actions col-sm-3 col-xs-12 text-right hidden-xs">
    {% if not member  %}
      {% if report.published or report.task %}
      <a href="{{ url('report-week-publish', report.year, report.week) }}" class="modal-action btn btn-success btn-light">
        <i class="icon-list"></i> {{ _('Week published') }}
      </a>
      {% else %}
      <a href="{{ url('report-week-publish', report.year, report.week) }}" class="{% if not report.is_publiable() %}disabled{% endif %} modal-action btn btn-info btn-light">
        {{ _('Publish this week') }} <i class="icon-right-open"></i>
      </a>
      {% endif %}
    {% endif %}
    </div>
  </div>

  {% if trainer %}
  <p class="alert alert-success">
    {{ _('This week report has been sent to %s') % trainer.first_name|default(trainer.username) }}
  </p>
  {% endif %}

  {% for day_date, day in report.get_days_per_date().items() %}
  <div class="row day actions-hover link" href="{{ url(pageday, *pageargs + [day_date.year, day_date.month, day_date.day]) }}">
    <div class="col-xs-12">
      <h4>
        <a href="{{ url(pageday,  *pageargs + [day_date.year, day_date.month, day_date.day]) }}">
          {{day_date|date('l d E')|title()}}
        </a>
      </h4>
      {% include 'sport/session/list.html' %}
    </div>
  </div>
  {% endfor %}

  <hr />

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>{{ _('This week summary') }}</h4>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      {% if not member  %}
        {% if report.published or report.task %}
        <a href="{{ url('report-week-publish', report.year, report.week) }}" class="modal-action btn btn-success btn-light">
          <i class="icon-list"></i> {{ _('Week published') }}
        </a>
        {% else %}
        <a href="{{ url('report-week-publish', report.year, report.week) }}" class="{% if not report.is_publiable() %}disabled{% endif %} modal-action btn btn-info btn-light">
          {{ _('Publish this week') }} <i class="icon-right-open"></i>
        </a>
        {% endif %}
      {% endif %}
    </div>
    <div id="messages-{{report.pk}}" class="comments col-xs-12">
      {% if 'comments_week' in privacy %}
        {% if report.conversation %}
        <div class="box" data-src="{{ url('conversation-list', report.conversation.pk) }}" >
          {{ _('Loading week comments...') }}
        </div>
        {% else %}
        <a href="{{ url('message-week-add', report.pk) }}" class="modal-action btn btn-success btn-light">
          <i class="icon-comment"></i> {{ _('Start a conversation') }}
        </a>
        {% endif %}
      {% endif %}
    </div>

    <h4>{{ _('Stats') }}</h4>
    {% with stats = report.get_sports_stats() %}
      {% include 'sport/week/_stats.html' %}
    {% endwith %}
  </div>

  {% include '_weeks.html' %}
</div>
{% endblock %}
