<div class="container week">
  <h2>Semaine du {{ report.get_date_start()|date('l d E')|title() }} au {{ report.get_date_end()|date('l d E')|title() }}</h2>

	{% if trainer %}
	<p class="alert alert-success">
		Ce rapport a bien été envoyé à {{trainer.first_name|default(trainer.username)}}
	</p>
	{% endif %}

	{% if report.plan_week %}
	<p class="alert alert-info">
		<i class="icon-tags"> </i> Semaine {{ report.plan_week.order|add(1) }} de <a href="{% url plan-user report.plan_week.plan.slug, report.plan_week.plan.creator.username %}" target="_blank">{{ report.plan_week.plan.name }}</a>
	</p>
	{% endif %}
	<div class="row-striped">
		{% for day in report.get_dates() %}
		{% with sessions[day] as session %}
		<div class="row day">
			<div class="col-sm-2">
				<strong>{{day|date('l d M')}}</strong>
			</div>
			<div class="col-sm-10">
				{% if session %}
				{% if session.plan_session %}
				<div>
					<span class="label label-warning">Plan d'entraînement</span> {{ session.plan_session.week.plan.name }}
				</div>
				{% endif %}
        {% with session.sessions as sessions %}
        {% include 'sport/session/list.html' %}
        {% endwith %}
				{% else %}
				<i>Pas de séance</i>
				{% endif %}
			</div>
		</div>
		{% endwith %}
		{% endfor %}
	</div>

    <div>
      {% if report.comment %}
      <h4>Bilan de la semaine</h4>
      <p>
        <strong>Commentaire:</strong> {{ report.comment }}
      </p>
      {% endif %}

      {% with report.get_sports_stats() as stats %}
      {% include 'sport/week/_stats.html' %}
      {% endwith %}
    </div>
  </div>

</div>
