{% extends base %}

{% set modal_title = _('Week %s') % report %}

{% set form_url = url('report-week-publish', report.year, report.week) %}
{% set form_class = 'week-publish' %}


{% block body %}

  <h4>{{ _('Send to trainers') }}</h4>
  {% if report.published or report.task %}
    <p class="text-info">
      {{ _('You have already published this week.') }}
    </p>
	{% elif user.auto_send %}
    {% if report.is_current() %}
    <p class="text-info">
      {{ _('All comments will be automatically sent in %s') % report.get_send_date()|timeuntil }}.
    </p>
    {% else %}
    <p class="text-warning">
      {{ _('The automatic comments publication is only active for the current week.') }}
    </p>
    {% endif %}
	{% else %}
	<div class="text-muted">
    {{ _('To enable the automatic comments publication, please select the option in your preferences.') }}
	</div>
	{% endif %}

  <h4>Bilan de la semaine</h4>
  {% if report.published or report.task %}
    {% if report.comment %}
    <blockquote>{{report.comment}}</blockquote>
    {% else %}
    <i class="text-muted">{{ _('No comments') }}</i>
    {% endif %}
  {% elif report.is_publiable() %}
    <p class="text-muted">
      {{ _('You can indicate your feelins about this week (optional).') }}
    </p>
    {{ form.comment|safe }}
  {% else %}
    <p class="alert alert-info">{{ _('This week is not yet ready to be sent.') }}</p>
  {% endif %}

  <div class="alert alert-danger modal-error" style="display: none">
    <h4>{{ _('Erreur') }}</h4>
    {{ _('An error occured while sending this report, please retry after reloading the page, or contact an administrator') }}
  </div>
{% endblock %}

{% block footer %}
  <button class="btn" data-dismiss="modal">{{ _('Cancel') }}</button>
  {% for m in user.memberships.filter(trainers__isnull=False) %}
    <button {% if not report.is_publiable() or user.demo %}disabled="disabled"{% endif %} type="submit" name="publish" value="{{m.club.pk}}" class="btn btn-success">
      {{ _('Send to') }}
      {% for t in m.trainers.all() %}
        {{ t.first_name|default(t.username) }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </button>
  {% endfor %}
{% endblock %}
