{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ _('Connect to your Google Calendar') }}</h1>

  {% if user.gcal_token %}
  <div class="row">
    {% for cal in calendars['items'] %}
      {% if cal.accessRole == 'owner' %}
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ cal.summary }}</h3>
          </div>
          <div class="panel-body">
            {% if cal.description %}
              {{ cal.description }}
            {% else%}
              <i class="text-muted">{{ _('No description') }}</i>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <a href="{{ url('gcal-oauth', 'redirect') }}" class="btn btn-primary">
    {{ _('Connect to your Google account') }}
  </a>
  {% endif %}
</div>
{% endblock %}
