{% if plan_session %}
{% with plan_session.week.plan as plan %}
<p>
	<i class="icon-tags"> </i> Semaine {{ plan_session.week.order|add(1) }} du plan <a href="{% url plan-user plan.slug, plan.creator.username %}" target="_blank">{{ plan.name }}</a>, de {{ plan.creator.first_name }} {{ plan.creator.last_name }}
</p>
{% endwith %}

{% if session.instance and session.instance.name != plan_session.name %}
<p class="text-warning">
	<i class="icon-fire"> </i> Séance du plan : {{ plan_session.name }}
</p>
{% endif %}
{% endif %}
