<div class="modal hide fade" tabindex="-1" role="dialog" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{session.date|date('l d E Y')|title()}}</h3>
  </div>
  <div class="modal-body">
    <h4>{{session.name|default('Session')}}</h4>
    <p>
      {{ session.comment }}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Fermer</button>
    <a href="{{ session.report.get_absolute_url() }}" class="btn btn-primary">Voir cette semaine</a>
  </div>
</div>
