{% extends 'modal.html' %}

{% set modal_title = day|date('l d E Y')|title() %}

{% set form_url = "report-day"|url(day.year, day.month, day.day) %}
{% set form_class = "day" %}

{% block body %}
  {% csrf_token %}
  {{ macros.input(form.name, 'Séance') }}
  {{ macros.session_type(form) }}
  {{ macros.input(form.comment, 'Commentaire') }}
  {{ macros.session_time_distance(form) }}
  {% if session %}
  {% with session.garmin_activity as activity %}
    {% include '_garmin.html' %}
  {% endwith %}
  {% endif %}
{% endblock %}

{% block footer %}
  <button class="btn" data-dismiss="modal">Fermer</button>
  <a href="{{ report.get_absolute_url() }}" class="btn btn-success">Voir cette semaine</a>
  <input class="btn btn-primary" type="submit" value="Sauvegarder" style="margin-left: 20px;" />
{% endblock %}
