{% extends 'base.html' %}

{% block content %}

<h2>{{months.1|date('E Y')}}</h2>

{% for session in sessions_active %}
<div id="session_{{session.date|date('dmY')}}" class="modal hide fade" tabindex="-1" role="dialog" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{session.date|date('l d E Y')|title()}}</h3>
  </div>
  <div class="modal-body">
    <h4>{{session.name|default('Session')}}</h4>
    <p>
      {{ session.comment }}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Fermer</button>
    <a href="{{ session.report.get_absolute_url() }}" class="btn btn-primary">Voir cette semaine</a>
  </div>
</div>
{% endfor %}

<table class="table table-bordered table-condensed calendar">
  <tr>
    <th>Lundi</th>
    <th>Mardi</th>
    <th>Mercredi</th>
    <th>Jeudi</th>
    <th>Vendredi</th>
    <th>Samedi</th>
    <th>Dimanche</th>
  </tr>
{% for week in weeks %}
  <tr>
  {% for day in week %}
  {% with sessions[day] as session %}
    {% if session and (session.comment or session.name) %}
    <td class="session" data-target="#session_{{session.date|date('dmY')}}" data-toggle="modal">
    {% else %}
    <td class="nothing">
    {% endif %}

    <p class="date">
      {% if day.day == 1 or (loop.first and day.month != months.1.month) %}
      {{day|date('d E')}}
      {% else %}
      {{day|date('d')}}
      {% endif %}
    </p>
    {% if session and (session.comment or session.name) %}
    <p>
      {{session.name|default('Session sans nom')}}
    </p>
    {% endif %}
  </td>
  {% endwith %}
  {% endfor %}
  </tr>
{% endfor %}
</table>

<ul class="pager">
  {% if months.0 %}
  <li class="previous">
    <a href="{% url report-month months.0.year, months.0.month %}">&laquo; {{months.0|date('E Y')}}</a>
  </li>
  {% endif %}
  {% if months.2 %}
  <li class="next">
    <a href="{% url report-month months.2.year, months.2.month %}">{{months.2|date('E Y')}} &raquo;</a>
  </li>
  {% endif %}
</ul>

{% endblock %}
