{% extends 'base.html' %}

{% block content %}

<h2>{{months.1|date('E Y')}}</h2>
<table class="table table-bordered table-condensed calendar">
  <tr>
    <th>Lundi</th>
    <th>Mardi</th>
    <th>Mercredi</th>
    <th>Jeudi</th>
    <th>Vendredi</th>
    <th>Samedi</th>
    <th>Dimanche</th>
  </tr>
{% for week in weeks %}
  <tr>
  {% for day in week %}
  {% with sessions[day] as session %}
    <td class="day modal-action {% if session %}session{% else %}empty{% endif %}" href="{{pageday|url(*pageargs + [day.year, day.month, day.day])}}">

    <p class="date">
      {% if day.day == 1 or (loop.first and day.month != months.1.month) %}
      {{day|date('d E')}}
      {% else %}
      {{day|date('d')}}
      {% endif %}
    </p>
    {% if session %}
    <p>
      {{session.name|default('Session sans nom')}}
      {% if session.garmin_activity %}<i class="icon-map-marker"></i>{% endif %}
    </p>
    {% endif %}
  </td>
  {% endwith %}
  {% endfor %}
  </tr>
{% endfor %}
</table>

<ul class="pager">
  {% if months.0 %}
  <li class="previous">
    <a href="{{pagemonth|url(*pageargs + [months.0.year, months.0.month ])}}">&laquo; {{months.0|date('E Y')}}</a>
  </li>
  {% endif %}
  {% if months.2 %}
  <li class="next">
    <a href="{{pagemonth|url(*pageargs + [months.2.year, months.2.month ])}}">{{months.2|date('E Y')}} &raquo;</a>
  </li>
  {% endif %}
</ul>

{% endblock %}
