{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
$(function(){
  $('table.calendar td.day').click(function(){
    var url = this.getAttribute('href');
    $.ajax({
      url : url,
      method : 'GET',
      success : function(data){
        var modal = $(data);
        modal.find('form').on('submit', function(){
          $.ajax({
            url : this.getAttribute('action'),
            method : 'POST',
            data : {
              name : modal.find('#id_name').val(),
              comment: modal.find('#id_comment').val(),
              time: modal.find('#id_time').val(),
              distance: modal.find('#id_distance').val(),
            },
            success : function(data){
              modal.modal('hide');
            },
          });
          return false;
        });
        modal.modal();
      }
    });
  });
});
</script>

<h2>{{months.1|date('E Y')}}</h2>
<table class="table table-bordered table-condensed calendar">
  <tr>
    <th>Lundi</th>
    <th>Mardi</th>
    <th>Mercredi</th>
    <th>Jeudi</th>
    <th>Vendredi</th>
    <th>Samedi</th>
    <th>Dimanche</th>
  </tr>
{% for week in weeks %}
  <tr>
  {% for day in week %}
  {% with sessions[day] as session %}
    <td class="day {% if session %}session{% else %}empty{% endif %}" href="{% url report-day day.year, day.month, day.day %}">

    <p class="date">
      {% if day.day == 1 or (loop.first and day.month != months.1.month) %}
      {{day|date('d E')}}
      {% else %}
      {{day|date('d')}}
      {% endif %}
    </p>
    {% if session %}
    <p>
      {{session.name|default('Session sans nom')}}
    </p>
    {% endif %}
  </td>
  {% endwith %}
  {% endfor %}
  </tr>
{% endfor %}
</table>

<ul class="pager">
  {% if months.0 %}
  <li class="previous">
    <a href="{% url report-month months.0.year, months.0.month %}">&laquo; {{months.0|date('E Y')}}</a>
  </li>
  {% endif %}
  {% if months.2 %}
  <li class="next">
    <a href="{% url report-month months.2.year, months.2.month %}">{{months.2|date('E Y')}} &raquo;</a>
  </li>
  {% endif %}
</ul>

{% endblock %}
