{% import '_macros.html' as macros %}

{% if report_previous %}
<div class="alert alert-danger">
  <h4>Semaine précédente non envoyée !</h4>
  Vos commentaires de la <a href="{% url report-week week_previous.year, week_previous.week %}">semaine précèdente</a> n'ont pas été envoyés.
</div>
{% endif %}

{% if form and not report.published %}
<form method="post" action="" class="form-horizontal report">
  {% csrf_token %}
  {{ form.management_form|safe }}

  {% for session in form %}
     {% if session.instance.date == now.date() %}
    <fieldset class="today">
      <legend>Aujourd'hui - {{ session.instance.date|date('l d E')|title }}</legend>
    {% else %}
    <fieldset>
      <legend>{{ session.instance.date|date('l d E')|title }}</legend>
    {% endif %}
      {% with session.non_field_errors() as err %}
        {{ err|safe }}
      {% endwith %}
      {{ session.id|safe }}
      {{ macros.input(session.name, 'Séance') }}
      {{ macros.input(session.comment, 'Commentaire') }}
    </fieldset>
  {% endfor %}

  <fieldset>
    <legend>Bilan de la semaine</legend>
    <p class="muted">
    Vous pouvez indiquer votre ressenti sur cette semaine (facultatif).
    </p>
    {{ macros.input(form_report.comment, 'Commentaire') }}
  </fieldset>

    <div class="form-actions">
      <button type="submit" name="action" value="save" class="btn btn-primary">Sauver ces commentaires</button>
      <button type="submit" name="action" value="publish" class="btn btn-success">Envoyer à {{trainer.first_name|default(trainer.username)}}</button>
    </div>
</form>

  {% if profile.auto_send %}

    {% if report.is_current() %}
    <p class="alert alert-info">
      Tous les commentaires remplis seront envoyés automatiquement à {{trainer.first_name|default(trainer.username)}} dans {{ report.get_send_date()|timeuntil }}.
    </p>
    {% else %}
    <p class="alert alert-warning">
      L'envoi automatique des commentaires n'est actif que pour la <strong>semaine en cours</strong>.
    </p>
    {% endif %}

  {% else %}
    <div class="alert alert-warning">
      <h4>Envoi automatique désactivé !</h4>
      Pour activer l'envoi automatique, veuillez sélectionnez l'option dans <a href="{% url user-profile %}">votre profil</a>
    </div>
  {% endif %}
{% else %}

<p class="alert alert-success">
 Ce rapport a bien été envoyé à {{trainer.first_name|default(trainer.username)}}
</p>

<table class="table table-bordered">
  <tr>
    <th style="text-align: right">Jour</th>
    <th>Commentaire</th>
  </tr>
  {% for session in sessions %}
  <tr>
    <td style="width: 20%; text-align: right;">{{session.date|date('l d M')}}</td>
    <td>
      {% if session.name %}
      <strong>{{session.name}}</strong><br />
      {% endif %}
      {{session.comment|default('')}}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<div class="pagination pagination-centered">
  <ul>
  {% if week_previous %}
    <li><a href="{% url report-week week_previous.year, week_previous.week %}">&laquo;</a></li>
  {% else %}
    <li class="active"><span>&laquo;</span</li>
  {% endif %}
  {% for w in weeks %}
    {% if w.current %}
    <li class="active"><span>{{w.start|date('d M')}}</span></li>
    {% else %}
    <li><a href="{% url report-week w.year, w.week %}">{{w.start|date('d M')}}</a></li>
    {% endif %}
  {% endfor %}
  {% if week_next %}
    <li><a href="{% url report-week week_next.year, week_next.week %}">&raquo;</a></li>
  {% else %}
    <li class="active"><span>&laquo;</span</li>
  {% endif %}
  </ul>
</div>
