<form method="post" action="" class="form-horizontal report">
  {% csrf_token %}

  {% for day in report.get_days() %}
    {% if day == now.date() %}
    <fieldset class="today">
      <legend>Aujourd'hui - {{ day|date('l d E')|title }}</legend>
    {% else %}
    <fieldset>
      <legend>{{ day|date('l d E')|title }}</legend>
    {% endif %}

    {% with forms[day] as session %}
      {% with session.non_field_errors() as err %}
        {{ err|safe }}
      {% endwith %}
      {{ macros.input(session.name, 'Séance') }}
      {{ macros.input(session.comment, 'Commentaire') }}

      {% with session.instance.garmin_activity as activity %}
      {% if activity %}
      <div class="garmin pull-right">
        <i class="icon-map-marker"></i>
        <a href="{{ activity.get_url() }}" target="_blank">{{ activity.name }}</a>
        <span class="muted">&bull;</span>
        {{ activity.distance|floatformat(2) }} km en {{ activity.time }}
        <span class="muted">&bull;</span>
        <span class="label label-info">{{ activity.speed|date('i:s') }} min/km</span>
      </div>
      {% endif %}
      {% endwith %}
    {% endwith %}
    </fieldset>
  {% endfor %}

  <fieldset>
    <legend>Bilan de la semaine</legend>
    <p class="muted">
    Vous pouvez indiquer votre ressenti sur cette semaine (facultatif).
    </p>
    {{ macros.input(form_report.comment, 'Commentaire') }}
  </fieldset>

  <div class="form-actions">
    <button type="submit" name="action" value="save" class="btn btn-primary">Sauver ces commentaires</button>
    <button type="submit" name="action" value="publish" class="btn btn-success">Envoyer à {{trainer.first_name|default(trainer.username)}}</button>
  </div>
</form>

{% if profile.auto_send %}

  {% if report.is_current() %}
  <p class="alert alert-info">
    Tous les commentaires remplis seront envoyés automatiquement à {{trainer.first_name|default(trainer.username)}} dans {{ report.get_send_date()|timeuntil }}.
  </p>
  {% else %}
  <p class="alert alert-warning">
    L'envoi automatique des commentaires n'est actif que pour la <strong>semaine en cours</strong>.
  </p>
  {% endif %}

{% else %}
  <div class="alert alert-warning">
    <h4>Envoi automatique désactivé !</h4>
    Pour activer l'envoi automatique, veuillez sélectionnez l'option dans <a href="{% url user-profile %}">votre profil</a>
  </div>
{% endif %}

