{% extends 'base.html' %}

{% set page_title = 'Semaine du %s' % (report.get_date_start()|date('d E Y'),) %}

{% block content %}

{% import '_macros.html' as macros %}

<div class="container">
	{% if report.task %}
	<div class="alert alert-info">
		<h4>Rapport en cours d'envoi</h4>
		Ce rapport est en train d'être envoyé à votre entraineur.
	</div>
	{% endif %}

	{% if report_previous %}
	<div class="alert alert-danger">
		<h4>Semaine précédente non envoyée !</h4>
		Vos commentaires de la <a href="{% url report-week week_previous.year, week_previous.week %}">semaine précèdente</a> n'ont pas été envoyés.
	</div>
	{% endif %}
</div>

{% if forms and not report.published and not report.task %}
{% include 'run/report.open.html' %}
{% else %}
{% include 'run/report.closed.html' %}
{% endif %}

{% include '_weeks.html' %}

{% endblock %}
