{% if trainer %}
<p class="alert alert-success">
 Ce rapport a bien été envoyé à {{trainer.first_name|default(trainer.username)}}
</p>
{% endif %}

<table class="table table-bordered">
  <tr>
    <th style="text-align: right">Jour</th>
    <th>Commentaire</th>
  </tr>
  {% for day in report.get_days() %}
  <tr>
    {% with sessions[day] as session %}
    <td style="width: 20%; text-align: right;">{{day|date('l d M')}}</td>
    <td>
      {% if session %}
      <strong>{{session.name|default('Session sans nom')}}</strong><br />
      {{session.comment|default('Pas de commentaire')|linebreaksbr}}
      <div>
        {% if session.type %}
          {% if session.type == 'training' %}
          <span class="label label-info">Entrainement</span>
          {% elif session.type == 'race' %}
          <span class="label label-success">Course</span>
          {% else %}
          <span class="label">Repos</span>
          {% endif %}
        {% endif %}
        {% if session.time %}
        <span class="label">Temps</span> {{session.time}}
        {% endif %}
        {% if session.distance %}
        <span class="label">Distance</span> {{session.distance}} km
        {% endif %}
      </div>
      {% with session.garmin_activity as activity %}
        {% include '_garmin.html' %}
      {% endwith %}
      {% endif %}
    </td>
    {% endwith %}
  </tr>
  {% endfor %}
</table>
<h4>Bilan de la semaine</h4>
{% if report.comment %}
<p>
  <strong>Commentaire:</strong> {{ report.comment }}
</p>
{% endif %}
<p>
  <span class="label label-info">Temps total</span> {{ report.time|days_time('jour', '%Hh%M') }} <span class="muted">&bull;</span> <span class="label label-info">Distance totale</span> {{ report.distance|default(0) }} km.
</p>
