{% import '_macros.html' as macros %}

{% if report_previous %}
<div class="alert alert-danger">
  <h4>Semaine précédente non envoyée !</h4>
  Vos commentaires de la <a href="{% url report-week week_previous.year, week_previous.week %}">semaine précèdente</a> n'ont pas été envoyés.
</div>
{% endif %}

{% if form and not report.published %}
  {% include 'run/report.open.html' %}
{% else %}
  {% include 'run/report.closed.html' %}
{% endif %}

{% if report.comment %}
<h4>Bilan de la semaine</h4>
<p>
  {{report.comment|linebreaksbr}}
</p>
{% endif %}

{% include '_weeks.html' %}
