{% if trainer %}
<p class="alert alert-success">
 Ce rapport a bien été envoyé à {{trainer.first_name|default(trainer.username)}}
</p>
{% endif %}

<table class="table table-bordered">
  <tr>
    <th style="text-align: right">Jour</th>
    <th>Commentaire</th>
  </tr>
  {% for day in report.get_days() %}
  <tr>
    {% with sessions[day] as session %}
    <td style="width: 20%; text-align: right;">{{day|date('l d M')}}</td>
    <td>
      {% if session.name %}
      <strong>{{session.name}}</strong><br />
      {% endif %}
      {{session.comment|default('')|linebreaksbr}}
      <div>
        {% if session.time %}
        <span class="label">Temps</span> {{session.time}}
        {% endif %}
        {% if session.distance %}
        <span class="label">Distance</span> {{session.distance}} km
        {% endif %}
      </div>
      {% with session.garmin_activity as activity %}
      {% if activity %}
      <div class="clear">&nbsp;</div>
      <div class="garmin pull-right">
        <i class="icon-map-marker"></i>
        <a href="{{ activity.get_url() }}" target="_blank">{{ activity.name }}</a>
        <span class="muted">&bull;</span>
        {{ activity.distance|floatformat(2) }} km en {{ activity.time }}
        <span class="muted">&bull;</span>
        <span class="label label-info">{{ activity.speed|date('i:s') }} min/km</span>
      </div>
      {% endif %}
      {% endwith %}
    </td>
    {% endwith %}
  </tr>
  {% endfor %}
</table>
<h4>Bilan de la semaine</h4>
{% if report.comment %}
<p>
  <strong>Commentaire:</strong> {{ report.comment }}
</p>
{% endif %}
<p>
  <span class="label label-info">Temps total</span> {{ report.time|default("-") }} <span class="muted">&bull;</span> <span class="label label-info">Distance totale</span> {{ report.distance|default(0) }} km.
</p>
