{% extends 'base.html' %}

{% set page_title = 'Année %s' % year %}
{% set page_size = 'fullscreen' %}

{% block content %}
<div class="container">
<h1>{% if member %}{{ member.first_name }} {{ member.last_name }} - {% endif %}Année {{ year }}</h1>

<div class="year hidden-xs">
  {% for month, days in date_list.items() %}
  <div class="month">
    <div class="head">
      <a href="{{ pagemonth|url(*pageargs + [days[0].year, days[0].month]) }}" >{{ days[0]|date('F')|title() }}</a>
    </div>
    {% for day in days %}
    {% with object_list[day] as session %}
    <div class="day modal-action {% if session %}{{ session.type }}{% endif %}" href="{{ pageday|url(*pageargs + [day.year, day.month, day.day]) }}">
      <span class="date">{{ day.day }}</span>
      {% if session %}
      <span class="name">{{ session.name|default('...')|truncatechars(5)}}</span>
      {% endif %}
    </div>
    {% endwith %}
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div class="visible-xs">
	{% for day in object_list %}
	{% with object_list[day] as session %}
	<div class="modal-action" href="{{pageday|url(*pageargs + [day.year, day.month, day.day])}}">
		<strong>{{day|date('l d E Y')|title()}}</strong>
		<p>{{session.name|default('Session sans nom')}}</p>
        {% if session.plan_session %}
        <p>
          <i class="icon-tags"> </i> {{ session.plan_session.week.plan.name|truncate(10) }}
        </p>
        {% endif %}
	</div>
	{% endwith %}
	{% endfor %}
</div>

<ul class="pager">
  {% if previous_year %}
  <li class="previous">
    <a href="{{ pageyear|url(*pageargs + [previous_year, ]) }}">&laquo; Année {{ previous_year }}</a>
  </li>
  {% endif %}
  {% if next_year %}
  <li class="next">
    <a href="{{ pageyear|url(*pageargs + [next_year, ]) }}">Année {{ next_year }} &raquo;</a>
  </li>
  {% endif %}
</ul>
</div>
{% endblock %}
