{% extends 'base.html' %}

{% set page_title = 'Application du plan %s' % plan.name %}
{% set page_size = 'fullscreen' %}

{% block content %}

<div class="container">

	<h2>Application du plan {{ plan.name }}</h2>
	<p>
		<span class="label label-info">Club</span> {{ club.name }}
	</p>

	{% if plan.task %}
	<div class="alert alert-warning">
		<h4>En cours d'application</h4>
		L'application du plan peut prendre quelques secondes...
	</div>
	<script type="text/javascript">
	// Refresh the page in 2.5s
	window.onload = setTimeout(function(){
		window.location = window.location;
	}, 2500);
	</script>
	{% else %}

	{% if form %}
	<div class="hero-unit">
		<form class="form-inline" action="" method="POST">
			{% csrf_token %}
			<label>
				Appliquer à
			</label>
			<select>
				<option>Tous mes athlètes</option>
			</select>
			{% with plan.weeks.count() as nb_weeks %}
			pour <strong>{{ nb_weeks }} semaine{{ nb_weeks|pluralize() }}</strong> à partir du 
			{% endwith %}
			{{ form.week|safe }}
			<input type="submit" value="Appliquer" class="btn btn-primary" />
		</form>
	</div>
	{% else %}
	<div class="alert alert-success">
		<h4>Plan appliqué</h4>
	</div>
	{% endif %}

	<table class="table">
		<tr>
			<th>Athlète</th>
			{% for week, year in weeks %}
			<th>Semaine {{week}} de {{year}}</th>
			{% endfor %}
		</tr>
		{% for member in members %}
		<tr>
			<td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
			{% for week, year in weeks %}
			{% with '%s_%d_%d' % (member.user.username, year, week) as name %}
			{% with busy[name] as busy_report %}
			{% if busy_report %}
			<td>Semaine {{busy_report.plan_week.order|add(1)}}  de {{busy_report.plan_week.plan.name}}</td>
			{% else %}
			<td></td>
			{% endif %}
			{% endwith %}
			{% endwith %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% endif %}

</div>

{% endblock %}
