{% extends "modal.html" %}

{% set modal_title="%s de la Semaine n°%d" % (session.get_date()|date('l')|title(), week.order+1) %} 

{% set form_url = url('plan-day', week.plan.slug, week.order, session.day) %}
{% set form_class = "day" %}

{% block body %}
{% if plan.start %}
<p>
	<span class="label label-info">Date</span> {{ session.get_date()|date('l d E Y')|title()}}
</p>
{% endif %}

{{ macros.input(form.name, 'Nom de la séance') }}
{{ macros.session_time_distance(form) }}
{% endblock %}

{% block footer %}
{% if session.pk %}
<a href="{% url plan-day-delete week.plan.slug, week.order, session.day %}" class="modal-action modal-post btn btn-danger">Supprimer</a>
{% endif %}
<input type="submit" value="Valider" class="btn btn-primary" />
{% endblock %}
