{% extends 'base.html' %}

{% block content %}

<h1>{{ plan.name }}</h1>

{% if weeks %}

<table class="table table-bordered table-condensed calendar">
  <tr>
    <th>Lundi</th>
    <th>Mardi</th>
    <th>Mercredi</th>
    <th>Jeudi</th>
    <th>Vendredi</th>
    <th>Samedi</th>
    <th>Dimanche</th>
    <th>Actions</th>
  </tr>
  {% for week in weeks %}
  <tr>
    {% for day, date, session in week.get_days() %}
    <td class="modal-action" href="{% url plan-day plan.id, week.order, day %}">
      {% if date %}{{ date|date('d E') }}{% endif %}
      {% if session %}
        {{ session.name }}
      {% endif %}
    </td>
    {% endfor %}
    <td>
      <a href="{% url plan-week-delete plan.id, week.order %}" class="btn btn-danger modal-action modal-post">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>


{% else %}
<p class="alert alert-danger">
  Pas de semaines pour ce plan.
</p>
{% endif %}

<a href="{% url plan-week-add plan.id %}" class="btn btn-primary modal-action modal-post">Ajouter une semaine</a>

{% endblock %}
