{% extends 'base.html' %}

{% block content %}

<div class="container">

	{% if plans %}
	<table class="table">
		<tr>
			<th>Nom</th>
			<th>Semaines</th>
			<th>Modification</th>
			<th>Actions</th>
		</tr>
		{% for p in plans %}
		<tr>
			<td>{{ p.name }}</td>
			<td>{{ p.nb_weeks }}</td>
			<td>{{ p.updated|date('d/m/Y H:i') }}</td>
			<td>
				<a href="{{ p.get_absolute_url() }}" class="btn btn-primary">Editer</a>
				{% for club in clubs %}
				<a href="{% url plan-apply p.slug, club.slug %}" class="btn">Appliquer {{ club.name }}</a>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p class="alert alert-warning">
		Pas de plans d'entrainements existants.
	</p>
	{% endif %}

	<a href="{% url plan-new %}" class="btn btn-primary pull-right">Créer un plan</a>

</div>

{% endblock %}
