{% extends 'modal.html' %}

{% set modal_title = 'Ajouter un commentaire' %}

{% set form_url = url('message-session-add', session.pk) %}

{% block body %}
  <h4>
    {% if session.type == 'training' %}
    <span class="label label-info">Entrainement</span>
    {% elif session.type == 'race' %}
    <span class="label label-success">Course</span>
    {% elif session.type == 'rest' %}
    <span class="label label-danger">Repos</span>
    {% endif %}
    {{ session.name }}
  </h4>

  <i class="icon-sport-{{session.sport.slug}}"></i> {{ session.sport.name }}

  <i class="icon-calendar"></i>
  {{ session.day.date|date('l d E Y') }}

  {% with session.day.week.user as user %}
  <i class="icon-user"></i>
  <a href="{% url user-public-profile user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
  {% endwith %}

  {% csrf_token %}

  {{ form.message|safe }}
  {% if form.message.errors %}
  <div class="alert alert-danger">
    {{ form.message.errors|safe }}
  </div>
  {% endif %}

{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">Annuler</button>
<button type="submit" class="btn btn-primary">Valider</button>
{% endblock %}
