<form method="POST" action="{{ url('message-session-add', session.pk, type) }}">
  <div class="add-comment">
    {% csrf_token %}

    {{ form.message|safe }}
    {% if form.message.errors %}
    <div class="alert alert-danger">
      {{ form.message.errors|safe }}
    </div>
    {% endif %}

    {% if type == 'private' %}
    <p class="text-warning">
      <i class="icon-lock"></i>
      {{ _('This comment will be private, only the athlete and his trainers will see it.') }}
    </p>
    {% else %}
    <p class="text-success">
      <i class="icon-club"></i>
      {{ _('This comment will be public, anyone can see it.') }}
    </p>
    {% endif %}

  </div>
  <button type="submit" class="btn btn-primary">{{ _('Comment') }}</button>
</form>
