<div id="members">
  {% csrf_token %}
  <h2>{{ group_members|count() }}/{{ memberships.count() }} {{ _('Members') }}</h2>
  <div class="row">
    {% for member in memberships %}
    {% with active = member.pk in group_members %}
    <div class="col-sm-4 col-xs-12">
      <div class="member {% if active %}active{% endif %}">
        <div class="pull-right">
          {% if active %}
          <button class="btn btn-sm btn-danger modal-action modal-post" href="{{ url('club-group-members', club.slug, group.slug) }}" data-post-member="{{ member.pk }}" data-action="remove" data-replaces="members">
            <i class="icon-trash"></i>
            {{ _('Remove') }}
          </button>
          {% else %}
          <button class="btn btn-sm btn-success modal-action modal-post" href="{{ url('club-group-members', club.slug, group.slug) }}" data-post-member="{{ member.pk }}" data-action="add" data-replaces="members">
            <i class="icon-plus"></i>
            {{ _('Add') }}
          </button>
          {% endif %}
        </div>
        <div>
          <strong>
            {{ member.user.first_name }} {{ member.user.last_name }}
          </strong>

          {% if user == club.manager %}
          <p class="text-muted">
            {% if member.trainers.exists() %}
              {{ _('Trained by') }}
              {% for t in member.trainers.all() %}
                {{ t.first_name }}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
            {% else %}
              {{ _('No trainers') }}
            {% endif %}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  </div>
</div>
