body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.jumbo {
  font-family: 'Lato', sans-serif;
  color: white;
}