{% extends 'base.html' %}

{% set page_title = _('Premium Payment') %}

{% block js %}
{% if registration %}
<script type="text/javascript">
  mangopay_init('{{ mangopay_id }}', {% if DEBUG %}true{% else %}false{% endif %}, {
    'url' : '{{ registration.CardRegistrationURL }}',
    'key' : '{{ registration.AccessKey }}',
    'id' : '{{ registration.Id }}',
    'data' : '{{ registration.PreregistrationData }}',
  });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container" id="pay">
  <div class="row">

    <form class="col-xs-12 col-sm-4 col-sm-offset-4" action="#" method="POST" id="payment">
      {% csrf_token %}
      <h3>{{ _('I want the premium features') }}</h3>
      <div class="row cards">
        <div class="col-xs-3">
          <img class="img-responsive do-tooltip" src="{{ static('img/cards/mastercard.png') }}" title="Mastercard"/>
        </div>
        <div class="col-xs-3">
          <img class="img-responsive do-tooltip" src="{{ static('img/cards/visa.png') }}" title="Visa"/>
        </div>
        <div class="col-xs-3">
          <img class="img-responsive do-tooltip" src="{{ static('img/cards/amex.png') }}" title="American Express"/>
        </div>
        <div class="col-xs-3">
          <img class="img-responsive do-tooltip" src="{{ static('img/cards/maestro.png') }}" title="Maestro"/>
        </div>
        <input type="hidden" name="type" value="{{ registration.CardType }}" />
        <input type="hidden" name="club" value="{{ club.slug }}" />
      </div>

      <fieldset>
        <div class="form-group">
          <label class="control-label" for="card-number">{{ _('Card Number') }}</label>
          <input type="text" class="form-control" name="number" id="card-number" placeholder="{{ _('Debit/Credit Card Number') }}">
          <p class="help-block hidden">{{ _('Invalid card number') }}</p>
        </div>
        <div class="form-group">
          <label class="control-label" for="expiry-month">{{ _('Expiration Date') }}</label>
          <div class="row" id="expiry">
            <div class="col-xs-6">
              <select class="form-control col-sm-2" name="month">
                {% for month in months %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-6">
              <select class="form-control" name="year">
                {% for year in years %}
                <option value="{{ year - 2000 }}">{{ year }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-12">
              <p class="help-block hidden">{{ _('Invalid expiry date') }}</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="cvc">{{ _('Card cvc') }}</label>
          <input type="text" class="form-control" name="cvc" id="cvc" placeholder="{{ _('Security Code') }}">
          <p class="help-block hidden">{{ _('Invalid card cvc') }}</p>
        </div>
        <div class="alert alert-danger hidden">
          <h4>{{ _('Error') }}</h4>
          <p>
            Error message here.
          </p>
        </div>
        <div class="form-group text-center">
          <a href="{{ url('payment-card', club.slug) }}" class="btn btn-warning btn-lg retry hidden" tabindex="-10">
            {{ _('Retry') }}
          </a>
          <a href="{{ url('features') }}" class="btn btn-default btn-lg action" tabindex="-1">
            {{ _('Cancel') }}
          </a>
          <button type="submit" class="btn btn-success btn-lg action">
            {{ _('Use this credit card') }}
          </button>
          <button class="btn btn-success btn-lg waiter hidden" disabled="disabled">
            <i class="icon-loading animate-spin"></i>
            {{ _('Processing') }}
          </button>
        </div>
      </fieldset>
    </form>
    <div class="alert alert-success hidden">
      <h4>{{ _('Valid payment') }}</h4>
      <p>
        {{ _('Thanks for your trust in RunReport !') }}
        <br />
        {{ _('You can immediately add new members to your club.') }}
      </p>
      <p class="text-right">
        {% if club %}
        <a href="{{ url('club-manage', club.slug) }}" class="btn btn-primary">
          {{ _('Continue') }}
        </a>
        {% endif %}
      </p>
    </div>
  </div>
  <p class="text-center text-muted">
    <a href="https://mangopay.com" target="_blank">
      <img src="{{ static('img/mangopay.png') }}" alt="Mangopay" />
    </a>
  </p>

</div>
{% endblock %}
