{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
  var PAYMILL_PUBLIC_KEY = '{{ PAYMILL_PUBLIC }}';
</script>
<script type="text/javascript" src="https://bridge.paymill.com/"></script>
<script type="text/javascript">
$(function(){
  $('form#payment').on('submit', function(evt){
    evt.preventDefault()

    // Validate datas
    var form_data = {}
    var errors = [];
    $.each($(this).serializeArray(), function(){
      form_data[this.name] = this.value;
    });
    if(!form_data['card-name'])
      errors.push('card-name');
    if(!paymill.validateCardNumber(form_data['card-number']))
      errors.push('card-number');
    if(!paymill.validateExpiry(form_data['expiry-month'], form_data['expiry-year']))
      errors.push('expiry');
    if(!paymill.validateCvc(form_data['cvc']))
      errors.push('cvc');

    // Hide errors, for cleanup
    $('form#payment div.form-group').removeClass('has-error').find('p.help-block').addClass('hidden');

    // Apply errors
    if(errors.length > 0){
      console.warn('errors', errors);
      $.each(errors, function(index, err){
        var group = $('form#payment #'+err).parents('div.form-group');
        group.addClass('has-error');
        group.find('p.help-block').removeClass('hidden');
      });

      return false;
    }

    // Lock submit button to prevent further clicks
    $('form#payment button[type="submit"]').attr('disabled', 'disabled');

    // Create Paymill token
    var token_data = {
      number:         form_data['card-number'],
      exp_month:      form_data['expiry-month'],
      exp_year:       form_data['expiry-year'],
      cvc:            form_data['cvc'],
      amount_int:     form_data['amount'],
      currency:       form_data['currency'],
      cardholder:     form_data['name'],
    };
    paymill.createToken(token_data, function(error, result){
      if(error){
        // Display errors
        console.error('Paymill errors', error);
      }else{
        // Send token to Backend
        console.info('Paymill token created', error, result);
        result['offer'] = form_data['offer'];
        $.ajax({
          type: "POST",
          url: '/api/v1/payment/token/',
          data: result,
          success : function(resp){
            console.info('Payment succeeded');
            // TODO: go to subscriptions list
          },
          error : function(err){
            console.error("Payment error", err);
          },
          dataType: 'json',
        });
      }
    });

    return false;
  });
});
</script>
{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ _('Offer %s') % offer.name }}</h1>

  <form class="form-horizontal" id="payment" action="#" method="POST">
    <input type="hidden" name="offer" value="{{ offer.slug }}"/>
    <input type="hidden" name="amount" value="{{ offer.amount_cents }}"/>
    <input type="hidden" name="currency" value="{{ offer.currency }}"/>
    <fieldset>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-name">{{ _('Name on Card') }}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-name" id="card-name" placeholder="{{ _('Card Holder\'s Name') }}">
          <p class="help-block hidden">{{ _('Missing card holder\'s name') }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">{{ _('Card Number') }}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="{{ _('Debit/Credit Card Number') }}">
          <p class="help-block hidden">{{ _('Invalid card number') }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">{{ _('Expiration Date') }}</label>
        <div class="col-sm-9" id="expiry">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                {% for month in months %}
                <option value="{{ month|date('m') }}">{{ month|date('E') }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="expiry-year">
                {% for year in years %}
                <option value="{{ year|date('Y') }}">{{ year|date('Y') }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <p class="help-block hidden">{{ _('Invalid expiry date') }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvc">{{ _('Card cvc') }}</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="cvc" id="cvc" placeholder="{{ _('Security Code') }}">
          <p class="help-block hidden">{{ _('Invalid card cvc') }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-success">{{ _('Pay Now') }}</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>
{% endblock %}
