{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ _('Pay period for %s') % period.club.name }}</h1>
  <div class="lead">
    <i class="icon-calendar"></i>
    {{ _('From %s to %s') % (period.start|date('d E Y'), period.end|date('d E Y')) }}
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-9">

      <h4>
      {% if period.level == 'premium_s' %}
        {{ _('Period of 1 month as Premium Small') }}
      {% elif period.level == 'premium_m' %}
        {{ _('Period of 1 month as Premium Medium') }}
      {% elif period.level == 'premium_l' %}
        {{ _('Period of 1 month as Premium Large') }}
      {% endif %}
      </h4>
      <ul>
        <li>
          {{ _('With %d athletes' % period.nb_athletes) }}
        </li>
        <li>
          {{ _('With %d trainers' % period.nb_trainers) }}
        </li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-3 text-right">
      <strong>
        {{ period.amount|floatformat(2) }} &euro;
      </strong>
    </div>
  </div>

  <hr />
  <div class="actions">
    <a href="{{ url('club-manage', period.club.slug) }}" class="btn btn-default">
      {{ _('Cancel') }}
    </a>

    {% if period.club.has_valid_card %}
    <form method="post" action="" style="display: inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">
        {{ _('Pay') }} {{ period.amount|floatformat(2) }} &euro;
      </button>
    </form>

    <p class="pull-right">
      <a href="https://mangopay.com" target="_blank">
        <img src="{{ static('img/mangopay.png') }}" alt="Mangopay" />
      </a>
    </p>
    {% else %}
    <a href="{{ url('payment-card', period.club.slug) }}" class="btn btn-primary">
      {{ _('Add a credit card') }}
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
