{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ _('Premium Membership') }}</h1>

  {% if user.is_premium %}
  <div class="alert alert-success">
    {{ _('You are a premium RunReport member !') }}
  </div>

  {% if transactions %}
  <h3>{{ _('Payments') }}</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{ _('Date') }}</th>
        <th>{{ _('Payment') }}</th>
        <th>{{ _('Status') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>
          {{ transaction.created|date('d E Y') }}
        </td>
        <td>
          {{ transaction.amount|floatformat(2) }}
          {% if transaction.currency == 'EUR' %}
            &euro;
          {% else %}
            {{ transaction.currency }}
          {% endif %}
        </td>
        <td>
          {% if transaction.status in ('open', 'pending') %}
          <span class="label label-default">{{ _('Processing...') }}</span>
          {% elif transaction.status in ('closed', ) %}
          <span class="label label-success">{{ _('Processed') }}</span>
          {% else %}
          <span class="label label-danger">{{ _('Failed') }}</span> : {{ transaction.status }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <div class="row">
    <div class="col-xs-12 text-right">
      {% for sub in subscriptions %}
      <a href="" class="btn btn-danger">
        {% if sub.offer.slug == 'trimester' %}
          {{ _('Cancel trimester subscription') }}
        {% elif sub.offer.slug == 'yearly' %}
          {{ _('Cancel yearly subscription') }}
        {% else %}
          {{ _('Cancel subscription') }}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>
    <a href="{{ url('payment-offer', 'trimester') }}" class="btn btn-default">
      {{ _('Buy trimester') }}
    </a>
    <a href="{{ url('payment-offer', 'yearly') }}" class="btn btn-default">
      {{ _('Buy yearly') }}
    </a>
  </p>
  {% endif %}
</div>
{% endblock %}
