<ul class="nav nav-tabs" role="tablist">
  <li>
    <a href="{{ pageday|url(*pageargs + [previous_day.year, previous_day.month, previous_day.day]) }}" role="tab">
      <i class="icon-left-open"></i>
    </a>
  </li>
  {% for d, sd in report.get_days_per_date().items() %}
  <li class="{% if d == session.date %}active{% endif %}">
    <a href="{{ pageday|url(*pageargs + [d.year, d.month, d.day]) }}" role="tab" >
      {% if d == session.date  %}
        {{ d|date('l d E Y')|title() }}
      {% else %}
        {{ d|date('l')|title() }}
      {% endif %}
      {% if sd %}
        {% for sport, nb in sd.sports_count() %}
          <i class="icon-sport-{{sport.slug}}"></i>{% if nb > 1 %} x {{ nb }}{% endif %}
        {% endfor %}
      {% endif %}
    </a>
  </li>
  {% endfor %}
  <li>
    <a href="{{ pageday|url(*pageargs + [next_day.year, next_day.month, next_day.day]) }}" role="tab">
      <i class="icon-right-open"></i>
    </a>
  </li>
</ul>
