{% extends 'modal.html' %}

{% set modal_title = day|date('l d E Y')|title() %}

{% block body %}
Etes vous sûr de vouloir supprimer cette journée ?
<ul>
  {% for s in session.sessions.all() %}
  <li><span class="icon-sport-{{s.sport.slug}}"></span> {{ s.name }}</li>
  {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">Annuler</button>
<a href="{% url report-day-delete day.year, day.month, day.day %}" class="btn btn-danger modal-action modal-post">Supprimer cette journée</a>
{% endblock %}
