{% extends 'base.html' %}

{% if member %}
{% set page_title = '%s %s : %s' % (member.first_name, member.last_name, day_date|date('l d E Y')|title()) %}
{% else %}
{% set page_title = day_date|date('l d E Y')|title() %}
{% endif %}

{% block content %}
<div class="container day">

  <div class="row title">
    {% if member %}
    <div class="col-sm-1 col-xs-2">
      <img class="img-responsive img-rounded" alt="Avatar" src="{{ member.avatar.url }}" />
    </div>
    <div class="col-sm-5 col-xs-10">
      <h3>{{ member.first_name }} {{ member.last_name }}</h3>
      <h4>{{ _('Week %s') % report }}</h4>
    </div>
    {% else %}
    <div class="col-sm-6 col-xs-12">
      <h3>{{ _('Your week %s') % report }}</h3>
    </div>
    {% endif %}
    <div class="col-sm-6 col-xs-12 text-right">
      <a href="{{ pageweek|url(*pageargs + [report.year, report.week]) }}" class="btn btn-info btn-light"><i class="icon-list"></i> {{ _('View the week') }}</a>
      <a href="{{ pagemonth|url(*pageargs + [day_date.year, day_date.month]) }}" class="btn btn-danger btn-light"><i class="icon-calendar"></i> {{ _('View the month') }}</a>
      {% if member %}
      <a href="{% url user-public-profile member.username %}" class="btn btn-primary btn-light">
        <i class="icon-user"></i>
          {% if member == user %}
            {{ _('View your profile') }}
          {% else %}
            {{ _('View this profile') }}
          {% endif %}
      </a>
        {% if member == user %}
        <a href="{% url report-day day_date.year, day_date.month, day_date.day %}" class="btn btn-success btn-light">
          <i class="icon-edit"></i> {{ _('Edit') }}
        </a>
        {% endif %}
      {% else %}
      <a href="{% url user-calendar-day user.username, day_date.year, day_date.month, day_date.day %}" class="btn btn-success btn-light">
        <i class="icon-link"></i> {{ _('Public profile link') }}
      </a>
      {% endif %}
    </div>
  </div>

  {% include 'sport/day/_nav.html' %}

  {% if not member and friends_sessions %}
  <div id="friends">
    <div class="form-group row">
      <div class="col-xs-12">
        <label class="control-label col-sm-2 hidden-xs text-right">Amis</label>
        <div class="col-sm-10 col-xs-12">
          {% for fs in friends_sessions %}
            {% with fs.day.week.user as friend %}
            {% with fs.day.date as dt %}
            <a class="session col-md-4 col-sm-6 col-xs-12 shortcut" href="{% url user-calendar-day friend.username, dt.year, dt.month, dt.day %}" target="_blank">
              <img class="img-rounded img-responsive" src="{{ friend.avatar.url }}" alt="{{ friend.username }}" />
              <strong>{{ friend.first_name }} {{ friend.last_name }}</strong>
              <p>
                <i class="icon-sport-{{ fs.sport.slug }} do-tooltip" title="{{ fs.sport.name }}"></i>
                {% if fs.track %}
                  <i class="icon-location"></i>
                {% endif %}
                <span class="text-muted">&bull;</span>
                {{ fs.name|truncatechars(20)|default('Pas de nom') }}
              </p>
            </a>
            {% endwith %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr />
  {% endif %}

  <div id="sessions-{{day_date}}">
  {% if member %}
    {% with True as show_comments %}
    {% include 'sport/session/list.html' %}
    {% endwith %}
  {% else %}
    {% for form in forms %}
      {% with form.instance as session %}
        {% include 'sport/session/edit.html' %}
      {% endwith %}
      <hr />
    {% endfor %}
  {% endif %}
  </div>

  {% if not member %}
    {% if report.task %}
    <div class="alert alert-info">
      <h4>{{ _('Sending report') }}</h4>
      {{ _('This week\'s report is being sent to your trainers') }}
    </div>
    {% endif %}

    {% if previous_week %}
    <div class="alert alert-danger">
      <h4>{{ _('Last week\'s report not published !') }}</h4>
      <a class="btn btn-warning pull-right" href="{% url report-week previous_week.year, previous_week.week %}">
        {{ _('Publish last week') }}
      </a>
      {{ _('Your comments from last week have not been published') }}
    </div>
    {% endif %}

  <div class="actions">
    {% if session.pk %}
    <a href="{% url report-day-delete day_date.year, day_date.month, day_date.day %}" class="pull-left modal-action btn btn-light btn-danger"><i class="icon-trash"></i> {{ _('Delete this day') }}</a>
    {% endif %}
    <p class="text-right">
      <a href="{% url sport-session-add day_date.year, day_date.month, day_date.day %}" class="modal-action btn btn-light btn-primary extra-sport-add" data-append="sessions-{{day_date}}">
        <i class="icon-plus"></i> {{ _('Add a session') }}
      </a>
      {% if report.published or report.task %}
      <a href="{% url report-week-publish report.year, report.week %}" class="modal-action btn btn-light btn-success">
        <i class="icon-list"></i> {{ _('Week published') }}
      </a>
      {% else %}
      <a href="{% url report-week-publish report.year, report.week %}" class="modal-action btn btn-light btn-info">
        {{ _('Publish this week') }} <i class="icon-right-open"></i>
      </a>
      {% endif %}
    </p>
  </div>
  {% endif %}

</div>
{% endblock %}
