{% extends 'modal.html' %}

{% set modal_title = day|date('l d E Y')|title() %}
{% set modal_width = 800 %}

{% set form_class = "day" %}

{% block body %}
  {% with True as modal %}
  {% for form in forms %}
    {% include 'sport/session/edit.html' %}
    {% if not loop.last %}<hr />{% endif %}
  {% endfor %}
  {% endwith %}
{% endblock %}

{% block footer %}
{% if session.pk %}
<a href="{% url report-day-delete day.year, day.month, day.day %}" class="pull-left btn btn-danger btn-sm modal-action"><i class="icon-trash"></i> Supprimer la journée</a>
{% endif %}
<button class="btn btn-default btn-sm" data-dismiss="modal">Fermer</button>
<a href="{{ report.get_absolute_url() }}" class="pull-right btn btn-info btn-sm">Voir cette semaine</a>
{% endblock %}
