{% if session.track and 'tracks' in privacy %}
{% with session.track as track %}

{% if track.simple %}
<div class="col-xs-12">
  <div id="track_{{ track.id }}" class="track_map" data-src="{% url track-coords track.id %}">
    Loading map...
    <a target="_blank" href="{{ track.get_url() }}" class="btn btn-info btn-sm">
      Voir sur {{ track.provider|title() }} <i class="icon-right-open"></i>
    </a>
  </div>
</div>
{% endif %}

<div class="panel-group col-xs-12" id="accordion">
  {% if track.split_total %}
  <div class="panel panel-default total">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#stats_{{track.id}}">
          Statistiques {{ track.provider|title() }}
        </a>
      </h4>
    </div>
    <div id="stats_{{ track.id }}" class="panel-collapse in">
      <div class="panel-body">
        <div class="col-sm-3 col-xs-6">
          <h4>
            {{ track.split_total.time|total_time() }}
          </h4>
          <span class="text-info">
            Temps
          </span>
        </div>
        <div class="col-sm-3 col-xs-6">
          <h4>
            {% if session.sport.slug == 'swimming' %}
              {{ track.split_total.distance|default(0)|floatformat(0) }} m
            {% else %}
              {{ track.split_total.distance|total_distance() }}
            {% endif %}
          </h4>
          <span class="text-info">
            Distance
          </span>
        </div>
        <div class="col-sm-3 col-xs-6">
          <h4>
            {% if session.sport.slug in ('swimming', 'cycling') %}
              {{ track.split_total.speed|default(0)|convert_speed_kmh()|floatformat(2) }} km/h
            {% else %}
              {{ track.split_total.speed|default(0)|convert_speed() }} min/km
            {% endif %}
          </h4>
          <span class="text-info">
            Vitesse moyenne
          </span>
        </div>
        <div class="col-sm-3 col-xs-6">
          {% if session.sport.slug == 'swimming' %}
          <h4>
            {{ track.split_total.energy|default(0)|floatformat(0) }} kcal
          </h4>
          <span class="text-info">
            Calories
          </span>
          {% else %}
          <h4>
            + {{ track.split_total.elevation_gain|default(0)|floatformat() }} m
          </h4>
          <span class="text-info">
            Dénivelé positif
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="panel panel-default splits">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#splits_{{track.id}}">
          Circuits
        </a>
      </h4>
    </div>
    <div id="splits_{{track.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-responsive table-striped table-condensed">
          <tr>
            <th>#</th>
            <th>Distance</th>
            <th>Cumulé</th>
            <th>Temps</th>
            <th>Cumulé</th>
            <th>Vitesse</th>
            <th>Max</th>
            {% if session.sport.slug not in ('swimming') %}
              <th>D. +</th>
              <th>D. -</th>
            {% endif %}
            <th>Energie</th>
          <tr>
          {% for s in track.splits.exclude(position=0).order_by('position') %}
          <tr>
            <td>{{ s.position }}</td>
            <td>{{ s.distance|default(0)|total_distance() }}</td>
            <td class="text-muted">{{ s.distance_total|default(0)|total_distance() }}</td>
            <td>{{ s.time|default(0)|total_time(short=True) }}</td>
            <td class="text-muted">{{ s.time_total|default(0)|total_time(short=True) }}</td>
            {% if session.sport.slug in ('swimming', 'cycling') %}
              <td>{{ s.speed|default(0)|convert_speed_kmh()|floatformat(2) }} km/h</td>
              <td>{{ s.speed_max|default(0)|convert_speed_kmh()|floatformat(2) }} km/h</td>
            {% else %}
              <td>{{ s.speed|default(0)|convert_speed() }} min/km</td>
              <td>{{ s.speed_max|default(0)|convert_speed() }} min/km</td>
            {% endif %}
            {% if session.sport.slug not in ('swimming') %}
              <td>{{ s.elevation_gain|default(0)|floatformat(0) }} m</td>
              <td>{{ s.elevation_loss|default(0)|floatformat(0) }} m</td>
            {% endif %}
            <td>{{ s.energy|default(0)|floatformat(0) }} kcal</td>
          </tr>
          {% endfor %}
          {% if track.split_total %}
          <tr class="total">
            <td>Total</td>
            <td>{{ track.split_total.distance|default(0)|total_distance() }}</td>
            <td>-</td>
            <td>{{ track.split_total.time|default(0)|total_time(short=True) }}</td>
            <td>-</td>
            {% if session.sport.slug in ('swimming', 'cycling') %}
              <td>{{ track.split_total.speed|default(0)|convert_speed_kmh()|floatformat(2) }} km/h</td>
              <td>{{ track.split_total.speed_max|default(0)|convert_speed_kmh()|floatformat(2) }} km/h</td>
            {% else %}
              <td>{{ track.split_total.speed|default(0)|convert_speed() }} min/km</td>
              <td>{{ track.split_total.speed_max|default(0)|convert_speed() }} min/km</td>
            {% endif %}
            {% if session.sport.slug not in ('swimming') %}
              <td>{{ track.split_total.elevation_gain|default(0)|floatformat(0) }} m</td>
              <td>{{ track.split_total.elevation_loss|default(0)|floatformat(0) }} m</td>
            {% endif %}
            <td>{{ track.split_total.energy|default(0)|floatformat(0) }} kcal</td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endwith %}
{% endif %}
