{% extends 'modal.html' %}

{% set modal_title = _('Disconnect %s') % provider.NAME|title() %}

{% set form_url = 'track-provider-disconnect'|url(provider.NAME) %}

{% block body %}
{{ _('Are you sure to disconnect the GPS Service %s from your account ?') % provider.NAME|title() }}
{% endblock %}

{% block footer %}
  <button class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
  <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> {{ _('Disconnect') }}</i></button>
{% endblock %}
