{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ _('Connection to %s' % provider|title() }}</h1>

  {% if response %}
    <div class="alert alert-success">
      <h4>{{ _('Successfull Authentification') }}</h4>
      {% if provider == 'strava' %}
      {{ _('You are using the Strava profile') }} : {{ response.firstname }} {{ response.lastname }} - {{ response.email }}
      {% endif %}
    </div>
  {% endif %}

  {% if error %}
  <div class="alert alert-danger">
    <h4>{{ _('Authentification failure') }}</h4>
    {{ error }}
  </div>

  <a href="{{ auth_url }}" class="btn btn-info">
    {{ _('Connection to %s') % provider|title() }}
  </a>
  {% endif %}

  <a class="btn btn-primary pull-right" href="{% url track-providers %}">
    {{ _('Back to GPS services') }}
  </a>
</div>
{% endblock %}
