{% extends 'base.html' %}

{% set page_title = _('GPS Services') %}

{% block content %}
<div class="container">
  <h1>{{ _('GPS Services') }}</h1>
  <p>
    {{ _('You can use several GPS services to automatically import your sessions.') }}
  </p>

  {% for provider in providers %}
  <div class="row">
    {% with provider.imported_stats() as stats %}
    {% with provider.is_connected() as connected %}
    <h2>
      {{ provider.NAME|title() }}
    </h2>
    <div class="col-sm-2 col-xs-4">
      {% if connected  %}
      <span class="label label-success">{{ _('Connected') }}</span>
      {% else %}
      <span class="label label-danger">{{ _('Disconnected') }}</span>
      {% endif %}
    </div>

    <div class="col-sm-6 col-xs-8">
      {% if stats.total %}
      <span class="badge badge-info">{{ stats.total }}</span>
      {{ _('imported tracks from %(start)s to %(end)s') % {'start' : stats.min_date|date('d/m/Y'), 'end'   : stats.max_date|date('d/m/Y'),} }}
      {% else %}
      <span class="text-warning">{{ _('No tracks imported') }}</span>
      {% endif %}
    </div>

    <div class="col-sm-4 col-xs-12 text-right">
      {% if connected %}
        <a href="{% url track-provider-disconnect provider.NAME %}" class="btn btn-danger modal-action">
          <i class="icon-trash"></i> {{ _('Disconnect %s') % provider.NAME|title() }}
        </a>
      {% else %}
        {% if provider.NAME == 'garmin' %}
        <a href="{% url user-garmin %}" class="btn btn-success">
          {{ _('Connect %s') % provider.NAME|title() }} <i class="icon-right-open"></i>
        </a>
        {% else %}
        <a href="{{ provider.auth() }}" class="btn btn-success">
          {{ _('Connect %s') % provider.NAME|title() }} <i class="icon-right-open"></i>
        </a>
        {% endif %}
      {% endif %}
    </div>

    {% endwith %}
    {% endwith %}
  </div>
  {% endfor %}

</div>
{% endblock %}
