{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
$(function(){
  var map = L.map('track_map');
//.setView([51.505, -0.09], 13);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18
  }).addTo(map);

  var polygon = L.polyline([{% for lat, lng in track.raw.coords %}[{{ lat }}, {{ lng }}],{% endfor %}], {color: 'red', }).addTo(map);
  map.fitBounds(polygon.getBounds());
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div id="track_map"></div>
</div>
{% endblock %}
