footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  line-height: $footer_height;
  background: none repeat scroll 0 0 $color_gallery_approx;
  border-top: 1px solid $color_alto_approx;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  a {
    color: $color_pickled_bluewood_approx;
	}
}

