	footer {
a {
	color: $color_pickled_bluewood_approx;
}
		background: none repeat scroll 0 0 $color_gallery_approx;
		border-top: 1px solid $color_alto_approx;
		text-align: center;
		position: absolute;
		bottom: 0;
		font-size: 15px;
		line-height: 30px;
		height: 30px;
		overflow: hidden;
		width: 100%;
	}

