nav.navbar {
  padding: 0;
  height: $navbar_height;
  a.logo {
    margin: 0;
    width: 100px;
    height: $navbar_height * 0.95;
    background: url(../img/logo_bloc.svg) no-repeat center center transparent;
  }
  li {
    &.debug a {
      color: $web_orange;
    }
    &.lang button {
      padding-left: 5px;
      padding-right: 2px;
    }
  }

	&.nav li.notifications {
		a {
			padding-right: 0;
			padding-left: 2px;
		}
		&.red a span.badge {
			background: $color_cinnabar_approx;
		}
	}
}
