nav {
  .navbar-brand {
    padding: 0 0 0 5px;
    img {
      max-height: 60px;
      width: 100%;
      &.line {
        min-width: 309px;
      }
      &.block {
        min-width: 70px;
      }
    }
  }
  li {
    &.debug a {
      color: $web_orange;
    }
    &.lang button {
      padding-left: 5px;
      padding-right: 2px;
    }
  }
  .navbar-fixed-top:hover .navbar-brand i::before {
    animation: logoAnim 2s ease;
  }
	&.nav li.notifications {
		a {
			padding-right: 0;
			padding-left: 2px;
		}
		&.red a span.badge {
			background: $color_cinnabar_approx;
		}
	}
}
