{% if day %}
<div class="row link" href="{{url(pageday, *pageargs + [day.date.year, day.date.month, day.date.day])}}">
  <div class="col-xs-12">
    <strong>{% if day.date == today %}{{ _('Today') }} : {% endif %}{{day.date|date('l d E Y')|title()}}</strong>
    {% for session in day.sessions.all() %}
    <div>
      <span class="type {{ session.type }}"></span>
      {% if session.plan_session %}
      <i class="icon-plan-session do-tooltip" title="{{ _('Plan from trainer') }}"></i>
      {% endif %}
      <i class="icon-sport-{{session.sport.slug}} do-tooltib" title="{{ _(session.sport.name) }}" ></i>
      {{ session.name|default('...')}}
    </div>
    {% endfor %}
    {% if day.plan_day %}
    <div>
      <i class="icon-tags"> </i> {{ day.plan_day.week.plan.name|truncate(10) }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
