{% extends 'base.html' %}

{% set page_title = 'Calendrier %s' % (months.1|date('E Y'), ) %}

{% block content %}

<div class="container" id="calendar">

	<div class="row">
    {% if member %}
    <div class="col-sm-1 col-xs-2">
      <img class="img-responsive img-rounded" alt="Avatar" src="{{ member.avatar.url }}" />
    </div>
    <div class="col-sm-5 col-xs-10">
      <h3>{{ member.first_name }} {{ member.last_name }}</h3>
      <h4>{{months.1|date('E Y')}}</h4>
    </div>
    {% else %}
    <div class="col-sm-6 col-xs-12">
      <h3>{{months.1|date('E Y')}}</h3>
    </div>
    {% endif %}

		<div class="col-sm-6 col-xs-12 text-right buttons">
			<a class="btn btn-primary btn-light" href="{{pageyear|url(*pageargs + [months.1.year ])}}"><i class="icon-list-alt"></i> Calendrier annuel</a>
			{% if member %}
			<a class="btn btn-success btn-light" href="{% url athlete-stats-year member.username, months.1.year %}"><i class="icon-plus"></i> Statistiques</a>

      <a href="{% url user-public-profile member.username %}" class="btn btn-primary btn-light">
        <i class="icon-user"></i> Voir son profil
      </a>
      {% else %}
			<a class="btn btn-success btn-light" href="{% url stats-year months.1.year %}"><i class="icon-plus"></i> Statistiques</a>
			<a class="btn btn-info btn-light" href="{% url export-month months.1.year, months.1.month %}"><i class="icon-down-open"></i> Export CSV</a>
			{% endif %}
		</div>
	
	</div>

	<table class="table table-bordered table-condensed calendar hidden-xs">
		<tr>
			<th>Lundi</th>
			<th>Mardi</th>
			<th>Mercredi</th>
			<th>Jeudi</th>
			<th>Vendredi</th>
			<th>Samedi</th>
			<th>Dimanche</th>
		</tr>
		{% for week in weeks %}
		<tr>
			{% for day in week %}
			{% with sessions[day] as session %}
			<td class="day link" href="{{pageday|url(*pageargs + [day.year, day.month, day.day])}}">

				<p class="date">
					{% if day.day == 1 or (loop.first and day.month != months.1.month) %}
					{{day|date('d E')}}
					{% else %}
					{{day|date('d')}}
					{% endif %}
				</p>
				{% if session %}
          {% for s in session.sessions.all() %}
          <p class="session {{ s.type }}">
            <i class="icon-sport-{{s.sport.slug}}"></i>
            {% if s.track %}
            <i class="icon-location"></i>
            {% endif %}
            {{ s.name|default('...') }}
          </p>
          {% endfor %}
          {% with friends_sessions[day] as nb %}
            {% if nb %}
            <p class="session">
              <i class="icon-club"> </i> {{ nb }} séances d'amis
            </p>
            {% endif %}
          {% endwith %}
				{% endif %}
			</td>
			{% endwith %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<div class="visible-xs row-striped">
		{% for day_date in date_list %}
      {% with object_list.get(day_date, None) as day %}
      {% include 'sport/calendar/_day.xs.html' %}
      {% endwith %}
		{% endfor %}
	</div>


	<ul class="pager">
		{% if months.0 %}
		<li class="previous">
			<a href="{{pagemonth|url(*pageargs + [months.0.year, months.0.month ])}}">&laquo; {{months.0|date('E Y')}}</a>
		</li>
		{% endif %}
		{% if months.2 %}
		<li class="next">
			<a href="{{pagemonth|url(*pageargs + [months.2.year, months.2.month ])}}">{{months.2|date('E Y')}} &raquo;</a>
		</li>
		{% endif %}
	</ul>

</div>

{% endblock %}
