{% extends 'base.html' %}

{% set page_title = _('Calendrier %s') % (months.1|date('E Y'), ) %}

{% block content %}

<div class="container" id="calendar">

	<div class="row">
    {% if member %}
    <div class="col-sm-1 col-xs-2">
      <img class="img-responsive img-rounded" alt="Avatar" src="{{ member.avatar.url }}" />
    </div>
    <div class="col-sm-5 col-xs-10">
      <h3>{{ member.first_name }} {{ member.last_name }}</h3>
      <h4>{{months.1|date('E Y')}}</h4>
    </div>
    {% else %}
    <div class="col-sm-6 col-xs-12">
      <h3>{{months.1|date('E Y')}}</h3>
    </div>
    {% endif %}

		<div class="col-sm-6 col-xs-12 text-right buttons">
			<a class="btn btn-primary btn-light" href="{{url(pageyear, *pageargs + [months.1.year ])}}"><i class="icon-list-alt"></i> {{ _('Year\'s calendar') }}</a>
			{% if member %}
			<a class="btn btn-success btn-light" href="{{ url('athlete-stats-year', member.username, months.1.year) }}"><i class="icon-plus"></i> {{ _('Stats') }}</a>

      <a href="{{ url('user-public-profile', member.username) }}" class="btn btn-primary btn-light">
        <i class="icon-user"></i> {{ _('View his profile') }}
      </a>

        {% if user.is_authenticated() and user.is_trainer_of(member) %}
        <a class="btn btn-info btn-light" href="{{ url('export-month-user', member.username, months.1.year, months.1.month) }}"><i class="icon-down-open"></i> {{ _('CSV Export') }}</a>
        {% endif %}

      {% else %}
			<a class="btn btn-success btn-light" href="{{ url('stats-year', months.1.year) }}"><i class="icon-plus"></i> {{ _('Stats') }}</a>
			<a class="btn btn-info btn-light" href="{{ url('export-month', months.1.year, months.1.month) }}"><i class="icon-down-open"></i> {{ _('CSV Export') }}</a>
			{% endif %}
    </div>

    {% if not member %}
		<div class="hidden-xs col-sm-6 col-sm-offset-6 col-xs-12 text-right buttons">
      <div id="toggle-friends">
        <button class="btn btn-sm btn-primary btn-light">
          <i class="icon-club"></i>
          {{ _('Hide friends') }}
        </button>
        <button class="btn btn-sm btn-primary btn-light" style="display: none">
          <i class="icon-club"></i>
          {{ _('Show friends') }}
        </button>
      </div>
		</div>
    {% endif %}
	
	</div>

	<table class="table table-bordered table-condensed calendar hidden-xs">
		<tr>
			<th>{{ _('Monday') }}</th>
			<th>{{ _('Tuesday') }}</th>
			<th>{{ _('Wednesday') }}</th>
			<th>{{ _('Thursday') }}</th>
			<th>{{ _('Friday') }}</th>
			<th>{{ _('Saturday') }}</th>
			<th>{{ _('Sunday') }}</th>
		</tr>
		{% for week in weeks %}
		<tr>
			{% for day in week %}
			{% with session = sessions[day] %}
			<td class="day link {% if day == today %}today{% endif %}" href="{{url(pageday, *pageargs + [day.year, day.month, day.day])}}">

				<p class="date">
          {% if day == today %}
          {{ _('Today') }} &bull;
          {% endif %}
					{% if day.day == 1 or (loop.first and day.month != months.1.month) %}
					{{day|date('d E')}}
					{% else %}
					{{day|date('d')}}
					{% endif %}
				</p>
				{% if session %}
          {% for s in session.sessions.all() %}
          <p class="session {{ s.type }} {% if s.plan_session %}plan-{{ s.plan_session.status }}{% endif %}">
            <i class="icon-sport-{{s.sport.slug}} do-tooltip" title="{{ _(s.sport.name) }}"></i>
            {% if s.track %}
            <i class="icon-location do-tooltip"></i>
            {% endif %}
            {% if s.plan_session %}
            <i class="icon-plan-session do-tooltip" title="{{ _('Plan from trainer') }}"></i>
            {% endif %}
            {% if s.plan_session and not s.name %}
            <em>{{ s.plan_session.plan_session.name }}</em>
            {% else %}
            {{ s.name|default('...') }}
            {% endif %}
          </p>

          {% endfor %}
				{% endif %}
        {% with nb = friends_sessions[day] %}
          {% if nb %}
          <p class="session friends">
            <i class="icon-club"> </i> {{ nb }} {{ _('friends sessions') }}
          </p>
          {% endif %}
        {% endwith %}
			</td>
			{% endwith %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	<div class="visible-xs row-striped">
		{% for day_date in date_list %}
      {% with day = object_list.get(day_date, None) %}
      {% include 'sport/calendar/_day.xs.html' %}
      {% endwith %}
		{% endfor %}
	</div>


	<ul class="pager">
		{% if months.0 %}
		<li class="previous">
			<a href="{{url(pagemonth, *pageargs + [months.0.year, months.0.month ])}}">&laquo; {{months.0|date('E Y')}}</a>
		</li>
		{% endif %}
		{% if months.2 %}
		<li class="next">
			<a href="{{url(pagemonth, *pageargs + [months.2.year, months.2.month ])}}">{{months.2|date('E Y')}} &raquo;</a>
		</li>
		{% endif %}
	</ul>

</div>

{% endblock %}
