{% extends 'base.html' %}

{% set page_title = _('Year %s') % year %}
{% set page_size = 'fullscreen' %}

{% block content %}
<div class="container" id="calendar">

	<div class="row">
    {% if member %}
    <div class="col-sm-1 col-xs-2">
      <img class="img-responsive img-rounded" alt="Avatar" src="{{ member.avatar.url }}" />
    </div>
    <div class="col-sm-5 col-xs-10">
      <h3>{{ member.first_name }} {{ member.last_name }}</h3>
      <h4>{{ _('Year %s') % year }}</h4>
    </div>
    {% else %}
		<div class="col-sm-6">
      <h3>{{ _('Year %s') % year }}</h3>
		</div>
    {% endif %}

		<div class="col-sm-6 text-right buttons">
			{% if member %}
			<a class="btn btn-success btn-light" href="{{ url('athlete-stats-year', member.username, year) }}"><i class="icon-plus"></i> {{ _('Stats') }}</a>
      <a href="{{ url('user-public-profile', member.username) }}" class="btn btn-primary btn-light">
        <i class="icon-user"></i> {{ _('View this profile') }}
      </a>
      {% else %}
			<a class="btn btn-success btn-light" href="{{ url('stats-year', year) }}"><i class="icon-plus"></i> {{ _('Stats') }}</a>
			{% endif %}
		</div>
	</div>

  <table class="table  table-condensed calendar hidden-xs">
    <tr>
      <td>
        <div class="year hidden-xs">
          {% for month, days in date_list.items() %}
          <div class="month">
            <div class="head">
              <a href="{{ url(pagemonth, *pageargs + [year, month.month]) }}" >{{ month|date('E')|title() }}</a>
            </div>

            {% for day_date, day in days.items() %}
            <div class="day link" href="{{ url(pageday, *pageargs + [day_date.year, day_date.month, day_date.day]) }}">
              <span class="date">{{ day_date.day }}</span>
              {% if day %}
                {% if fog and day.date >= fog %}
                  {% if day and day.sessions.exists() %}
                  <p class="text-warning">{{ _('Hidden') }}</p>
                  {% endif %}
                {% else %}
                  <p class="name">
                  {% for s in day.sessions.all() %}
                    <span class="session {{ s.type }}">
                      <i class="icon-sport-{{s.sport.slug}}"></i>
                      {% if day.sessions.count() == 1 %}
                        {{ s.name|default('...')|truncatechars(20) }}
                      {% endif %}
                    </span>
                  {% endfor %}
                  </p>
                {% endif %}
              {% endif %}
            </div>
            {% endfor %}

          </div>
          {% endfor %}
        </div>
      </td>
    </tr>
  </table>

	<div class="visible-xs">
    {% for month, days in date_list.items() %}
    {% if month.month in months_active %}
      <h3>
        {{ month|date('E Y')|title() }}
        <a href="{{ url('report-month', month.year, month.month) }}" class="btn btn-sm btn-info pull-right">{{ _('View this month') }}</a>
      </h3>
			<div class="row-striped">
	      {% for day_date,day in days.items() %}
        {% include 'sport/calendar/_day.xs.html' %}
	      {% endfor %}
			</div>
    {% endif %}
    {% endfor %}
    </div>

	<ul class="pager">
		{% if previous_year %}
		<li class="previous">
			<a href="{{ url(pageyear, *pageargs + [previous_year, ]) }}">&laquo; {{ _('Year %s') % previous_year }}</a>
		</li>
		{% endif %}
		{% if next_year %}
		<li class="next">
			<a href="{{ url(pageyear, *pageargs + [next_year, ]) }}">{{ _('Year %s') % next_year }} &raquo;</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}
