{% extends 'base.html' %}

{% set page_title = '%s %s' % (member.first_name, member.last_name) %}

{% block content %}

{% set owner_css = {
  'public' : 'alert-success',
  'club' : 'alert-warning',
  'private' : 'alert-danger',
} %}
{% set role_css = {
  'athlete' : 'label-info',
  'trainer' : 'label-success',
  'staff' : 'label-danger',
} %}


<div class="container profile">

  {% if member == user %}
  <div class="alert {{ owner_css[user.privacy_profile] }}">
    <h4>Votre profil {{ levels[user.privacy_profile] }} </h4>
    {% if user.privacy_profile == 'private' %}
    Vous êtes le seul à pouvoir voir votre profil public.
    {% elif user.privacy_profile == 'club' %}
    Tous les membres de vos clubs peuvent voir votre profil public.
    {% else %}
    Tout le monde peut voir votre profil public.
    {% endif %}
  </div>
  {% endif %}

  <div class="row">

    <div class="col-sm-7">
      <h1>{{ member.first_name }} {{ member.last_name }}</h1>

      {% for m in member.memberships.exclude(role__in=('prospect', 'archive')) %}
      <h4>
        <span class="label {{ role_css[m.role] }}">{{ roles[m.role] }}</span> au <a href="{% url club-members m.club.slug %}">{{ m.club.name }}</a>
      </h4>
        {% with m.trainers.exclude(pk=member.pk) as trainers %}
          {% for trainer in trainers %}
          <span class="label {{ role_css['trainer'] }}">Entrainé</span> par 
            <a href="{% url user-public-profile  trainer.username %}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
          {% endfor %}
        {% endwith %}
      {% endfor %}
    </diV>

    {% if 'avatar' in privacy %}
    <div class="col-sm-4 col-sm-offset-1">
      <img class="img-responsive img-thumbnail avatar pull-right" src="{{ member.avatar.url }}" alt="Avatar de {{ member.first_name }} {{ member.last_name }}"/>
    </div>
    {% endif %}
  </div>

  {% if 'races' in privacy %}
  {% include 'users/profile/races.html' %}
  {% endif %}

  {% if 'records' in privacy %}
  {% include 'users/profile/records.html' %}
  {% endif %}

  {% if 'stats' in privacy %}
  {% include 'users/profile/stats.html' %}
  {% endif %}
</div>

{% endblock %}
