{% extends 'base.html' %}

{% set page_title = '%s %s' % (member.first_name, member.last_name) %}


{% block js %}
{% if 'stats' in privacy %}
<script type="text/javascript">
$(function(){

  // Setup data sets
  var distances = [{% for m in months %}[{{m.timestamp*1000}}, {{m.distance or 0}}],{% endfor %}];
  var hours     = [{% for m in months %}[{{m.timestamp*1000}}, {{m.hours or 0}}],{% endfor %}];

  // Build months urls
  var urls = [{% for m in months %}'{{ url('user-calendar-month', member.username, m.year, m.month) }}',{% endfor %}];

  // Plot charts
  plot_hours_distances(hours, distances, urls);
});
</script>
{% endif %}
{% endblock %}

{% block content %}

{% set role_css = {
  'athlete' : 'label-info',
  'trainer' : 'label-success',
  'staff' : 'label-danger',
} %}


<div class="container profile">

  <div class="row">
    
    <div class="col-xs-12">
      <h1>{{ member.first_name }} {{ member.last_name }}</h1>
    </div>

    <div class="col-sm-9 col-xs-9">
      {% if user != member and user.is_authenticated() %}
      <p class="pull-right text-right">

        {# Friend ? #}
        {% if friend_status == 'friend' %}
        <button class="btn btn-success disabled">
          <i class="icon-club"></i> {{ _('Friend') }}
        </button>
        {% elif friend_status == 'request' %}
        <button class="btn btn-info disabled">
          <i class="icon-club"></i> {{ _('Requested') }}
        </button>
        {% else %}
        <span id="fr_{{ member.pk }}">
          <button data-replaces="fr_{{ member.pk }}" class="btn btn-info modal-action modal-post" href="{{ url('friend-add', member.username) }}">
            <i class="icon-club"></i> {{ _('Add friend') }}
          </button>
        </span>
        {% endif %}

        {# Send a message #}
        <a href="{{ url('message-user-add', member.username) }}" class="modal-action btn btn-info">
          <i class="icon-mail"></i> {{ _('Send a message') }}
        </a>
      </p>
      {% endif %}

      {% for m in member.memberships.exclude(role__in=('prospect', 'archive')) %}
      <h4>
        <span class="label {{ role_css[m.role] }}">{{ _(m.role|title) }}</span> <a href="{{ url('club-members', m.club.slug) }}">{{ m.club.name }}</a>
      </h4>
        {% with trainers = m.trainers.exclude(pk=member.pk) %}
          {% for trainer in trainers %}
          <span class="label {{ role_css['trainer'] }}">{{ _('Trained by') }}</span>
            <a href="{{ url('user-public-profile', trainer.username) }}">{{ trainer.first_name }} {{ trainer.last_name }}</a>
          {% endfor %}
        {% endwith %}
      {% with groups = m.groups.all() %}
      {% if groups %}
      <p>
        <span class="label label-warning">{{ _('Groups') }}</span>
        {% for group in groups %}
          <a href="{{ url('club-group', m.club.slug, group.slug) }}">{{ group.name }}</a>
          {% if not loop.last %}&bull;{% endif %}
        {% endfor %}
      </p>
      {% endif %}
      {% endwith %}
      {% endfor %}

      {# Badges #}
      {% if badges %}
      <div class="row badges">
        {% for badge in badges %}
        <div class="col-sm-1 col-xs-3 text-center">
          <a href="{{ url('badges-user', member.username) }}">
            <img class="img-responsive" src="{{ badge.image.url }}" />
            {{ badge.name }}
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if 'calendar' in privacy %}

      <hr />
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          {% if last_sessions %}
          <p>
            <span class="label label-danger">{{ _('%d last sessions') %  last_sessions|length() }}</span>
          </p>
          {% for session in last_sessions %}
          <p>
            <i class="icon-sport-{{session.sport.slug }}"></i>
            <a href="{{ url('user-calendar-day', member.username, session.day.date.year, session.day.date.month, session.day.date.day) }}">{{ session.name|default('Séance')|truncate(40)}}</a>, {{ _('%s ago') % session.day.date|timesince }}
          </p>
          {% endfor %}
          {% endif %}

          <a class="btn btn-primary btn-sm" href="{{ url('user-calendar-month', member.username, today.year, today.month) }}">{{ _('View calendar') }}<i class="icon-calendar"></i></a>
        </div>

        {% if 'comments' in privacy %}
        <div class="col-sm-6 col-xs-12">
          {% if commented_sessions %}
          <p>
            <span class="label label-success">{{ _('%d most commented sessions') % commented_sessions|length() }}</span>
          </p>
          {% for session in commented_sessions %}
          <p>
            <i class="icon-sport-{{session.sport.slug }}"></i>
            <a href="{{ url('user-calendar-day', member.username, session.day.date.year, session.day.date.month, session.day.date.day) }}">{{ session.name|default('Séance')|truncate(40)}}</a>
            , {{ _('%d comments') % session.nb_comments }}
          </p>
          {% endfor %}
          {% endif %}
        </div>
        {% endif %}

      </div>
      {% endif %}
    </diV>

    {% if 'avatar' in privacy %}
    <div class="col-sm-3 col-xs-3">
      <img class="img-responsive img-thumbnail avatar pull-right" src="{{ member.avatar.url }}" alt="Avatar {{ member.first_name }} {{ member.last_name }}"/>
    </div>
    {% endif %}
  </div>

  {% if not user.is_authenticated() %}
  <div class="alert alert-info">
    <h4>{{ _('You are not connected !') }}</h4>
    {{ _('To read more about %s, and become his friend, you must be connected on RunReport.') % member.first_name }}
    <br />
    {{ _('You can create an account, or sign in by using the menu on top.') }}
  </div>
  {% endif %}

  {% if 'trainer' in privacy %}
  {% include 'users/profile/trainer.html' %}
  {% endif %}

  {% if 'stats' in privacy %}
  {% include 'users/profile/stats.html' %}
  {% endif %}

  {% if 'races' in privacy %}
  {% include 'users/profile/races.html' %}
  {% endif %}

  {% if 'records' in privacy %}
  {% include 'users/profile/records.html' %}
  {% endif %}

</div>

{% endblock %}
