<h3>{{ _('Stats of the last 12 months') }}</h3>

{% if months %}
<ul class="breadcrumb">
  {% for year in years %}
    <li><a href="{{ url('athlete-stats-year', member.username, year) }}">{{ _('Year') }} {{year}}</a> <span class="divider"></span></li>
  {% endfor %}
  <li><a href="{{ url('athlete-stats-all', member.username) }}">{{ _('All sessions') }}</a> <span class="divider"></span></li>
</ul>

<div id="stats">
  <div class="hours_distances"></div>
</div>

{% else %}
<div class="alert alert-warning">
  {{ _('Stats for %s are not available') % member.first_name }}
</div>
{% endif %}
