{% load i18n %}
{% import '_macros.html' as macros %}

<h3>{{ _('Infos for trainers') }}</h3>

<table class="table table-bordered table-stripped table-condensed">
  {{ macros.tr((_('Mail'), member.email)) }}
  {{ macros.tr((_('Birthday'), member.birthday|date('d/m/Y'))) }}
  {{ macros.tr((_('Category'), member.category.name|default('-'))) }}
  {{ macros.tr((_('Max speed'), member.vma,), css_class='info') }}
  {{ macros.tr((_('Weight'), member.weight)) }}
  {{ macros.tr((_('Height'), member.height)) }}
  {{ macros.tr((_('Rest CF'), member.frequency_rest)) }}
  {{ macros.tr((_('Max CF'), member.frequency)) }}
  {{ macros.tr((_('License'), member.license,), css_class='success') }}
  {{ macros.tr((_('Nb. weekly session'), member.nb_sessions)) }}
  {{ macros.tr((_('Notes'), member.comment)) }}
</table>
