{% if sport_session.has_garmin() %}
{% with sport_session.garmin_activity as activity %}
<div class="garmin row hidden-xs">
  {% with activity.sport.get_category() as sport %}

  <div class="col-sm-4">
    <i class="icon-location"></i>
    <a href="{{ activity.get_url() }}" target="_blank">{{ activity.name }}</a>
  </div>

    {% if activity.distance != sport_session.distance or activity.time != sport_session.time %}
    <div class="col-sm-3">
      {% if sport == 'swimming' %}
        {{ (activity.distance * 1000)|floatformat(0) }} m
      {% else %}
        {{ activity.distance|floatformat(2) }} km
      {% endif %}
      en {{ activity.time }}
    </div>

    <div class="col-sm-2">
      {% if sport != 'swimming' %}
        {% if activity.sport.get_category() == 'cycling' %}
          {{ activity.get_speed_kph()|floatformat(2) }} km/h
        {% else %}
          {{ activity.speed|date('i:s') }} min/km
        {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {% if activity.sport != sport_session.sport %}
    <div class="col-sm-2">
      <span class="label label-success">{{ activity.sport.name }}</span>
    </div>
    {% endif %}
  {% endwith %}
</div>
{% endwith %}
{% endif %}
