{% if activities.count() > 0 %}
<div class="garmin">
  {% for activity in activities.all() %}
  {% with activity.sport.get_category() as sport %}
  <div class="activity {{ sport }}">

    <i class="icon-location"></i>
    <a href="{{ activity.get_url() }}" target="_blank">{{ activity.name }}</a>

    <span class="muted">&bull;</span>
    {% if sport == 'swimming' %}
    {{ (activity.distance * 1000)|floatformat(2) }} m
    {% else %}
    {{ activity.distance|floatformat(2) }} km
    {% endif %}
    en {{ activity.time }}

    <span class="muted">&bull;</span>
    {% if activity.sport.get_category() == 'cycling' %}
    {{ activity.get_speed_kph()|floatformat(2) }} km/h
    {% else %}
    {{ activity.speed|date('i:s') }} min/km
    {% endif %}

    {% if activity.sport != activity.session.sport %}
    <span class="muted">&bull;</span>
    <span class="label label-default">{{ activity.sport.name }}</span>
    {% endif %}
  </div>
  {% endwith %}
  {% endfor %}
</div>
{% endif %}
