

{% macro input(field, label, help=False, colLabel=2, colField=10) -%}
<!-- <div class="form-group {% if field.errors %}has-error{% elif field.value() %}has-success{% endif %}"> -->
<div class="form-group row {% if field.errors %}has-error{% endif %}">
	<label class="col-sm-{{colLabel}} control-label" for="id_{{field.html_name}}">{{label}}</label>
	<div class="col-sm-{{colField}}">
		{{field|addcss("form-control")|safe}}
		{% if field.errors %}
		<div class="help-block">{{field.errors|safe}}</div>
		{% elif help %}
		<div class="help-block">{{help}}</div>
		{% endif %}
	</div>
    
</div>
{%- endmacro %}

{% macro session_time_distance(form) -%}
<div class="form-group time-distance row">
	<label class="col-sm-2 control-label {% if form.time.errors %}has-error{% endif %}" for="id_{{form.time.html_name}}">Temps</label>
	<div class="col-sm-4 {% if form.time.errors %}has-error{% endif %}">
		{{ form.time|addcss("form-control")|safe }}
		{% if form.time.errors %}
		<div class="help-block">{{form.time.errors|safe}}</div>
		{% endif %}
	</div>
	<label class="col-sm-2 control-label" for="id_{{form.distance.html_name}}" rel="tooltip" title="Distance en course à pied uniquement.">Distance Cap</label>
	<div class="col-sm-4 {% if form.distance.errors %}has-error{% endif %}">
		{{ form.distance|addcss("form-control")|safe }}
		{% if form.distance.errors %}
		<div class="help-block">{{form.distance.errors|safe}}</div>
		{% endif %}
	</div>
</div>
{%- endmacro %}

{% macro session_types_name(form, types) -%}

{% with form.instance.type as type %}
{% with form.name as field %}
<div class="types-name form-group row {% if field.errors %}error{% elif field.value() %}success{% endif %}">
	{% if field.errors %}
	<span class="help-inline">{{field.errors|safe}}</span>
	{% endif %}
	<label class="col-sm-2 control-label" for="id_{{field.name}}">Séance</label>
	<div class="col-sm-10 {{form.instance.sport|default('running')}}">
		<div class="input-group">
			<div class="input-group-btn">
				<button class="btn dropdown-toggle {{ type }}" data-toggle="dropdown">
					<span class="name">
						{% if type == 'training' %}
						Entraînement
						{% elif type == 'race' %}
						Course
						{% else %}
						Repos
						{% endif %}
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu types">
					{% for k, name in types %}
					<li{% if type == k %} class="active"{% endif %}>
					<a href="#" value="{{k}}">{{name}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{{ form.type|addcss("form-control")|safe }}
		{{ form.name|addcss("form-control")|safe }}
	</div>
</div>
</div>
{% endwith %}
{% endwith %}
{%- endmacro %}


{% macro race_category(form) -%}
<div class="form-group race-category row {% if form.instance.type == 'race' %}active{% endif %}">
<label class="col-sm-2 control-label" for="id_{{form.race_category.html_name}}">Type de course</label>
<div class="col-sm-10 {{form.instance.sport|default('running')}}">
	{{ form.race_category|addcss("form-control")|safe }}
</div>
{% if form.race_category.errors %}
<div class="help-block">{{form.race_category.errors|safe}}</div>
{% endif %}
</div>
{%- endmacro %}

{% macro tr(fields, item='td') -%}
<tr>
{% for f in fields %}
<{{item}}>{{f|default('-')}}</{{item}}>
{% endfor %}
</tr>
{%- endmacro %}

{% macro sort_title(title, sort_name, urlname, urlargs, sort_active) %}
{{ title }}
{{ sort(sort_name, 'up', urlname, urlargs, sort_active) }}
{{ sort(sort_name + '-r', 'down', urlname, urlargs, sort_active) }}
{%- endmacro %}

{% macro sort(sort_name, direction, urlname, urlargs, sort_active) %}

{% set active = sort_name == sort_active %}
<span class="badge {% if active %}badge-inverse{% else %}badge-info{% endif %}">
{% if active %}
<i class="icon-{{direction}}-open"></i>
{% else %}
<a href="{{ urlname|url(*urlargs + (sort_name, )) }}"><i class="icon-{{direction}}-open"></i></a>
{% endif %}
</span>

{%- endmacro %}
