{% macro input(field, label, help=False) -%}
<div class="control-group {% if field.errors %}error{% elif field.value() %}success{% endif %}">
  <label class="control-label" for="id_{{field.name}}">{{label}}</label>
  <div class="controls">
    {{field|safe}}
    {% if field.errors %}
    <span class="help-inline">{{field.errors|safe}}</span>
    {% elif help %}
    <span class="help-inline">{{help}}</span>
    {% endif %}
  </div>
</div>
{%- endmacro %}

{% macro tr(fields, item='td') -%}
<tr>
  {% for f in fields %}
  <{{item}}>{{f|default('-')}}</{{item}}>
  {% endfor %}
</tr>
{%- endmacro %}

{% macro sort_title(title, sort_name, urlname, urlargs, sort_active) %}
  {{ title }}
  {{ sort(sort_name, 'up', urlname, urlargs, sort_active) }}
  {{ sort(sort_name + '-r', 'down', urlname, urlargs, sort_active) }}
{%- endmacro %}

{% macro sort(sort_name, direction, urlname, urlargs, sort_active) %}

  {% set active = sort_name == sort_active %}
  <span class="badge {% if active %}badge-inverse{% else %}badge-info{% endif %}">
    {% if active %}
    <i class="icon-chevron-{{direction}} icon-white"></i>
    {% else %}
    <a href="{{ urlname|url(*urlargs + (sort_name, )) }}"><i class="icon-chevron-{{direction}} icon-white"></i></a>
    {% endif %}
  </span>

{%- endmacro %}
