

{% macro input(field, label=None, help=False, colLabel=2, colField=10) -%}
<div class="form-group row {% if field.errors %}has-error{% endif %}">
	<label class="col-sm-{{colLabel}} control-label" for="id_{{field.html_name}}">
    {{ label or field.label }}
  </label>
	<div class="col-sm-{{colField}}">
		{{field|addcss("form-control")|safe}}
		{% if field.errors %}
		<div class="help-block">{{field.errors|safe}}</div>
		{% elif help or field.help %}
		<div class="help-block">{{help or field.help}}</div>
		{% endif %}
	</div>

</div>
{%- endmacro %}

{% macro input_bool(field, label=None, help=False, colLabel=2, colField=10) -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  <label class="col-sm-{{colLabel}} control-label">
    {{ label or field.label }}
  </label>
  <div class="col-sm-{{colField}}">
    <label class="checkbox-inline">
      {{ field|safe }}
    </label>
		{% if field.errors %}
		<div class="help-block">{{field.errors|safe}}</div>
		{% elif help or field.help %}
		<div class="help-block">{{help or field.help}}</div>
		{% endif %}
  </div>
</div>
{%- endmacro %}

{% macro input_prepend(field, label=None, large=False) -%}
<div class="col-sm-3 col-xs-6 {% if field.errors %}has-error{% endif %}">
   <div class="input-group {% if field.errors %}has-error{% endif %}">
     <span class="input-group-addon input-sm">{{ label or field.label }}</span>
     {{ field|addcss("form-control input-sm")|safe }}
   </div>
	{% if field.errors %}
	<div class="help-block">{{field.errors|safe}}</div>
	{% endif %}
</div>
{%- endmacro %}

{% macro input_choices(field, label=None, help=None, field_classes=()) -%}
<div class="form-group row {% if field.errors %}has-error{% endif %}">
	<label class="col-sm-4 control-label" for="id_{{field.html_name}}">{{ label or field.label }}</label>
	<div class="col-sm-8">

    {% with choices = field.field.choices %}
    <div class="btn-group" data-toggle="buttons">
      {% with value = field.value() %}
      {% for choice, name in choices %}
      {% with fclass = field_classes and field_classes[loop.index0 % field_classes|length()] %}
      <label class="btn btn-default {% if value == choice %}active {{fclass}}{% endif %}">
        <input type="radio" name="{{field.name}}" value="{{choice}}" {% if value == choice %}checked="checked"{% endif %}> {{ name }}
      </label>
      {% endwith %}
      {% endfor %}
      {% endwith %}
    </div>
    {% endwith %}

    {% if field.errors %}
    <div class="help-block">{{field.errors|safe}}</div>
		{% elif help or field.help %}
		<div class="help-block">{{help or field.help}}</div>
    {% endif %}
	</div>
</div>
{%- endmacro %}


{% macro sport_session(form) -%}
<div class="sport dropdown">
  <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
    <span class="name">
      {% with sport = form.instance.sport %}
        <i class="{{sport.icon}}"></i> {{sport.name}}
      {% endwith %}
    </span>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu sports">
    {% for sport in form.sports %}
    <li class="{% if sport == form.instance.sport %}active{% endif %}">
      <a href="#" value="{{sport.pk}}">
        <i class="{{sport.icon}}"></i> {{ _(sport.name) }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {{ form.sport|safe }}
	{% if form.sport.errors %}
	<div class="help-block">{{form.sport.errors|safe}}</div>
	{% endif %}
</div>
{%- endmacro %}

{% macro session_types_name(form, types) -%}

{% with type = form.instance.type %}
{% with field = form.name %}
<div class="types-name form-group row {% if field.errors %}error{% elif field.value() %}success{% endif %}">
	{% if field.errors %}
	<span class="help-inline">{{field.errors|safe}}</span>
	{% endif %}
	<label class="col-sm-2 control-label" for="id_{{field.name}}">{{ _('Session') }}</label>
	<div class="col-sm-10 {{form.instance.sport|default('running')}}">
		<div class="input-group">
			<div class="input-group-btn dropdown">
				<button class="btn dropdown-toggle {{ type }}" data-toggle="dropdown">
					<span class="name">
            {{ _(type|title()) }}
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu types">
					{% for k, name in types %}
					<li{% if type == k %} class="active"{% endif %}>
					<a href="#" value="{{k}}">{{ name }}</a>
				</li>
				{% endfor %}
			</ul>
      {{ form.type|safe }}
		</div>
		{{ form.name|addcss("form-control")|safe }}
	</div>
</div>
</div>
{% endwith %}
{% endwith %}
{%- endmacro %}


{% macro race_category(form) -%}
<div class="form-group race-category row {% if form.instance.type == 'race' %}active{% endif %}">
<label class="col-sm-2 control-label" for="id_{{form.race_category.html_name}}">{{ _('Race category') }}</label>
<div class="col-sm-10 {{form.instance.sport|default('running')}}">
	{{ form.race_category|addcss("form-control")|safe }}
</div>
{% if form.race_category.errors %}
<div class="help-block">{{form.race_category.errors|safe}}</div>
{% endif %}
</div>
{%- endmacro %}

{% macro tr(fields, item='td', css_class=None) -%}
<tr {% if css_class %}class="{{css_class}}"{% endif %}>
  {% for f in fields %}
  <{{item}}>{{f|default('-')}}</{{item}}>
  {% endfor %}
</tr>
{%- endmacro %}

{% macro sort_title(title, sort_name, urlname, urlargs, sort_active) %}
{{ title }}
{{ sort(sort_name, 'up', urlname, urlargs, sort_active) }}
{{ sort(sort_name + '-r', 'down', urlname, urlargs, sort_active) }}
{%- endmacro %}

{% macro sort(sort_name, direction, urlname, urlargs, sort_active) %}

{% set active = sort_name == sort_active %}
<span class="badge {% if active %}badge-inverse{% else %}badge-info{% endif %}">
{% if active %}
<i class="icon-{{direction}}-open"></i>
{% else %}
<a href="{{ url(urlname, *urlargs + (sort_name, )) }}"><i class="icon-{{direction}}-open"></i></a>
{% endif %}
</span>

{%- endmacro %}
