{% if PIWIK_HOST and PIWIK_ID %}
<script type="text/javascript"> 
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
	var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{PIWIK_HOST}}//";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', {{PIWIK_ID}}]);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();

</script>
<noscript><p><img src="http://{{PIWIK_HOST}}/piwik.php?idsite={{PIWIK_ID}}" style="border:0" alt="" /></p></noscript>
{% endif %}
