{% if not pageargs %}
{% set pageargs = [] %}
{% endif %}

<div class="container text-center">

	<nav>
    <ul class="pagination">
      {% if week_previous %}
      <li class="page-item">
        <a class="page-link" href="{{url(pageweek, *pageargs + [week_previous.year, week_previous.week,])}}"><i class="icon-left-open"></i></a>
      </li>
      {% else %}
      <li class="page-item active"><span class="page-link"><i class="icon-left-open"></i></span></li>
      {% endif %}
      {% for w in weeks %}
      {% if w.display == 'week' %}
      {% if w.current %}
      <li class="page-item active"><span class="page-link">{{w.start|date('d M')}}</span></li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{{url(pageweek, *pageargs + [w.year, w.week,])}}">{{w.start|date('d M')}}</a>
      </li>
      {% endif %}
      {% else %}
      <li class="page-item" class="active"><span class="page-link">...</span></li>
      {% endif %}
      {% endfor %}
      {% if week_next %}
      <li class="page-item">
        <a class="page-link" href="{{url(pageweek, *pageargs + [week_next.year, week_next.week, ])}}"><i class="icon-right-open"></i></a>
      </li>
      {% else %}
      <li class="page-item active"><span class="page-link"><i class="icon-right-open"></i></span></li>
      {% endif %}
    </ul>
	</nav>

</div>
