<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coach, i ran !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/medias/css/bootstrap.min.css" rel="stylesheet">
    <link href="/medias/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/medias/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/medias/js/jquery-1.9.1.min.js" ></script>
    <script type="text/javascript" src="/medias/js/csrf.js" ></script>
    <script type="text/javascript" src="/medias/js/bootstrap.min.js" ></script>
  </head>
  <body>
    <div class="{% if page_size == 'fullscreen' %}container{% else %}container-narrow{% endif %}">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          {% for p in menu %}
          {% if 'menu' in p %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{p.caption}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for sub_p in p.menu%}
              {% if sub_p == '__SEPARATOR__' %}
              <li class="divider"></li>
              {% else %}
              <li {% if sub_p.active %}class="active"{% endif %}><a href="{{sub_p.url}}" {% if sub_p.external%}target="_blank"{% endif %}>{{sub_p.caption}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          {% else %}
          <li {% if p.active %}class="active"{% endif %}><a href="{{p.url}}">{{p.caption}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <h3 class="muted">Coach, I ran !</h3>
      </div>

      <hr/>

      <div class="row-fluid">
        {% import '_macros.html' as macros %}
        {% block content %}{% endblock %}
      </div>

      <hr/>

      <div class="footer">
        <p>Construit par <a href="http://bastien.abadie.me">Bastien Abadie</a>, avec <a href="http://djangoproject.com">Django</a>, <a href="http://vim.org">vim</a>, <a href="http://getbootstrap.com">Bootstrap</a> & <a href="http://debian.org">Debian</a> &bull; Code source sur <a href="http://github.com/La0/coach">Github</a></p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
