<!DOCTYPE html>
<html lang="fr">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8">
	<title>{% if DEBUG %}[Dev] {% endif %}{% if page_title %}{{ page_title }} - RunReport.fr{% else %}RunReport.fr{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  {% block meta %}{% endblock %}

  {% compress css %}
	<link type="text/css" href="{{ static('bootswatch-dist/css/bootstrap.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('bootstrap-modal/css/bootstrap-modal.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('leaflet/dist/leaflet.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('quill/dist/quill.base.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('lightbox2/dist/css/lightbox.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('css/runreport-embedded.css') }}" rel="stylesheet">
	<link type="text/css" href="{{ static('css/animation.css') }}" rel="stylesheet">
	<link type="text/x-scss" href="{{ static('scss/main.scss') }}" rel="stylesheet">
  {% endcompress %}
</head>
<body class="{% if user.demo %}demo{% endif %}">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
        <a href="{{ url('dashboard') }}" class="navbar-brand">
          <img src="{{ static('img/logo_bloc.svg') }}" alt="Run Report" class="block" />
        </a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					{% for p in menu %}
					{% if 'menu' in p %}
					<li class="dropdown {% if p.active %}active{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if p.icon %}<i class="{{ p.icon }}"></i> {% endif %}{{p.caption}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for sub_p in p.menu%}
							{% if sub_p == '__SEPARATOR__' %}
							<li class="divider"></li>
							{% else %}
							<li {% if sub_p.active %}class="active"{% endif %}><a href="{{sub_p.url}}" {% if sub_p.external%}target="_blank"{% endif %}>{{sub_p.caption}}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
          {% elif 'notifications' in p %}
          <li class="notifications {% if p.notifications > 0 %}red{% endif %}">
            <a class="modal-action" href="{{ url('user-notifications') }}" title="{{ p.notifications }} notifications">
              <span class="badge">{{ p.notifications }}</span>
            </a>
          </li>
					{% else %}
					<li {% if p.active %}class="active"{% endif %}><a href="{{p.url}}">{% if p.icon %}<i class="{{ p.icon }}"></i> {% endif %}{{p.caption}}</a></li>
					{% endif %}
					{% endfor %}

          <li class="lang">
            <form action="{{ url('set_language') }}" method="post">
              {% csrf_token %}
              {% for lang_code, lang_name in LANGUAGES %}
                {% if lang_code != LANGUAGE_CODE %}
                <button type="submit" name="language" value="{{ lang_code }}" title="{{ _('Use RunReport in') }} {{ lang_name }}" class="btn btn-link do-tooltip navbar-btn" data-placement="bottom">
                  <img src="{{ static('img/lang_%s.png' % lang_code) }}" alt="{{ lang_code }}" />
                </button>
                {% endif %}
              {% endfor %}
            </form>
          </li>
				</ul>
			</div>
		</div>
      {% if user.demo %}
      <div class="demo-warning">
        <i class="icon-fire"></i> {{ _('You are ussing a demo account, some features will not be available.') }}
      </div>
      {% endif %}
	</header>

	<div id="main" role="main">
		{% import '_macros.html' as macros %}
		{% block content %}{% endblock %}
	</div>

	<footer>
		<div class="container">
      {{ _('Built by') }} <a target="_blank" href="http://basyc.fr">BaSyC</a>
      <span class="text-muted">&bull;</span>

      <i class="icon-version do-tooltip" title="{{ _('Version') }}"></i>
      {{ VERSION }}
      <span class="text-muted">&bull;</span>

			<a href="http://github.com/La0/coach"><i class="icon-github"></i> {{ _('Github') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="http://facebook.com/runreport.fr"><i class="icon-facebook"></i> {{_('Facebook') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="{{ url('page-list', 'news') }}"><i class="icon-mail"></i> {{ _('News') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="{{ HELP_URL }}" target="_blank"><i class="icon-help-circled"></i> {{ _('Help') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="/contact"><i class="icon-user"></i> {{ _('Contact') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="{{ url('legal', 'cgu') }}"><i class="icon-legal"></i>{{ _('ToS') }}</a>
      <span class="text-muted">&bull;</span>

			<a href="{{ url('legal', 'mentions') }}"><i class="icon-legal"></i>{{ _('Mentions') }}</a>

			{% include '_piwik.html' %}
		</div>
	</footer>

  {% compress js %}
	<script type="text/javascript" src="{{ static('jquery/dist/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ static('bootswatch-dist/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ static('bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
	<script type="text/javascript" src="{{ static('bootstrap-modal/js/bootstrap-modal.js') }}"></script>
	<script type="text/javascript" src="{{ static('leaflet/dist/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ static('bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
	<script type="text/javascript" src="{{ static('mangopay-cardregistration-js-kit/kit/mangopay-kit.js') }}"></script>
  <script type="text/javascript" src="{{ static('flot/jquery.flot.js') }}" ></script>
  <script type="text/javascript" src="{{ static('flot/jquery.flot.time.js') }}" ></script>
  <script type="text/javascript" src="{{ static('flot/jquery.flot.stack.js') }}" ></script>
	<script type="text/javascript" src="{{ static('js/config.js') }}" ></script>
	<script type="text/javascript" src="{{ static('raphael/raphael.js') }}" ></script>
	<script type="text/javascript" src="{{ static('js/csrf.js') }}" ></script>
	<script type="text/javascript" src="{{ static('js/modal.js') }}" ></script>
	<script type="text/javascript" src="{{ static('js/tracks.js') }}" ></script>
  <script type="text/javascript" src="{{ static('js/stats.js') }}" ></script>
	<script type="text/javascript" src="{{ static('js/dashboard.js') }}" ></script>
  <script type="text/javascript" src="{{ static('js/rating.js') }}"></script>
  <script type="text/javascript" src="{{ static('js/gear.js') }}"></script>
  <script type="text/javascript" src="{{ static('js/payment.js') }}"></script>
  {% endcompress %}
	{% block js %}{% endblock %}
  {# Compress fails with this file :/ #}
	<script type="text/javascript" src="{{ static('dropzone/downloads/dropzone.js') }}" ></script>

</body>
</html>
