{% extends "base.html" %}

{% set page_title = _('Features') %}

{% block content %}
<div class="container" id="features">

  <div class="row">
    <div class="col-sm-2 col-xs-4">
      <img class="img-circle img-responsive" src="{{ static('img/home/runner.jpg') }}" alt="{{ _('Athlete') }}">
    </div>
    <div class="col-sm-4 col-xs-8">
      <h3>{{ _('Features for athletes') }}</h3>
      <p class="lead">
        {{ _('All the features for athletes are free.') }}
      </p>
      <p>
        <a href="{{ url('features-athlete') }}" class="btn btn-info">
          <i class="icon-premium"></i>
          {{ _('View all the athletes features') }}
        </a>
      </p>
    </div>

    <div class="col-sm-2 col-xs-4">
      <img class="img-circle img-responsive" src="{{ static('img/home/trainer.jpg') }}" alt="{{ _('Trainer') }}">
    </div>
    <div class="col-sm-4 col-xs-8">
      <h3>{{ _('Features for trainers') }}</h3>
      <p class="lead">
        {{ _('A free trial of 45 days is available for all new clubs.') }}
      </p>
      <p>
        <a href="{{ url('features-trainer') }}" class="btn btn-info">
          <i class="icon-premium"></i>
          {{ _('View all the trainers features') }}
        </a>
      </p>
    </div>
  </div>

  <hr />

  <div class="row">

    <div class="col-xs-12">
      <h3>{{ _('Pricing for trainers & clubs') }}</h3>
      <p class="lead">
        {{ _('After the free trial expires (45 days), your club uses the fees specified below:') }}
        <ul>
          <li>{{ prices.athlete|floatformat(2) }} &euro;/{{ _('month') }} {{ _('per athlete') }}</li>
          <li>{{ prices.trainer|floatformat(2) }} &euro;/{{ _('month') }} {{ _('per trainer') }}</li>
        </ul>
      </p>

      <h3>{{ _('Pricing Simulator') }}</h3>
      <table class="table table-bordered" id="price_simulator">
        <tr>
          <td>{{ _('Role') }}</td>
          <td>{{ _('Proce') }}</td>
          <td>{{ _('People in this role') }}</td>
          <td>{{ _('Monthly price') }}</td>
          <td>{{ _('Yearly price') }}</td>
        </tr>
        
        {% for role in ('athlete', 'trainer') %}
        <tr class="role {{ role }}">
          <td>
            {{ _(role|title) }}
          </td>
          <td>
            {{ prices[role] }}&euro;/{{ _('month') }}
          </td> 
          <td>
            <input type="number" class="form-control" value="0" data-price="{{ prices[role] }}"/>
          </td>
          <td class="month">
            <span>0</span> &euro;
          </td>
          <td class="year">
            <span>0</span> &euro;
          </td>
        </tr>
        {% endfor %}

        <tr class="total">
          <td class="text-right" colspan="3">
            {{ _('Total') }}
          </td>
          <td class="month">
            <span>0</span> &euro;
          </td>
          <td class="year">
            <span>0</span> &euro;
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>
{% endblock %}
