{% extends "base.html" %}

{% block content %}
<div class="container" id="features">

  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <img class="img-circle img-responsive" src="{{ static('img/home/runner.jpg') }}" alt="{{ _('Runner') }}">
    </div>
    <div class="col-sm-10 col-xs-12">
      <h3>{{ _('Features for runners') }}</h3>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>{{ _('Feature') }}</th>
            <th class="text-center">{{ _('Free account') }}</th>
            <th class="text-center">{{ _('Premium account') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for feature in features.runners %}
          <tr>
            <td>
              <a href="#runner_{{ loop.index }}" data-toggle="collapse">{{ feature.name }}</a>
              {% if feature.new %}
              <span class="pull-right label label-info">{{ _('New') }}</span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if not feature.premium %}
              <i class="icon-ok"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <i class="icon-ok"></i>
            </td>
          </tr>
          <tr class="collapse" id="runner_{{ loop.index }}">
            <td colspan="3">
              {{ feature.description }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <img class="img-circle img-responsive" src="{{ static('img/home/trainer.jpg') }}" alt="{{ _('Trainer') }}">
    </div>
    <div class="col-sm-10 col-xs-12">
      <h3>{{ _('Features for trainers') }}</h3>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>{{ _('Feature') }}</th>
            <th class="text-center">{{ _('Free account') }}</th>
            <th class="text-center">{{ _('Premium account') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for feature in features.trainers %}
          <tr>
            <td>
              <a href="#trainer_{{ loop.index }}" data-toggle="collapse">{{ feature.name }}</a>
              {% if feature.new %}
              <span class="pull-right label label-info">{{ _('New') }}</span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if not feature.premium %}
              <i class="icon-ok"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <i class="icon-ok"></i>
            </td>
          </tr>
          <tr class="collapse" id="trainer_{{ loop.index }}">
            <td colspan="3">
              {{ feature.description }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-xs-12">
      <img class="img-circle img-responsive" src="{{ static('img/home/win.jpg') }}" alt="{{ _('Trainer') }}">
    </div>
    <div class="col-sm-10 col-xs-12">
      <h3>{{ _('Premium account') }}</h3>

      <p>
        {{ _('All the above features with the tag Premium are only available to paying members of RunReport') }}
      </p>
      <p>
        {{ _('A premium membership costs 3.50 euros per month, or 35 euros per year, without any engagement whatsoever.') }}
      </p>

    </div>
  </div>
</div>
{% endblock %}
