{% extends 'base.html' %}

{% set page_title = "Créer un club" %}

{% block content %}
<div class="container" id="landing-club">

  <header class="jumbotron hero-spacer">
    <h1>{{ _('Manage all your athletes') }}</h1>
    
    <p>{{ _('Whether they are runners, triathletes or cyclists, whatever their level, you can manage all your athletes in a simple and efficient way.') }}
        </p>

    <hr />

    <div class="row">

      <div class="col-sm-6 col-xs-12">
        {% if asked %}
        <p class="alert alert-success">
          {{ _('Your club creation request has been registered.') }}
          <br />{{ _('You will receive an invitation email in the shortest time.') }}
        </p>
        {% else %}
        <p class="text-muted">
          {{ _('To ensure a better support, clubs creation are currently limited.') }}
        </p>
        <form action="{% url club-landing %}" method="post" role="form" class="form-inline">
          {% csrf_token %}

          <p class="col-sm-6 col-xs-12 {% if form.recipient.errors %}has-error{% endif %}">
            {{ form.recipient|addcss("form-control")|safe }}
            {% if form.recipient.errors %}
            <p class="help-block">{{form.recipient.errors|safe}}</p>
            {% endif %}
          </p>
          <p class="col-sm-6 col-xs-12">
            <button type="submit" class="btn btn-success">{{ _('Ask an invitation') }}</button>
          </p>
        </form>
        {% endif %}
      </div>

      <div class="col-sm-6 col-xs-12">
        <p class="text-muted">
          {{ _('Test RunReport using the Trainer account!') }}
        </p>
        <a class="btn btn-primary" href="{% url login %}">{{ _('Try the demo') }}</a>
      </div>

    </div>
  </header>


  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <h3>{{ _('Calendars') }}</h3>
        <img src="/medias/img/landing/calendar_2.png" alt="" />
        <div class="caption">
          <p>{{ _('Simply visualize the sporting past and yet to come of all your club.') }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <h3>{{ _('Managing a club') }}</h3>
        <img src="/medias/img/landing/list.png" alt="" />
        <div class="caption">
          <p>{{ _('Administer everybody in your club depending on their role: trainers, athletes, staff, former athletes...') }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <h3>{{ _('Athletes progression') }}</h3>
        <img src="/medias/img/landing/stats.png" alt="" />
        <div class="caption">
          <p>{{ _('Follow the sportive progression of your athletes using graphics.') }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <h3>{{ _('Weekly reports') }}</h3>
        <img src="/medias/img/landing/mail.png" alt="" />
        <div class="caption">
          <p>{{ _('Directly receive in your mailbox your athletes weekly reports.') }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
