{% extends 'base.html' %}

{% set page_title = "Créer un club" %}

{% block content %}
<div class="container" id="landing-club">

  <header class="jumbotron hero-spacer">
    <h1>Gérez tous vos athlètes</h1>
    
    <p>Qu'ils soient coureurs, triathlètes ou cyclistes de tous niveaux, vous pourrez gérer tous vos athlètes de manière simple et efficace.</p>

    <hr />

    <div class="row">

      <div class="col-sm-6 col-xs-12">
        {% if asked %}
        <p class="alert alert-success">
          Votre demande de création de club a bien été enregistrée.
          <br />Nous vous enverrons un mail d'invitation dans les plus brefs délais.
        </p>
        {% else %}
        <p class="text-muted">
          RunReport est en &#x3b2;eta: pour assure un meilleur support les créations de club sont limitées.
        </p>
        <form action="{% url club-landing %}" method="post" role="form" class="form-inline">
          {% csrf_token %}

          <div class="col-xs-6 {% if form.recipient.errors %}has-error{% endif %}">
            {{ form.recipient|addcss("form-control")|safe }}
            {% if form.recipient.errors %}
            <div class="help-block">{{form.recipient.errors|safe}}</div>
            {% endif %}
          </div>

          <button type="submit" class="btn btn-success">Demander invitation</button>
        </form>
        {% endif %}
      </div>

      <div class="col-sm-6 col-xs-12">
        <p class="text-muted">
          Testez RunReport en utilisant le compte Entraineur !
        </p>
        <a class="btn btn-primary" href="{% url login %}">Essayer la démo</a>
      </div>

    </div>
  </header>


  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="/medias/img/landing/club.png" alt="" />
        <div class="caption">
          <h3>Calendriers</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="/medias/img/landing/club.png" alt="" />
        <div class="caption">
          <h3>Multi Entraineurs</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="/medias/img/landing/club.png" alt="" />
        <div class="caption">
          <h3>Gestion course</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="/medias/img/landing/club.png" alt="" />
        <div class="caption">
          <h3></h3>
          <p>...</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
