{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h2>{{ _('Create a club') }}</h2>

	<div class="alert alert-info">
		<h4>{{ _('Warning') }}</h4>
		{{ _('You can create and administer only one club.') }}
	</div>

	<form action="" method="POST" class="form form-horizontal">
		{% csrf_token %}

    <div class="slugify" data-target="#id_slug">
      {{ macros.input(form.name, _('Club name')) }}
    </div>
		{{ macros.input(form.phone, _('Your phone')) }}
    {{ macros.input(form.slug, _('Slug'), _('Represents the club\'s name in urls')) }}
		{{ macros.input_bool(form.private, _('Private club'), _('When private, a club is only accessible y its members')) }}
		{{ macros.input(form.address, _('Adress')) }}
		{{ macros.input(form.zipcode, _('Zipcode')) }}
		{{ macros.input(form.city, _('Town')) }}

		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="{{ _('Create the club') }}" />
			</div>
		</div>
	</form>

</div>

{% endblock %}
