{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h2>{{ _('Create a club') }}</h2>

  {% if user.is_authenticated() %}

	<form action="" method="POST" class="form form-horizontal">
		{% csrf_token %}

    <div class="col-sm-10 col-sm-offset-2 text-info">
      <i class="icon-help-circled"></i>
      {{ _('You can create and administer only one club.') }}
    </div>

    <div class="slugify" data-target="#id_slug">
      {{ macros.input(form.name) }}
    </div>
		{{ macros.input(form.slug) }}
		{{ macros.input(form.address) }}
		{{ macros.input(form.zipcode) }}
		{{ macros.input(form.city) }}
		{{ macros.input(form.country) }}

    <hr />
    <h4>{{ _('Your personal information') }}</h4>
		{{ macros.input(form.phone) }}
		{{ macros.input(form.manager_country) }}
		{{ macros.input(form.manager_nationality) }}

		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="{{ _('Create the club') }}" />
			</div>
		</div>
	</form>

  {% else %}
	<div class="alert alert-warning">
		<h4>{{ _('Logged out user') }}</h4>
		{{ _('You need to sign in or create an account in order to create a club.') }}
	</div>
  <p class="text-right">
    <a href="{{ url('login') }}" class="btn btn-primary">
      {{ _('Sign in') }}
    </a>
    <a href="{{ url('user-create') }}" class="btn btn-default">
      {{ _('Create an account') }}
    </a>
  </p>
  {% endif %}

</div>

{% endblock %}
