{% extends 'modal.html' %}

{% set modal_title = '%s %s : %s' % (member.first_name, member.last_name, day|date('l d E Y')|title()) %}
{% set modal_url = day|date('l d E Y')|title() %}

{% block body %}
{% if session %}

{% with session.sessions as sessions %}
{% include 'sport/session/list.html' %}
{% endwith %}

{% else %}
<p class="alert alert-warning">Pas de séance</p>
{% endif %}
{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">Fermer</button>
<a href="{{ url('club-member-week', club.slug, report.user, report.year, report.week) }}" class="btn btn-success">Voir cette semaine</a>
{% endblock %}
