<div class="modal hide fade day" tabindex="-1" role="dialog" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{day|date('l d E Y')|title()}}</h3>
  </div>
  <div class="modal-body">
    {% if session %}
    <h4>{{ session.name }}</h4>
    <p>{{ session.comment }}</p>
    {% if session.distance %}
    <span class="label">Temps</span> {{session.time}}
    {% endif %}
    {% if session.distance %}
    <span class="label">Distance</span> {{session.distance}} km
    {% endif %}
    {% with session.garmin_activity as activity %}
      {% include '_garmin.html' %}
    {% endwith %}
    {% else %}
    <p class="alert alert-danger">Pas de séance</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Fermer</button>
    <a href="{{ url('club-member-week', club.slug, report.user, report.year, report.week) }}" class="btn btn-success">Voir cette semaine</a>
  </div>
</div>
