{% extends 'base.html' %}

{% block content %}

<h1>Invitation valide</h1>

{% if invite.type == 'create' %}
<p class="alert alert-info">Vous allez pouvoir créer votre propre club !</p>

{% elif invite.type == 'trainer' %}
<p class="alert alert-info">Vous allez pouvoir rejoindre le club {{ invite.club.name }} en tant qu'entraîneur</p>

{% elif invite.type == 'athlete' %}
<p class="alert alert-info">Vous allez pouvoir rejoindre le club {{ invite.club.name }} en tant qu'athlète</p>
{% endif %}

{% if user.is_authenticated() %}
<p class="pull-right">
  <a href="/" class="btn btn" >Annuler</a>
  {% if invite.type == 'create' %}
  <a href="{% url club-create %}" class="btn btn-primary" >Créer mon club</a>
  {% else %}
  <a href="{% url club-invite-apply %}" class="btn btn-primary" >Rejoindre le {{ invite.club.name }}</a>
  {% endif %}
</p>
{% else %}
login or create
{% endif %}


{% endblock %}
