{% extends 'base.html' %}

{% set page_title = 'Les clubs' %}

{% block content %}

<div class="container" id="clubs">

	<h2>
    <i class="icon-plus"></i>
    {{ _('Create a club') }}
  </h2>
	<div class="text-info lead">
    <p class="pull-right">
      <a href="{{ url('pricing') }}" class="btn btn-default">
        {{ _('Pricing details') }}
      </a>
      <a href="{{ url('club-create') }}" class="btn btn-info">
        <i class="icon-plus"></i>
        {{ _('Create a club') }}
      </a>
    </p>
    <p>
      {{ _('You can create a new club if you want to manage athletes.') }}
      <br />
      {{ _('A club is free for 45 days, then uses a fee per member') }}
    </p>
	</div>
  
  <hr />

	<h2>
    <i class="icon-club"></i>
    {{ _('Join a club') }}
  </h2>
	<div class="text-info lead">
    <i class="icon-help-circled"></i>
		{{ _('You can join a club clicking on "Join".') }}<br />
		{{ _('Each request is then validated (or not) by the club\'s manager.') }}
	</div>

  <div class="row">
    {% for club in clubs %}
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{club.name}}
          {% if club.private %}
            <span class="pull-right label label-danger">{{ _('Private club') }}</span>
          {% endif %}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <address>
                {{club.address}}<br />
                <strong>{{ club.zipcode }} {{ club.city }}</strong>
              </address>
              <p>
                <span class="label label-info">{{ _('Manager') }}</span> {{ club.manager.first_name }} {{ club.manager.last_name }}
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
            {% if user.is_authenticated() %}
              {% if club.has_user(request.user) %}
                {% with member = club.clubmembership_set.get(user=request.user) %}
                  {% if member.role == 'archive' %}
                  <span class="btn disabled btn-danger pull-right">{{ _('Refused') }}</span>
                  {% elif member.role == 'prospect' %}
                  <span class="btn disabled btn-info pull-right">{{ _('Waiting for approval') }}</span>
                  {% else %}
                  <span class="btn disabled btn-success pull-right">{{ _('Member') }}</span>
                  {% endif %}

                  {# View members when user is in club #}
                  <a href="{{ url('club-members', club.slug) }}" class="btn btn-primary pull-right"><i class="icon-club"></i> {{ _('Check the members') }}</a>

                {% endwith %}
              {% else %}
                <a href="{{ url('club-join', club.slug) }}" class="btn btn-success modal-action pull-right"><i class="icon-plus"></i> {{ _('Join') }}</a>


                {# View members when club is public and user is connected #}
                {% if not club.private %}
                <a href="{{ url('club-members', club.slug) }}" class="btn btn-primary pull-right"><i class="icon-club"></i> {{ _('Check the members') }}</a>
                {% endif %}
              {% endif %}

            {% else %}
              <p class="text-info text-right"> {{ _('To join this club') }}, <a href="{{ url('login') }}">{{ _('sign in') }}</a> {{ _('or') }}<a href="{{ url('user-create') }}">{{ _('create an account') }}</a></p>

              {# View members when club is public and user is not connected #}
              {% if not club.private %}
              <a href="{{ url('club-members', club.slug) }}" class="btn btn-primary pull-right"><i class="icon-club"></i> {{ _('Check the members') }}</a>
              {% endif %}
            {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
