{% extends 'base.html' %}

{% set page_title = 'Rejoindre %s' % club.name %}

{% block content %}
<div class="container">

  <h1>Rejoindre le club {{ club.name }}</h1>

  {% if error %}
  <div class="alert alert-danger">
    {% if error == 'mail' %}
      <h4>Problème de notification</h4>
      Nous n'avons pu notifier le club de votre demande.
      <br />Veuillez ré-essayer plus tard.
    {% elif error == 'member' %}
      <h4>Déja membre</h4>
      Vous êtes déja en relation avec ce club.
    {% endif %}
  </div>
  {% else %}
  <div class="alert alert-danger">
    <h4>Demande enregistrée</h4>
    Votre demande a bien été envoyé au club, vous recevrez une réponse dès qu'elle aura été traitée par le gérant du club.
  </div>
  {% endif %}

  <a href="{% url club-list %}" class="btn btn-primary pull-right">Retour aux clubs</a>
</div>

{% endblock %}
