{% extends 'base.html' %}

{% set page_title = 'Rejoindre %s' % club.name %}

{% block content %}
<div class="container">

  <h1>{{ _('Join the club') }} {{ club.name }}</h1>

  {% if error %}
    {% if error == 'mail' %}
    <div class="alert alert-danger">
      <h4>{{ _('Notification problem') }}</h4>
      {{ _('We could not notify the club of your request.') }}
      <br />{{ _('Please try again later.') }}
    </div>
    {% elif error == 'logout' %}
    <div class="alert alert-warning">
      <h4>{{ _('No account') }}</h4>
      {{ _('You are not currently logged with an user account.') }}
    </div>
    <p>
      <a class="btn btn-sm btn-primary" href="{% url user-create %}">{{ _('Create an account') }}</a> {{ _('or') }} <a class="btn btn-sm btn-primary" href="{% url login %}">{{ _('sign in') }}</a>.
    </p>
    {% elif error == 'member' %}
    <div class="alert alert-info">
      <h4>{{ _('Already a member') }}</h4>
      {{ _('You are already in relation with this club.') }}
    </div>
    {% endif %}
  {% else %}
  <div class="alert alert-danger">
    <h4>{{ _('Request registered') }}</h4>
    {{ _('Your request has been sent to the club, you will receive an answer as soon as the club\s owner will consider it.') }}
  </div>
  {% endif %}

  <a href="{% url club-list %}" class="btn btn-primary pull-right">{{ _('Return to the clubs') }}</a>
</div>

{% endblock %}
