{% extends 'modal.html' %}

{% set modal_title = club.name %}

{% block body %}


{% if error %}
  {% if error == 'mail' %}
  <div class="alert alert-danger">
    <h4>{{ _('Notification problem') }}</h4>
    {{ _('We could not notify the club of your request') }}
    <br />{{ _('Please try again later') }}
  </div>
  {% elif error == 'logout' %}
  <div class="alert alert-warning">
    <h4>{{ _('No account') }}</h4>
    {{ _('You are not currently connected with an user account') }}
  </div>
  <p>
    <a class="btn btn-sm btn-primary" href="{{ url('user-create') }}">{{ _('Create an account') }}</a> {{ _('or') }}<a class="btn btn-sm btn-primary" href="{{ url('login') }}">{{ _('sign in') }}</a>.
  </p>
  {% elif error == 'member' %}
  <div class="alert alert-danger">
    <h4>{{ _('Already a member') }}</h4>
    {{ _('You are already in relation with this club') }}
  </div>
  {% endif %}
{% else %}
<div class="alert alert-success">
  <h4>{{ _('Request registered') }}</h4>
  {{ _('Your request has been sent to the club, you will receive an answer as soon as the club\s owner will consider it.') }}
</div>
{% endif %}

{% endblock %}

{% block footer %}
<button class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
{% endblock %}
