{% extends "base.html" %}

{% set page_title = 'Administration du %s' % club.name %}

{% block content %}

<div class="container">

	<h2>{{ _('Manage') }} {{club.name}}</h2>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#users" role="tab" data-toggle="tab">
        <i class="icon-club"></i>
        {{ _('Users') }}
      </a>
    </li>
    <li>
      <a href="#premium_status" role="tab" data-toggle="tab">
        <i class="icon-premium"></i>
        {{ _('Premium') }}
      </a>
    </li>
    <li>
      <a href="#edit" role="tab" data-toggle="tab">
        <i class="icon-edit"></i>
        {{ _('Preferences') }}
      </a>
    </li>
    <li>
      <a href="#links" role="tab" data-toggle="tab">
        <i class="icon-link"></i>
        {{ _('Links') }}
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="users">
      <div class="text-info">
        <blockquote>
          <h5><i class="icon-help-circled"></i> {{ _('Help') }}</h5>
          <strong>{{ _('A club is free until it reaches 5 members.') }}</strong>
          <br />
          {{ _('Above 5 members, every member is billed to you (manager of the club).') }}
        </blockquote>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>{{ _('Users type') }}</th>
            <th>{{ _('Total') }}</th>
            <th>{{ _('Free') }}</th>
            <th>{{ _('Paying') }}</th>
            <th>{{ _('Unit Cost') }}</th>
            <th>{{ _('Total') }}</th>
          </tr>
          {% for stat in bill.stats %}
          <tr>
            <td>{{roles[stat.type]}}</td>
            <td>{{stat.total}}</td>
            <td>{{stat.free}}</td>
            <td>{{stat.paying}}</td>
            <td>
              {{ stat.unit|floatformat(2) }} &euro;
            </td>
            <td>
              {% if stat.price == 0 %}
              <span class="label label-success">
                {{ _('Free') }}
              </span>
              {% else %}
              <strong>
                {{ stat.price|floatformat(2) }} &euro;
              </strong>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td class="text-right" colspan="5">
              <strong>{{ _('Total') }}</strong>
            </td>
            <td>
              {% if bill.total == 0 %}
              <span class="label label-success">
                {{ _('Free') }}
              </span>
              {% else %}
              <strong>
                {{ bill.total|floatformat(2) }} &euro;
              </strong>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>

    {# Display subscriptions #}
    <div class="tab-pane" id="premium_status">

      {% if club.transactions.exists() %}
      <table class="table table-bordered table-striped">
        <tr>
          <th>{{ _('Period') }}</th>
          <th>{{ _('Amount') }}</th>
          <th>{{ _('Payment date') }}</th>
          <th>{{ _('Status') }}</th>
        </tr>
        {% for transaction in club.transactions.all() %}
        <tr>
          <td>
            {% if transaction.subscription %}
              {{ transaction.subscription }}
            {% else %}
              {{ _('Initial payment') }}
            {% endif %}
          </td>
          <td>
            {{ transaction.amount|floatformat(2) }} &euro;
          </td>
          <td>
            {{ transaction.updated|date('d E Y') }}
          </td>
          <td>
            {% if transaction.status == 'SUCCEEDED' %}
            <span class="label label-success">{{ _('Validated') }}</span>
            {% elif transaction.status == 'FAILED' %}
            <span class="label label-danger">{{ _('Failed') }}</span>
            {% elif transaction.status == 'CREATED' %}
            <span class="label label-info">{{ _('Awaiting validation') }}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p class="text-info lead">
        {{ _('You do not have any transactions at the moment.') }}
      </p>
      {% endif %}

    </div>

    <div class="tab-pane" id="edit">
      <form action="" method="POST" class="form form-horizontal">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
          <h4>{{ _('Error') }}</h4>
          {{ form.errors }}
        </div>
        {% endif %}

        {{ macros.input(form.name) }}
        {{ macros.input(form.slug) }}
        {{ macros.input(form.address) }}
        {{ macros.input(form.zipcode) }}
        {{ macros.input(form.city) }}
        {{ macros.input(form.country) }}

        <hr />
        <h4>{{ _('Your personal information') }}</h4>
        {{ macros.input(form.phone) }}
        {{ macros.input(form.manager_country) }}
        {{ macros.input(form.manager_nationality) }}

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            {% if user.demo %}
            <div class="alert alert-warning">
              <h4>{{ _('Demo account') }}</h4>
              {{ _('Edition is deactivated for the demo') }}
            </div>
            {% else %}
            <input type="submit" value="{{ _('Edit') }}" class="btn btn-primary" />
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    <div class="tab-pane" id="links">
      <div class="alert alert-info">
        <h4>{{ _('Help') }}</h4>
        {{ _('Public links are shown in the Club menu, on top of the page, for all the users of the club.') }}<br />
        {{ _('They are useful to show external websites: Facebook groups, official website of the club, ...') }}
      </div>
      {% if links %}
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Url') }}</th>
            <th>{{ _('Actions') }}</th>
          </tr>
          {% for link in links %}
          <tr>
            <td>{{link.name}}</td>
            <td><a href="{{link.url}}" target="_blank">{{link.url}}</a></td>
            <td>
              <a href="{{ url('club-link-delete', club.slug, link.id) }}" class="modal-action modal-post btn btn-danger btn-xs">{{ _('Delete') }}</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p class="alert alert-warning">
        {{ _('There are no public link for your club.') }}
      </p>
      {% endif %}
      <a href="{{ url('club-link-add', club.slug) }}" class="modal-action btn btn-info pull-right">{{ _('Add a link') }}</a>
    </div>
  </div>


{#
  {% if club.private %}
  <div class="text-danger">
    <h4>{{ _('Subscriptions for a private club') }}</h4>
    <p>
      {{ _('Your club is private, you must then this link to future members') }} :
      <a href="{{ url('club-join-private', club.slug, club.get_private_hash()) }}" class="btn btn-sm btn-danger">{{ _('Private access') }}</a>
    </p>
  </div>
  {% else %}
  <div class="text-info">
    <h4>{{ _('Subscription for a public club') }}</h4>
    <p>
      {{ _('Your club is public, any user or visitor can view your club in this list') }} : 
      <a href="{{ url('club-list') }}" class="btn btn-sm btn-info">{{ _('Public list') }}</a>
    </p>
    <p>
      {{ _('You can send this to your athletes so they can join directly') }} :
      <a href="{{ url('club-join', club.slug) }}" class="btn btn-sm btn-info">{{ _('Club link') }}</a>
    </p>
  </div>

  <p>
    {{ _('You can register athletes by sending us a CSV file') }} : 
      <a href="{{ url('club-subscriptions-upload', club.slug) }}" class="btn btn-sm btn-primary">{{ _('Subscribe athletes') }}</a>
  </p>
  {% endif %}
#}
</div>

{% endblock %}
