{% extends 'base.html' %}

{% block content %}
<h2>{{club.name}} : {{members.count()}} membres</h2>

<table class="table">
  <tr>
    <th>Athlète</th>
    <th>Vma</th>
    <th>Dernière séance</th>
    <th>Actions</th>
  </tr>
  {% for member in members %}
  <tr>
    {% with member.get_profile() as profile %}
    <td>
      {{ member.first_name|default(member.username) }} {{ member.last_name }}
    </td>
    <td>{{ profile.vma|default('-') }}</td>
    <td>
      {% if member.max_report_date %}
      <a href="{% url club-member-week club.slug, member.username, member.max_report_date|date('Y'), member.max_report_date|date('W')|add(-1) %}">{{ member.max_report_date|date('l d E') }}</a>
      {% endif %}
    </td>
    <td>
      <a class="btn btn-info" href="{% url club-member club.slug, member.username %}">Fiche</a>
    </td>
    {% endwith %}
  </tinfo >
  {% endfor %}
</table>

{% endblock %}
