{% extends 'base.html' %}

{% block content %}

<h1>{{club.name}} - {{member.first_name}} {{member.last_name|default(member.username)}}</h1>

{% if report %}
<div class="alert alert-info">
  <h4>Semaine {{week|add(1)}} de {{year}}</h4>
  du {{report.get_date_start()|date('l d E')}} au {{report.get_date_end()|date('l d E')}}
</div>

{% include 'run/report.closed.html' %}
{% else %}
<div class="alert alert-warning">
  <h4>Semaine {{week|add(1)}} de {{year}}</h4>
  Pas de commentaires disponibles.
</div>
{% endif %}

{% include '_weeks.html' %}

{% endblock %}
