{% extends 'base.html' %}

{% block content %}

<h2>{{ club.name }} : {{ member.first_name|default(member.username) }} {{member.last_name }}</h2>

{% with member.get_profile() as profile %}
<table class="table">
  {{ macros.tr(('Mail', member.email)) }}
  {{ macros.tr(('Date de naissance', profile.birthday|date('d/m/Y'))) }}
  {{ macros.tr(('Vma', profile.vma)) }}
  {{ macros.tr(('Poids', profile.weight)) }}
  {{ macros.tr(('Taille', profile.height)) }}
  {{ macros.tr(('Fréquence au repos', profile.frequency_rest)) }}
  {{ macros.tr(('Fréquence maximale', profile.frequency)) }}
  {{ macros.tr(('Entraineur', profile.trainer.first_name + ' ' + profile.trainer.last_name|default(profile.trainer.username))) }}
  {{ macros.tr(('Licence FFA', profile.license)) }}
  {{ macros.tr(('Nb Séances hebdomadaires', profile.nb_sessions)) }}
  {{ macros.tr(('Renseignements', profile.comment)) }}
</table>
{% endwith %}

<a class="btn btn-success pull-right" href="{% url club-current club.slug %}">Retour au club</a>

<h2>Semaines</h2>
{% if reports %}
<table class="table">
  <tr>
    <th>Semaine</th>
    <th>Séances</th>
    <th>Actions</th>
  </tr>
  {% for r in reports %}
  <tr>
    <td>Semaine {{r.week|add(1)}} de {{r.year}}</td>
    <td>{{r.nb_sessions}}</td>
    <td>
      <a class="btn btn-info" href="{% url club-member-week club.slug, member.username, r.year, r.week %}">Voir</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="alert alert-warning">
  Pas de séances renseignées.
</p>
{% endif %}

{% endblock %}
