{% set page_size = 'fullscreen' %}

{% extends 'base.html' %}

{% block content %}
<h2>{{club.name}} : {{members.count()}} membres</h2>

<ul class="breadcrumb">
  <li><a href="{% url 'club-current-name' club.slug, 'athletes', sort %}">Mes Athlètes</a> <span class="divider">&bull;</span></li>
  <li><a href="{% url 'club-current-name' club.slug, 'all', sort %}">Tout le club</a> <span class="divider">&bull;</span></li>
  <li><a href="{% url 'club-current-name' club.slug, 'archives', sort %}">Archives</a></li>
</ul>

{% if members %}
<table class="table">
  <tr>
    <th>{{ macros.sort_title('Athlète', 'name', 'club-current-name', (club.slug, type, ), sort) }}</th>
    <th>Rôle</th>
    <th>Vma</th>
    <th>Séances</th>
    <th>{{ macros.sort_title('Dernière séance', 'date', 'club-current-name', (club.slug, type, ), sort) }}</th>
    <th>Actions</th>
  </tr>
  {% for member in members %}
  <tr>
    {% with member.get_profile() as profile %}
    <td>
      {{ member.first_name|default(member.username) }} {{ member.last_name }}
    </td>
    <td>{{member.membership.role|title()}}</td>
    <td>{{ profile.vma|default('-') }}</td>
    <td>{{ member.nb_sessions }}</td>
    <td>
      {% if member.max_report_date %}
      <a href="{% url club-member-week club.slug, member.username, member.max_report_date|date('Y'), member.max_report_date|date('W')|add(-1) %}">{{ member.max_report_date|date('l d E') }}</a>
      {% endif %}
    </td>
    <td>
      <a class="btn" href="{% url club-member club.slug, member.username %}">Fiche</a>
      <a class="btn btn-primary" href="{% url club-member-month club.slug, member.username, today|date('Y'), today|date('m') %}">Carnet</a>
    </td>
    {% endwith %}
  </tinfo >
  {% endfor %}
</table>
{% else %}
<div class="alert alert-error">
  <h4>Pas de membres</h4>
  Aucun membre du club {{club.name}} trouvé pour cette liste.
</div>
{% endif %}

{% endblock %}
