{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h2>{{ club.name }} : {{ member.first_name|default(member.username) }} {{member.last_name }}</h2>

	<table class="table">
		{{ macros.tr(('Mail', member.email)) }}
		{{ macros.tr(('Date de naissance', member.birthday|date('d/m/Y'))) }}
		{{ macros.tr(('Catégorie', member.category.name|default('-'))) }}
		{{ macros.tr(('Vma', member.vma)) }}
		{{ macros.tr(('Poids', member.weight)) }}
		{{ macros.tr(('Taille', member.height)) }}
		{{ macros.tr(('FC repos', member.frequency_rest)) }}
		{{ macros.tr(('FC max', member.frequency)) }}
		<tr>
			<td>Entraineurs</td>
			<td>
				<ul>
					{% for t in membership.trainers.all() %}
					<li>{{ t.first_name}} {{t.last_name|default(t.username) }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{{ macros.tr(('Licence FFA', member.license)) }}
		{{ macros.tr(('Nb Séances hebdomadaires', member.nb_sessions)) }}
		{{ macros.tr(('Renseignements', member.comment)) }}
	</table>

	<p class="actions pull-right">
		<a class="btn btn-success" href="{% url club-current club.slug %}">Retour au club</a>
	</p>

</div>

{% endblock %}
