{% extends 'base.html' %}

{% block content %}

<div class="container">

	<h2>{{club.name}} - {{member.first_name}} {{member.last_name|default(member.username)}}</h2>

	{% if report %}
	<div class="alert alert-info">
		<h4>Semaine {{week|add(1)}} de {{year}}</h4>
		du {{report.get_date_start()|date('l d E')}} au {{report.get_date_end()|date('l d E')}}
	</div>

	{% include 'run/report.closed.html' %}
	{% else %}
	<div class="alert alert-warning">
		<h4>Semaine {{week|add(1)}} de {{year}}</h4>
		Pas de commentaires disponibles.
	</div>
	{% endif %}

	{% include '_weeks.html' %}

	<a class="btn btn-success pull-right" style="margin-left: 5px" href="{% url club-current club.slug %}">Retour au club</a>
	<a class="btn btn-primary pull-right" href="{% url club-member club.slug, member.username %}">Fiche de {{member.first_name|default(member.username)}}</a>

</div>

{% endblock %}
