{% extends 'base.html' %}

{% block content %}

<h2>{{ club.name }} : {{ member.first_name|default(member.username) }} {{member.last_name }}</h2>

{% with member.get_profile() as profile %}
<table class="table">
  {{ macros.tr(('Mail', member.email)) }}
  {{ macros.tr(('Date de naissance', profile.birthday|date('d/m/Y'))) }}
  {{ macros.tr(('Vma', profile.vma)) }}
  {{ macros.tr(('Poids', profile.weight)) }}
  {{ macros.tr(('Taille', profile.height)) }}
  {{ macros.tr(('Fréquence au repos', profile.frequency_rest)) }}
  {{ macros.tr(('Fréquence maximale', profile.frequency)) }}
  {{ macros.tr(('Renseignements', profile.comment)) }}
</table>
{% endwith %}

<a class="btn btn-info pull-right" href="{% url club club.slug %}">Retour au club</a>

{% endblock %}
