{% extends 'base.html' %}

{% set page_title = 'Membres du %s' % (club.name, ) %}

{% block content %}

<div class="container">

	<h2>{{club.name}} : {{members|length()}} {{ _('Public members') }}</h2>

	{% if members %}
	<div class="athletes">
    <div class="row hidden-xs list-title">
      <div class="col-sm-6">{{ _('Member') }}</div>
      <div class="col-sm-2">{{ _('Role') }}</div>
      <div class="col-sm-2">{{ _('Category') }}</div>
      <div class="col-sm-2">{{ _('Actions') }}</div>
    </div>
    {% for member in members %}
    <div class="row member">
      <div class="avatar col-sm-5 col-xs-9">
        <a href="{% url user-public-profile member.username %}">
          <img class="small" src="{{ member.avatar.url }}" alt="{{ member.username }} avatar"/>
        </a>
        <a href="{% url user-public-profile member.username %}">
          {{ member.first_name|lower|title }} {{ member.last_name|lower|title }}
        </a>
      </div>
      <div class="col-sm-2 col-xs-3">
        {% with member.membership.role as role %}
        {% if role == 'trainer' %}
        <span class="label label-info">{{ _('Trainer') }}</span>
        {% elif role == 'staff' %}
        <span class="label label-primary">{{ _('Staff') }}</span>
        {% else %}
        <span class="label label-default">{{ _('Athlete') }}</span>
        {% endif %}
        {% endwith %}
      </div>
      <div class="col-sm-2 hidden-xs">
        {{ member.category.name|default('-') }}
      </div>
      <div class="col-sm-3 text-right hidden-xs">
        {% if member != user %}
          {% if member.pk in friends %}
          <button class="btn btn-success disabled">
            <i class="icon-club"></i> {{ _('Friend') }}
          </button>
          {% elif member.pk in friend_requests %}
          <button class="btn btn-info disabled">
            <i class="icon-club"></i> {{ _('Requested') }}
          </button>
          {% elif user.is_authenticated() %}
          <span id="fr_{{ member.pk }}">
            <button data-replaces="fr_{{ member.pk }}" class="btn btn-info modal-action modal-post" href="{% url friend-add member.username %}">
              <i class="icon-club"></i> {{ _('Add friend') }}
            </button>
          </span>
          {% endif %}
        {% endif %}
        <a class="btn btn-primary" href="{% url user-public-profile member.username %}">
          {{ _('Check profile') }} <i class="icon-right-open"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
	{% else %}
	<div class="alert alert-warning">
		<h4>{{ _('No Members') }}</h4>
    {{ _('No member from club %s found for this list.') % club.name }}
	</div>
	{% endif %}

</div>

{% endblock %}
