{% extends 'base.html' %}

{% set page_title = 'Courses du %s' % club.name %}
{% set page_size = 'fullscreen' %}

{% block content %}

<div class="container">

	<h2>Courses du {{ club.name }}</h2>

	{% if races %}

	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>Athlète</th>
				<th>Type</th>
				<th>Course</th>
				<th>Date</th>
				<th>Dans</th>
				<th>Actions</th>
			</tr>
			{% for race in races %}
			<tr>
				<td><a href="{% url club-member club.slug, race.report.user.username %}">{{ race.report.user.first_name }} {{ race.report.user.last_name }}</a></td>
				<td>{{ race.race_category.name }}</td>
				<td>{{ race.name|truncatechars(30) }}</td>
				<td>{{ race.date|date('d E Y') }}</td>
				<td>{{ race.date|timeuntil() }}</td>
				<td><a class="modal-action btn btn-info btn-xs" href="{% url club-member-day club.slug, race.report.user.username, race.date.year, race.date.month, race.date.day %}">Voir</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	{% else %}
	<p class="alert alert-warning">Pas de courses prévues pour vos athlètes</p>
	{% endif %}

</div>

{% endblock %}
