{% extends 'modal.html' %}
{% set modal_title = "Changer le role de "+member.first_name+" "+member.last_name %}

{% block body %}
<div class="roles">
	<form method="POST" action="{% url club-member-role club.slug, member.username %}">
		<p class="text-info">
      {{ member.first_name }} {{ member.last_name }} {{ _('is a %s in club') % _(membership.role|title()) }} : {{ club.name }}
		</p>
		{% csrf_token %}
		<input class="role_value" type="hidden" name="role" value="{{membership.role}}"/>

		{% for stat in stats %}
		{% if stat.type != membership.role %}
		<div class="role">
			<h4>{{roles[stat.type]}}</h4>
			<button type="submit" name="role_local" value="{{stat.type}}" class="role btn pull-right {% if stat.diff <= 0 or user.demo %}disabled{% else %}btn-success{% endif %}">{{ _('Become') }} {{ _(stat.type|title()) }}</button>

			{{ _('Available places') }} :
			{% if stat.percent >= 50 %}
			<span class="badge badge-success">{{stat.diff}} / {{stat.max}}</span>
			{% elif stat.percent >= 25 %}
			<span class="badge badge-warning">{{stat.diff}} / {{stat.max}}</span>
			{% else %}
			<span class="badge badge-important">{{stat.diff}} / {{stat.max}}</span>
			{% endif %}
		</div>
		{% endif %}
		{% endfor %}

		{% if membership.role in ('athlete', 'trainer') %}
		<hr />
		<div class="trainers">
			<h4>Choisir ses entraineurs</h4>
			{{form.trainers|safe}}
		</div>
		<button type="submit" class="btn btn-info pull-right" {% if user.demo %}disabled{% endif %}>{{ _('Save') }}</button>
		{% endif %}

		<hr />
		<h4>{{ _('Danger zone') }}</h4>
		<button type="submit" name="role_local" value="archive" class="role btn btn-danger pull-right {% if membership.role == "archive" or user.demo %}disabled{% endif %}">{{ _('Archive this account') }}</button>
	</form>
</div>
{% if user.demo %}
<div class="alert alert-warning" style="margin: 60px 0 0 0">
  <h4>{{ _('Demo account') }}</h4>
  {{ _('Edition is disabled for the demo.') }}
</div>
{% endif %}
{% endblock %}
