<div class="row">
  <div class="col-xs-12">
  {% with messages.count() as nb %}
    {% if nb > 0 %}
    <h5><i class="icon-comment"></i> {{ nb }} commentaire{{ nb|pluralize() }}</h5>
    {% else %}
    <h5><i class="icon-comment"></i> Pas de commentaires</h5>
    {% endif %}
  {% endwith %}
  </div>
</div>

{% for message in messages %}
<div class="row message actions-hover">
  <div class="col-xs-1 thumb">
    <img class="img-responsive img-rounded" src="{{ message.sender.avatar.url }}" alt="Avatar {{ message.sender.username }}" />
  </div>
  <div class="col-sm-8">
    <p>
      <i class="icon-user"></i> <a href="{% url user-public-profile message.sender.username %}">{{ message.sender.first_name }} {{ message.sender.last_name }}</a>
      <i class="icon-calendar"></i> {{ message.created|date('l d E Y - H:i') }}
      {% if message.revision > 1 %}
      <i class="icon-right-open"></i> Edité {{ message.revision }} fois.
      {% endif %}
    </p>
    <blockquote>
    {{ message.message|linebreaks }}
    </blockquote>
  </div>

  <div class="col-sm-3 text-right actions">
    {% if message.sender == user %}
    <a href="{% url message-delete message.pk %}" class="modal-action btn btn-sm btn-danger"><i class="icon-trash"></i> Supprimer</a>
    <a href="{% url message-edit message.pk %}" class="modal-action btn btn-sm btn-success">Editer <i class="icon-right-open"></i></a>
    {% endif %}
  </div>
</div>
{% endfor %}
