{% extends 'modal.html' %}

{% set modal_title = 'Supprimer un message' %}
{% set form_url = url('message-delete', message.pk) %}

{% block body %}

<p class="text-danger">
  Vous êtes sur le point de supprimer votre message du {{ message.created|date('l d E Y - H:i') }} :
</p>

<blockquote>
{{message.message}}
</blockquote>

{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">Annuler</button>
<button type="submit" class="btn btn-danger">Supprimer</button>
{% endblock %}
