{% extends 'modal.html' %}

{% set modal_title = 'Editer un message' %}
{% set form_url = url('message-edit', message.pk) %}

{% block body %}
<div class="edit-comment">
  {% csrf_token %}
  {{ form.message|safe }}
  {% if form.message.errors %}
  <div class="alert alert-danger">
    {{ form.message.errors|safe }}
  </div>
  {% endif %}

  <p>
    <i class="icon-lock"></i>
    Commentaire privé : 
    {{ form.private|safe }}
    <br />
    <span class="text-muted">Seul l'athlète de la séance verra un commentaire privé</span>
  </p>
</div>
{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">Annuler</button>
<button type="submit" class="btn btn-success">Editer</button>
{% endblock %}
