{% extends 'base.html' %}

{% set page_title = _('Your recent conversations') %}

{% block content %}
<div class="container">

<h1>{{ _('Your recent conversations') }}</h1>

{% if conversations %}
  {% for conversation in conversations %}
    {% include 'messages/_conversation.html' %}
  {% endfor %}

  <nav>
    <ul class="pager">
      {% if conversations.has_previous() %}
      <li class="previous">
        <a href="{{ url('message-inbox-page', conversations.previous_page_number()) }}">
          <i class="icon-left-open"></i> {{ _('Previous conversations') }}
        </a>
      </li>
      {% endif %}
      <li>
        {{ _('Page') }} {{ conversations.number }} / {{ conversations.paginator.num_pages }}
      </li>
      {% if conversations.has_next() %}
      <li class="next">
        <a href="{{ url('message-inbox-page', conversations.next_page_number()) }}">
          {{ _('Next conversations') }} <i class="icon-right-open"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% else %}
<div class="alert alert-info">
  <h4>{{ _('No conversations') }}</h4>
  {{ _('You did not receive or send any message.') }}
</div>
{% endif %}

</div>
{% endblock %}
