{% extends 'base.html' %}

{% set page_title = post and _('Edit %s') % post.title or _('Create a post') %}

{% block js %}
<script type="text/javascript">
$(function(){

  // Setup quill editor
  var editor = new Quill('#text_editor', {
    formats: ['bold', 'italic', 'strike', 'underline', 'bullet', 'list', 'link'],
    styles : false,
    pollInterval : 50,
    modules : {
      'toolbar': { container: '#toolbar' },
      'link-tooltip': true
    }
  });

  // Submit with html content
  $('button#edit').on('click', function(){

    // Load form data
    var data = {};
    // Add editor html
    data['html'] = $('#text_editor').html();

    // Submit form
    load_box(this.getAttribute('action'), 'POST', data, null);
  });
});
</script>
{% endblock %}

{% block content %}
<div class="container">

  {% if post %}
  <h1>{{ _('Edit post : %s') % post.title }}</h1>
  {% else %}
  <h1>{{ _('Create a post') }}</h1>
  {% endif %}

  <form class="form-horizontal" method="post" action="{% if post %}{% url 'post-edit' post.slug %}{% else %}{% url 'post-create' %}{% endif %}" id="post_editor">
    {% csrf_token %}
    {{ macros.input(form.title) }}
    {{ macros.input(form.slug) }}
    {{ macros.input(form.type) }}
    {{ macros.input_bool(form.published) }}
  </form>

  <div class="form-group">
    <div id="toolbar">
      <div class="btn-group">
        <button class="ql-bold do-tooltip btn btn-default" title="{{ _('Bold (Ctrl+B)') }}">
          <i class="icon-bold"></i>
        </a>
        <button class="ql-italic do-tooltip btn btn-default" title="{{ _('Italic (Ctrl+I)') }}">
          <i class="icon-italic"></i>
        </a>
        <button class="ql-strike do-tooltip btn btn-default" title="{{ _('Strikethrough') }}">
          <i class="icon-strike"></i>
        </a>
        <button class="ql-underline do-tooltip btn btn-default" title="{{ _('Underline (Ctrl+U)') }}">
          <i class="icon-underline"></i>
        </a>
      </div>

      <div class="btn-group">
        <button class="ql-bullet do-tooltip btn btn-default" title="{{ _('Bullet list') }}">
          <i class="icon-list"></i>
        </a>
        <button class="ql-list do-tooltip btn btn-default" title="{{ _('Numbered list') }}">
          <i class="icon-list-numbered"></i>
        </a>
      </div>

      <button class="ql-link do-tooltip btn btn-default" title="{{ _('External link') }}">
        <i class="icon-link"></i>
      </a>
    </div>

    <div id="text_editor" class="col-xs-12">
      {{ form.html.value()|safe }}
    </div>
  </div>

  <p>
    <a href="{% url 'posts' %}" class="btn btn-default">{{ _('Cancel') }}</a>
    <button id="edit" type="submit" class="btn btn-primary">{% if post %}{{ _('Edit the post') }}{% else %}{{ _('Create the post') }}{% endif %}</button>
    <a href="{% url 'post' user.username, post.slug %}" class="btn btn-info">{{ _('View the post') }}</a>
  </p>

  {% if post.pk %}
  <hr />
  <div class="box" data-src="{% url 'post-sessions' post.slug %}">{{ _('Loading sessions...') }}</div>
  {% endif %}
</div>
{% endblock %}
