{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
$(function(){
  // Switch central texts
  setInterval(function(){
    var h = $('#switch_h2 h2.hid');
    var v = $('#switch_h2 h2.vis');
    v.fadeOut(function(){
      h.removeClass('hid').addClass('vis').fadeIn();
      v.removeClass('vis').addClass('hid');
    });
  }, 5000);
});
</script>
{% endblock %}

{% block content %}
<div id="home">

  {# Carousel #}
  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1"></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url({{ static('img/home/carousel_1.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('The website of your running success') }}</h3>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url({{ static('img/home/carousel_2.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('Track precisely your progression') }}</h3>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url({{ static('img/home/carousel_3.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('Communicate with your sport friends & clubs') }}</h3>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
      <span class="sr-only">{{ _('Previous') }}</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
      <span class="sr-only">{{ _('Next') }}</span>
    </a>
  </div>

  {# Call to actions #}
  <div class="container-fluid">
    <div class="row actions">
      <div class="col-xs-12 text-center">
        <a href="{{ url('user-create') }}" class="btn btn-primary btn-lg">
          <i class="icon-plus"></i>
          {{ _('Create an account') }}
        </a>
        <a href="{{ url('login') }}" class="btn btn-primary btn-lg">
          <i class="icon-user"></i>
          {{ _('Sign in') }}
        </a>
      </div>
    </div>
  </div>

  {# Marketing choices #}
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 col-sm-6 col-xs-12">
        <img class="img-circle img-responsive" src="{{ static('img/home/runner.jpg') }}" alt="{{ _('Runner') }}" >
        <h2>{{ _("I'm an athlete") }}</h2>
        <p>
          {{ _('RunReport is your new sport partner') }} :
          <a href="{{ url('login') }}">{{ _('Sign in') }}</a>, 
          {{ _('plan your sessions, track your performances and share them with your trainer & friends.') }}
        </p>
        <p>
          <a class="btn btn-info btn-light" href="{{ url('features-athlete') }}" role="button">
            {{ _('Want to know more') }}
            <i class="icon-right-open"></i>
          </a>
        </p>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12" id="switch_h2">
        <img class="img-circle img-responsive" src="{{ static('img/home/trainer.jpg') }}" alt="{{ _('Trainer') }}">
        <h2 class="vis">{{ _("I'm a trainer") }}</h2>
        <h2 class="hid" style="display: none">{{ _("I'm a coach") }}</h2>
        <p>
          {{ _('RunReport is the ideal tool to train, track and motivate your athletes.') }}
          <a href="{{ url('login') }}">{{ _('Sign in') }}</a>, 
          {{ _('create, share your training plans and manage your club.') }}
        </p>
        <p>
          <a class="btn btn-info btn-light" href="{{ url('features-trainer') }}" role="button">
            {{ _('Want to know more') }}
            <i class="icon-right-open"></i>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
