{% extends 'base.html' %}

{% block content %}
<div id="home">

  {# Carousel #}
  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1"></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url({{ static('img/home/carousel_1.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('The website of your running success') }}</h3>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url({{ static('img/home/carousel_2.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('Track precisely your progression') }}</h3>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url({{ static('img/home/carousel_3.jpg') }})">
        <div class="container">
          <div class="carousel-caption">
            <img class="logo" src="{{ static('img/logo_bloc.svg') }}" alt="RunReport" />
            <h3>{{ _('Communicate with your sport friends & clubs') }}</h3>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
      <span class="sr-only">{{ _('Previous') }}</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
      <span class="sr-only">{{ _('Next') }}</span>
    </a>
  </div>

  {# Marketing choices #}
  <div class="container marketing">
    <div class="row actions">
      <div class="col-sm-offset-3 col-sm-3 col-xs-12 text-center">
        <a href="{{ url('user-create') }}" class="btn btn-primary btn-lg">
          <i class="icon-plus"></i>
          {{ _('Create an account') }}
        </a>
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
        <a href="{{ url('login') }}" class="btn btn-primary btn-lg">
          <i class="icon-user"></i>
          {{ _('Sign in') }}
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle img-responsive" src="{{ static('img/home/runner.jpg') }}" alt="{{ _('Runner') }}" >
        <h2>{{ _("I'm a runner") }}</h2>
        <p>RunReport est votre nouveau partenaire running : <a href="{{ url('login') }}">connectez vous</a>, planifiez vos séances, suivez vos performances et partagez-les avec votre entraîneur et vos amis</p>
        <p>
          <a class="btn btn-info btn-light" href="{{ url('features') }}" role="button">
            {{ _('Want to know more') }}
            <i class="icon-right-open"></i>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle img-responsive" src="{{ static('img/home/trainer.jpg') }}" alt="{{ _('Trainer') }}">
        <h2>{{ _("I'm a trainer") }}</h2>
        <p>RunReport est la plateforme idéale pour entraîner, suivre et motiver vos athlètes. <a href="{{ url('login') }}">Connectez vous</a>, créez et partagez vos plans d'entraînement .</p>
        <p>
          <a class="btn btn-info btn-light" href="{{ url('features') }}" role="button">
            {{ _('Want to know more') }}
            <i class="icon-right-open"></i>
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <img class="img-circle img-responsive" src="{{ static('img/home/win.jpg') }}" alt="{{ _('Challenge') }}">
        <h2>{{ _('Premium Membership') }}</h2>
        <p>
          RunReport est (et restera) gratuit, mais un abonnement premium existe pour diposer de fonctionalités avancées. Améliorez votre suivi sportif en vous abonnant !
        </p>
        <p>
          <a class="btn btn-info btn-light" href="{{ url('features') }}" role="button">
            {{ _('Want to know more') }}
            <i class="icon-right-open"></i>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
