{% extends "base.html" %}

{% set page_title = _('Features') %}

{% block content %}
<div id="features" class="pricing">
  <div class="container-fluid jumbotron">
    <h1>{{ _('Pricing for athletes & trainers') }}</h1>
  </div>

  <div class="container">

    <h1>
      <i class="icon-sport-running"></i>
      {{ _('I\'m an athlete') }}
    </h1>

    <p class="lead">
      <span class="text-info">
        <i class="icon-premium"></i>
        {{ _('RunReport is totally free for you !') }}
      </span>
      <br />
      {{ _('You can enjoy all the features (sport logbook, GPS sync, social communication about your sport sessions, ...), and join any club you want.') }}
    </p>


    <hr />

    <h1>
      <i class="icon-plan-session"></i>
      {{ _('I\'m a trainer or club manager') }}
    </h1>

    <h1></h1>
    <p class="lead text-info">
      <i class="icon-premium"></i>
      {{ _('Clubs are paying on a per-user basis') }}
      <br />
      {{ _('A club has a free trial of 45 days, with full features enabled') }}
    </p>

    <div class="row prices text-center">

      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ _('Athletes') }}</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <img class="img-rounded img-responsive" src="{{ static('img/home/runner.jpg') }}" alt="{{ _('Athlete') }}">
            </div>

            <p>
              <a href="{{ url('features-athlete') }}" class="btn btn-info btn-light">
                <i class="icon-premium"></i>
                {{ _('View all the athletes features') }}
              </a>
            </p>

            <p class="price">
              {{ prices.athlete|floatformat(2) }} &euro;/{{ _('month') }} {{ _('per athlete') }}
            </p>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ _('Trainers') }}</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <img class="img-rounded img-responsive" src="{{ static('img/home/trainer.jpg') }}" alt="{{ _('Trainer') }}">
            </div>

            <p>
              <a href="{{ url('features-trainer') }}" class="btn btn-info btn-light">
                <i class="icon-premium"></i>
                {{ _('View all the trainers features') }}
              </a>
            </p>

            <p class="price">
              {{ prices.trainer|floatformat(2) }} &euro;/{{ _('month') }} {{ _('per trainer') }}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
