{% extends 'base.html' %}

{% set page_title = "L'équipe" %}

{% block content %}
<div class="container" id="team">
  <h2>L'équipe</h2>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h3>Bastien Abadie</h3>
      <div class="col-xs-4">
        <img class="img-responsive img-rounded" src="/medias/img/team/bastien.jpg" alt="Bastien" />
      </div>
      <div class="col-xs-8">
        Développeur, <a href="http://www.nextcairn.com">entrepreneur</a> & athlète, j'ai créé en 2013 ce site pour répondre aux besoins de mon club d'athlétisme : le <a href="http://csternes.athle.org">Cs Ternes</a>.
        <ul>
          <li>
            <i class="icon icon-mail"></i>
            <a href="mailto:bastien@runreport.fr">bastien@runreport.fr</a>
          </li>
          <li>
            <i class="icon icon-link"></i>
            <a href="http://www.nextcairn.com">Next Cairn</a>
          </li>
          <li>
            <i class="icon icon-twitter"></i>
            <a href="http://twitter.com/La0">@La0</a>
          </li>
          <li>
            <i class="icon icon-github"></i>
            <a href="http://github.com/La0">Github</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <h3>Sylvain Darrasse</h3>
      <div class="col-xs-4">
        <img class="img-responsive img-rounded" src="/medias/img/team/sylvain.jpg" alt="Sylvain" />
      </div>
      <div class="col-xs-8">
        Entraîneur au <a href="http://csternes.athle.org">Cs Ternes</a>, j'apporte mon expertise sportive et d'encadrement pour améliorer constamment le site.
        <ul>
          <li>
            <i class="icon icon-mail"></i>
            <a href="mailto:sylvain@runreport.fr">sylvain@runreport.fr</a>
          </li>
          <li>
            <i class="icon icon-link"></i>
            <a href="http://csternes.athle.org">Cs Ternes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h3>Romain Bohdanowicz</h3>
      <div class="col-xs-4">
        <img class="img-responsive img-rounded" src="/medias/img/team/romain.jpg" alt="Romain" />
      </div>
      <div class="col-xs-8">
        <p>
          Triathlète, formateur informatique & designer, j'ai apporté le look actuel à RunReport.
        </p>
        <ul>
          <li>
            <i class="icon icon-link"></i>
            <a href="http://www.formateurinformatique.fr">Formateur informatique</a>
          </li>
          <li>
            <i class="icon icon-twitter"></i>
            <a href="http://twitter.com/bioub">@bioub</a>
          </li>
          <li>
            <i class="icon icon-github"></i>
            <a href="http://github.com/bioub">Github</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <h3>Simon Gareste</h3>
      <div class="col-xs-4">
        <img class="img-responsive img-rounded" src="/medias/img/team/simon.jpg" alt="Simon" />
      </div>
      <div class="col-xs-8">
        <p>
          Grand randonneur, je teste en permanence le site à la recherche du moindre défaut & optimisation.
        </p>
        <ul>
          <li>
            <i class="icon icon-mail"></i>
            <a href="mailto:simon@gareste.fr">simon@gareste.fr</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
