<div class="list-group" id="demo">
  {% for step in demo %}
    {% if not step.active and step.url %}
    <a href="{{ step.url }}" class="list-group-item">
    {% else %}
    <li class="list-group-item {% if step.active %}disabled{% endif %}">
    {% endif %}

      {% if step.active %}
      <span class="pull-right text-info do-tooltip" title="{{ _('You have validated this step.') }}">
        <i class="icon-ok"></i>
      </span>
      {% else %}
      <button href="{{ url('demo-skip') }}" class="modal-action modal-post btn btn-light btn-warning btn-sm pull-right" data-post-step="{{ step.name }}" data-post-mode="{{ mode }}">
        {{ _('Skip this step') }}
        <i class="icon-right-open"></i>
      </button>
      {% endif %}

      {{ step.title }}

    {% if not step.active and step.url %}
    </a>
    {% else %}
    </li>
    {% endif %}
  {% endfor %}
</div>
