{% extends 'base.html' %}

{% set page_title = _('Trainer Dashboard') %}

{% set type_css = {
  'training' : 'label-info',
  'race' : 'label-success',
  'rest' : 'label-danger',
} %}

{% block content %}
<div class="container" id="dashboard">
  <h1>{{ _('Trainer dashboard') }} <span class="text-muted">&bull;</span> {{ club.name }}</h1>

  {% if clubs.count() > 1 %}
    {% for c in clubs %}
    <ul class="nav nav-tabs">
      <li role="presentation" class="{% if c == club %}active{% endif %}">
        <a href="{{ url('dashboard-club', c.slug) }}">{{ c.name }}</a>
      </li>
    </ul>
    {% endfor %}
  {% endif %}

  <ol class="breadcrumb">

    {# Athletes list #}
    <li>
      <i class="icon-club text-muted"></i>
      <a href="{{ url('club-members', club.slug) }}">{{ _('All Athletes') }}</a>
    </li>

    {% if club.manager == user %}
      {# Add athletes #}
      {% if club.has_full_access %}
      <li>
        <i class="icon-plus text-muted"></i>
        <a href="{{ url('club-manage', club.slug) }}#invites">
          {{ _('Add athletes') }}
        </a>
      </li>
      {% endif %}

      {# Club Admin #}
      <li>
        <i class="icon-edit text-muted"></i>
        <a href="{{ url('club-manage', club.slug) }}">{{ _('Manage your club') }}</a>
      </li>
    {% endif %}

    {# Plans #}
    <li>
      <i class="icon-plan-session text-muted"></i>
      <a href="{{ PLANS_URL }}">{{ _('Training plans') }}</a>
    </li>

    {# Athlete Dashboard #}
    <li>
      <i class="icon-right-open text-muted"></i>
      <a href="{{ url('dashboard-type', 'athlete') }}">{{ _('Your athlete dashboard') }}</a>
    </li>

  </ol>

  {% if club.manager == user and not club.has_full_access %}
  <div class="alert alert-warning">
    <h4>
      <i class="icon-premium"></i>
      {{ _('Club %s is in limited access') % m.club.name }}
    </h4>
    <p class="pull-right">
      <a href="{{ url('club-manage', m.club.slug) }}" class="btn btn-danger">
        {{ _('Manage my club') }}
        <i class="icon-right-open"></i>
      </a>
    </p>
    <p>
      {{ _('Your club has expired the free trial period, and is now in a limited access period.') }}
      <br />
      {{ _('You need to activate a credit card for this club.') }}
    </p>
  </div>
  {% endif %}

  {% if demo or prospects %}
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      {% if demo %}
        <h3>{{ _('Start building your club !') }}</h3>
        <p class="text-info">
          <i class="icon-help-circled"></i>
          {{ _('Follow those steps to discover the features of RunReport !') }}
        </p>
        {% include 'dashboard/demo.html' %}
      {% else %}
      <span class="text-success">
        <i class="icon-ok"></i>
        {{ _('You successfully completed the demo !') }}
      </span>
      {% endif %}
    </div>

    <div class="col-xs-12 col-sm-6">
      {% if prospects %}
        <h3>{{ _('%d Prospects in your clubs') % prospects.count() }}</h3>
        <p class="text-info">
          <i class="icon-help-circled"></i>
          {{ _('Accept or refuse new members in your club.') }}
        </p>

        {% for p in prospects %}
        <div class="list-group">
          <a href="{{ url('club-member-role', p.club.slug, p.user.username) }}" class="modal-action list-group-item do-tooltip" title="{{ _('Click to accept or refuse this athlete') }}">
            <p class="pull-right">
              <i class="icon-ok text-success"></i>
              {{ _('or') }}
              <i class="icon-trash text-danger"></i>
            </p >
            {{ p.user.first_name }} {{ p.user.last_name }}
          </a>
        </div>
        {% endfor %}
      {% else %}
      <span class="text-success">
        <i class="icon-ok"></i>
        {{ _('No new prospects in your club.') }}
      </span>
      {% endif %}
    </div>
  </div>

  <hr />
  {% endif %}

  <div class="row">
    {# Last sessions by athletes #}
    <div class="col-xs-12 col-sm-6">
      <h3>{{ _('Your athletes sessions') }}</h3>
      {% for day, day_sessions in sessions.items() %}
        {% if day == today %}
          <h4 class="text-primary">
            <i class="icon-calendar"></i>
            {{ _('Today') }}
          </h4>
        {% else %}
          <h4 class="text-primary">
            <i class="icon-calendar"></i>
            {{ day|date('l d E Y') }}
          </h4>
        {% endif %}
        <div class="group-day">
          {% for session in day_sessions %}
            {% include 'dashboard/session.html' %}
          {% endfor %}
        </div>
      {% else %}
      <p class="text-info">
        {{ _('No recent sessions from your athletes.') }}
      </p>
      {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-6">
      {# Plans #}
      <h3>{{ _('Your last plans') }}</h3>
      {% for plan in plans %}
      <div class="plan">
        <i class="icon-plan-session"></i>
        <a href="{{ PLANS_URL }}/#/plan/{{ plan.pk }}">
          {{ plan.name }}
        </a>
        <span class="text-muted">
          &bull;
          {{ plan.weeks_nb }} {{ _('weeks') }}
        </span>
      </div>
      {% else %}
      <p class="text-info">
        {{ _("You don't have any plans for your athletes yet.") }}
      </p>
      {% endfor %}
  
      <a href="{{ PLANS_URL }}" target="_blank" class="btn btn-success btn-light">
        <i class="icon-plus"></i>
        {{ _('Create a new plan') }}
      </a>

      {# Future races #}
      <h3>{{ _('Your athletes races') }}</h3>
      {% for session in races %}
        {% include 'dashboard/session.html' %}
      {% else %}
      <p class="text-info">
        {{ _('No futures races from your athletes.') }}
      </p>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
