{% extends 'base.html' %}

{% set page_title = 'Créer un compte' %}

{% block content %}

<div class="container">
	<form method="post" class="form-horizontal" role="form">
	  {% csrf_token %}
	  <h2>Créer un compte</h2>
	    {% with form.non_field_errors() as err %}
	      {{ err|safe }}
	    {% endwith %}
	    {{ macros.input(form.firstname, 'Votre prénom') }}
	    {{ macros.input(form.lastname, 'Votre nom') }}
	    {{ macros.input(form.email, 'Votre email') }}
	    {{ macros.input(form.password, 'Mot de passe') }}
	    {{ macros.input(form.password_check, 'Vérifiez le mot de passe') }}
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">Créer mon compte</button>
	    </div>
	</form>
</div>

<!-- <form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">email@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
</form> -->


{% endblock %}
