{% extends 'base.html' %}

{% set page_title = 'Créer un compte' %}

{% block content %}

<div class="container">
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		<h2>Créer un compte</h2>
		{% with form.non_field_errors() as err %}
		{{ err|safe }}
		{% endwith %}
		{{ macros.input(form.firstname, 'Votre prénom') }}
		{{ macros.input(form.lastname, 'Votre nom') }}
		{{ macros.input(form.email, 'Votre email') }}
		{{ macros.input(form.password, 'Mot de passe') }}
		{{ macros.input(form.password_check, 'Vérifiez le mot de passe') }}
		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Créer mon compte</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}
