{% extends 'base.html' %}

{% set page_title = _('Create my account') %}

{% block content %}

<div class="container" id="signup">
  <h2>{{ _('Create my account') }}</h2>
  {% if invite and invite.type == 'create' %}
  <div class="alert alert-info">
    <h4>{{ _('Club invite') }}</h4>
    {{ _('Welcome ! You must create a personal account in order to create your club.') }}
  </div>
  {% endif %}
	<form method="post" class="form-horizontal" role="form">
		{% csrf_token %}
		{% with err = form.non_field_errors() %}
		{{ err|safe }}
		{% endwith %}
		{{ macros.input(form.firstname) }}
		{{ macros.input(form.lastname) }}
		{{ macros.input(form.email) }}
    <div class="birthday">
      {{ macros.input(form.birthday) }}
    </div>
		{{ macros.input(form.password) }}
		{{ macros.input(form.password_check) }}
		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">{{ _('Create my account') }}</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}
