{% extends 'base.html' %}

{% set page_title = 'Données Garmin' %}

{% block content %}

<div class="container">
	<h2>Connection Garmin</h2>

	<div class="alert alert-warning">
		<h4>Attention !</h4>
		Je suis obligé de vous demander votre login/mot de passe pour récupérer régulièrement vos informations sur <a href="http://connect.garmin.com" target="_blank"> Garmin Connect</a>, ne disposant pas d'API officielle.
		<br />
		Votre mot de passe est chiffré puis stocké en utilisant des <a href="http://gnupg.org" target="_blank">outils professionels</a>... Mais il reste stocké dans la base de données du site.
		<br />
		Pour un maximum de sécurité, je vous conseille de changer votre mot de passe Garmin Connect pour un mot de passe unique (qui ne serait pas réutilisé sur votre compte mail, ou autre...)
	</div>

	<form class="form form-horizontal" action="" method="POST">
		{% csrf_token %}

		{% with form.non_field_errors() as err %}
		{% if err %}
		<div class="alert alert-danger">
			<h4>Erreur</h4>
			{{ err|safe }}
		</div>
		{% endif %}
		{% endwith %}

		<fieldset>
			{{ macros.input(form.garmin_login, 'Login Garmin') }}
			{{ macros.input(form.garmin_password, 'Mot de passe Garmin') }}
		</fieldset>

		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Sauver ces informations</button></p>
			</div>
		</div>
	</form>

	{% if activities_nb %}
	<div class="alert alert-info">
		{{ activities_nb }} activités importées
		<br />
		Dernière activité : {{ activities_dates.created|date('l d E Y H:i') }}
		<br />
		Dernière import: {{ activities_dates.updated|date('l d E Y H:i') }}
	</div>
	{% endif %}

</div>

{% endblock %}
