{% extends 'base.html' %}

{% set page_title = 'Données Garmin' %}

{% block content %}

<div class="container">
	<h2>Connection Garmin</h2>

  {% if connected %}
  <div class="alert alert-success">
    <h4>{{ _('Valid connection') }}</h4>
    {{ _('Your RunReport account is now connected to your Garmin account.') }}
  </div>
  {% else %}
	<div class="alert alert-warning">
		<h4>{{ _('Caution !') }}</h4>
    {{ _('We are forced to ask your login & password to retrieve your Garmin Connect informations, as they do not provide any official API.') }}
    <br />
    {{ _('Your password is encrypted then stored using professional tools, but they are stored nonetheless in the website database.') }}
		<br />
    {{ _('For a maximum level of security, we strongly suggest that you use a unique password for Garmin Connect (that should not be used for any other account)') }}
	</div>
  {% endif %}

	<form class="form form-horizontal" action="" method="POST">
		{% csrf_token %}

		{% with err = form.non_field_errors() %}
		{% if err %}
		<div class="alert alert-danger">
			<h4>{{ _('Error') }}</h4>
			{{ err|safe }}
		</div>
		{% endif %}
		{% endwith %}

		<fieldset>
			{{ macros.input(form.garmin_login) }}
			{{ macros.input(form.garmin_password) }}
		</fieldset>

		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
				<p><button type="submit" class="btn btn-primary">{{ _('Save') }}</button></p>
			</div>
		</div>
	</form>

</div>

{% endblock %}
