{% extends "base.html" %}

{% set page_title = 'Se connecter' %}

{% block content %}

<style scoped>
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
  margin-bottom: 40px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
	
.form-signin a {
	margin-bottom: 10px;
}

.form-signin p.demos {
  margin-top: 30px;
  padding: 8px;
  text-align: center;
}

p.forgot {
  margin-top: 10px;
}
</style>

<div class="container">
	<form method="post" class="form-signin" role="form">
		{% csrf_token %}
		<h1 class="form-signin-heading">{{ _('Sign in') }}</h1>
    {% if invite %}
    <div class="alert alert-info">
      <h4>{{ _('Club invite') }}</h4>
      {{ _('Please sign in before using the invite') }}
    </div>
    {% endif %}
		{% with form.non_field_errors() as err %}
		{% if err %}
		<div class="alert alert-danger">{{ err|safe }}</div>
		{% endif %}
		{% endwith %}
		<input name="{{ form.username.html_name }}" {% if form.username.data %} value="{{ form.username.data }}"{% endif %} type="email" class="form-control" placeholder="{{ _('Your email') }}" required autofocus">
		<input name="{{ form.password.html_name }}" {% if form.password.data %} value="{{ form.password.data }}"{% endif %} type="password" class="form-control" placeholder="{{ _('Your password') }}" required>
    <label class="pull-right">
      <input type="checkbox" name="remember" checked="checked" /> {{ _('Stay connected ?') }}
    </label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Sign in') }}</button>
    <p class="forgot">
      <a href="{% url password_reset %}" class="pull-right">{{ _('Forgot password ?') }}<i class="icon-help-circled"></i></a>
    </p>

    <p class="demos">
      <hr />
      <span>Comptes Démos : </span>
      <button class="btn btn-info btn-xs" onclick="return demo('demo.athlete@runreport.fr', 'demo');">{{ _('Athlete') }}</button>
      <button class="btn btn-success btn-xs" onclick="return demo('demo.trainer@runreport.fr', 'demo');">{{ _('Trainer') }}</button>
    </p>
	</form>
</div>



{% endblock %}
