{% extends 'modal.html' %}

{% set modal_title = '%d Notifications' % (total, ) %}

{% set modal_width = 800 %}

{% block body %}
<div class="notifications">
  {% for n in notifications %}
  <div class="row">
    <div class="col-sm-2 col-xs-3">
      {% if n.category == 'comment' %}
      <i class="icon-comment"></i>
      {% elif n.category == 'mail' %}
      <i class="icon-mail"></i>
      {% elif n.category == 'friend_request' %}
      <i class="icon-club"></i>
      {% elif n.category == 'plan_session_applied' %}
      <i class="icon-plan-session"></i>
      {% endif %}
      {{ n.created|timesince() }}
    </div>

    <div class="col-sm-8 col-xs-7">
      {{ n.message % n.context}}
    </div>

    <div class="col-xs-2">
      {% if n.link %}
      <a class="pull-right btn btn-sm btn-info" href="{% url user-notifications-clear n.id %}">{{ _('View') }} <i class="icon-right-open"></i></a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="alert alert-info">
    {{ _('You don\'t have any notifications.') }}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
<button class="btn" data-dismiss="modal">{{ _('Cancel') }}</button>
{% if notifications %}
<a href="{% url user-notifications-clear-all %}" class="modal-action btn btn-warning">{{ _('Delete these notifications') }}</a>
{% endif %}
{% endblock %}
