{% extends "base.html" %}

{% block content %}

<div class="container">
	<h2>Changer son mot de passe</h2>

	{% if form %}
	<form action="{% url user-password-update %}" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ macros.input(form.password_old, 'Ancien mot de passe') }}
		{{ macros.input(form.password_new, 'Nouveau mot de passe') }}
		{{ macros.input(form.password_check, 'Vérification du mot de passe') }}
		<p>
			<a href="{% url user-profile %}" class="btn">Annuler</a>
			<input type="submit" value="Changer le mot de passe" class="btn btn-primary"/>
		</p>
	</form>
	{% else %}
	<div class="alert alert-success">
		<h4>Bravo !</h4>
		Vous venez de changer votre mot de passe.
	</div>
	{% endif %}
</div>
{% endblock %}
