{% extends "base.html" %}

{% block content %}

<div class="container">
	<h2>Mot de passe oublié</h2>

	<div class="alert alert-warning">
		<h4>Mot de passe oublié ?</h4>
		Entrez votre addresse mail ci-dessous, et vous recevrez un mail pour en changer.
	</div>

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ macros.input(form.email, 'Votre email') }}
		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
      </div>
		</div>
	</form>
</div>
{% endblock %}
