{% extends "base.html" %}

{% block content %}

<div class="container">
	{% if validlink %}

	<h2>Nouveau mot de passe</h2>

	<p class="alert alert-info">
		Veuillez entrer votre nouveau mot de passe deux fois.
	</p>

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ macros.input(form.new_password1, 'Nouveau mot de passe')}}
		{{ macros.input(form.new_password2, 'Vérifiez le mot de passe')}}
		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
      </div>
    </div>
	</form>

	{% else %}

	<h2>Mise à jour de mot de passe invalide</h2>

	<p class="alert alert-danger">
		Ce lien de mise à jour de mot de passe est invalide; il a sans doute déjà été utilisé.
		<br />
		Vous pouvez demander une nouvelle <a href="{% url user-password-reset %}">mise à jour de mot de passe</a>.
	</p>
	{% endif %}
</div>

{% endblock %}
