{% extends "base.html" %}

{% block content %}

<div class="container">
	<h2>{{ _('Password forgotten') }}</h2>

	<div class="alert alert-warning">
    {{ _('Specify your email address below, and you\'ll receive a mail to change it.') }}
	</div>

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ macros.input(form.email) }}
		<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{{ _('Change your password') }}</button>
      </div>
		</div>
	</form>
</div>
{% endblock %}
