{% extends "base.html" %}

{% block content %}

<div class="container">
	<h2>{{ _('Change your password') }}</h2>

	{% if form %}
	<form action="{% url user-password-update %}" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ macros.input(form.password_old) }}
		{{ macros.input(form.password_new) }}
		{{ macros.input(form.password_check) }}
		<p>
			<a href="{% url user-preferences %}" class="btn btn-default">{{ _('Cancel') }}</a>
			<input type="submit" value="{{ _('Change password') }}" class="btn btn-primary"/>
		</p>
	</form>
	{% else %}
	<div class="alert alert-success">
    {{ _('You successfully changed your password.') }}
	</div>
	{% endif %}
</div>
{% endblock %}
