{% extends 'base.html' %}

{% set page_title = 'Mes préférences' %}

{% block js %}
<script type="text/javascript">
// Enable buttons with radio state
$(function(){
  $('.btn').button().on('click', function(evt){
    var type = $(this).find('input').val();
    
    // Remove color classes to siblings
    $(this).siblings().removeClass('btn-danger btn-success btn-warning');

    // Add color class to current
    var classes = {
      'private' : 'btn-danger',
      'club' : 'btn-warning',
      'public' : 'btn-success',
    };
    $(this).addClass(classes[type]);
  });
});
</script>
{% endblock %}

{% block content %}



<div class="container" id="user">
	
	<h2>{{ _('My preferences') }}</h2>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#profile" role="tab" data-toggle="tab">
        {{ _('Personal Informations') }}
      </a>
    </li>
    <li>
      <a href="#avatar" role="tab" data-toggle="tab">
        {{ _('Profile Picture') }}
      </a>
    </li>
    <li>
      <a href="#privacy" role="tab" data-toggle="tab">
        {{ _('Profile Privacy') }}
      </a>
    </li>
    <li>
      <a href="#mails" role="tab" data-toggle="tab">
        {{ _('Mails') }}
      </a>
    </li>
    <li>
      <a href="#sport" role="tab" data-toggle="tab">
        {{ _('Sports Informations') }}
      </a>
    </li>
    <li>
      <a href="#settings" role="tab" data-toggle="tab">
        {{ _('Settings') }}
      </a>
    </li>
    {% if not user.demo %}
    <li>
      <a href="#password" role="tab" data-toggle="tab">
        {{ _('Password') }}
      </a>
    </li>
    {% endif %}
  </ul>
	
	<form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}

    <div class="tab-content">
      <div class="tab-pane active" id="profile">
        {{ macros.input(form.first_name, None, false, 4, 8) }}
        {{ macros.input(form.last_name, None, false, 4, 8) }}
        {% if not user.demo %}
        {{ macros.input(form.email, None, false, 4, 8) }}
        {% endif %}
        {{ macros.input(form.phone, None, false, 4, 8) }}
        <div class="birthday">
          {{ macros.input(form.birthday, None, false, 4, 8) }}
        </div>
        {% if user.category %}
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ _('Category') }}</label>
          <div class="col-sm-8">
            <span class="label label-info">{{user.category.name}}</span>
          </div>
        </div>
        {% endif %}
        {{ macros.input(form.license, None, false, 4, 8) }}

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>{{ _('Update') }}</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="avatar">

        {% if form.avatar.errors %}
        <div class="alert alert-danger">
          {{ form.avatar.errors|safe }}
        </div>
        {% endif %}

        <div class="col-sm-6">
          <div class="form-group">
            <p class="text-muted">
              {{ _('You can use a JPEG or PNG image') }}
              <br />
              {{ _('Only the central part of the picture will be used to make a squared "avatar"') }}
            </p>
            <input id="id_avatar" name="avatar" type="file" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>
              {{ _('Use this picture') }}
            </button>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="text-muted">{{ _('Your current picture') }}</p>
          {% if user.avatar %}
          <img class="img-responsive img-thumbnail avatar-upload" src="{{ user.avatar.url }}" alt="{{ user.first_name }} {{ user.last_name }} avatar"/>
          {% endif %}
        </div>
      </div>

      <div class="tab-pane" id="privacy">
        <div class="col-xs-12">
          {{ _('Choose a privacy level for differents sections or your public profile:') }}
          <ul class="nopill">
            <li><span class="label label-success">{{ _('Public') }}</span> {{ _('Anyone can use this section (including a visitor without a RunReport account)') }}</li>
            <li><span class="label label-warning">{{ _('Club') }}</span> {{ _('Only users in your clubs can view this section.') }}</li>
            <li><span class="label label-danger">{{ _('Private') }}</span> {{ _('You are the only one seeig this section') }}</li>
          </ul>
        </div>

          {% with btn_classes = ('btn-success', 'btn-warning', 'btn-danger', )  %}
          {{ macros.input_choices(form.privacy_avatar, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_calendar, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_stats, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_records, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_races, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_comments, None, False, btn_classes) }}
          {{ macros.input_choices(form.privacy_tracks, None, False, btn_classes) }}
          {% endwith %}
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>{{ _('Update') }}</button>
              <a class="btn btn-success" target="_blank" href="{{ url('user-public-profile', user.username) }}">{{ _('View your public profile') }} <i class="icon-right-open"></i></a>
            </div>
          </div>
      </div>

      <div class="tab-pane" id="mails">
        {{ macros.input_bool(form.auto_send, None, None, 4, 8) }}
        {% if user.is_trainer %}
          {{ macros.input_bool(form.daily_trainer_mail, None, None, 4, 8) }}
        {% endif %}
        {{ macros.input(form.language, None, None, 4, 8) }}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>{{ _('Update') }}</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="settings">
        {{ macros.input_bool(form.display_help, None, None, 4, 8) }}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>{{ _('Update') }}</button>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="sport">
        {% for m in user.memberships.all() %}
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ _('%s trainer') % m.club.name }}</label>
          <div class="col-sm-8">
            {% for trainer in m.trainers.all() %}
            <a href="{{ url('user-public-profile', trainer.username) }}">
              {{ trainer.first_name }} {{ trainer.last_name }}
            </a>
            {% else %}
            <p class="text-warning">
              {{ _('No trainers managing you in this club.') }}
            </p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      
        {{ macros.input(form.default_sport, None, false, 4, 8) }}

        {{ macros.input(form.nb_sessions, None, false, 4, 8) }}
        {{ macros.input(form.vma, None, False, 4, 8) }}
        {{ macros.input(form.weight, None, False, 4, 8) }}
        {{ macros.input(form.height, None, False, 4, 8) }}
        {{ macros.input(form.frequency_rest, None, false, 4, 8) }}
        {{ macros.input(form.frequency, None, false, 4, 8) }}
        {{ macros.input(form.comment, None, false, 4, 8) }}

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary" {% if user.demo %}disabled{% endif %}>{{ _('Update') }}</button>
          </div>
        </div>
      </div>

      {% if not user.demo %}
      <div class="tab-pane" id="password">
        {{ _('You can change your password using') }}
        <a class="btn btn-info" href="{{ url('user-password-update') }}">{{ _('this page') }}</a>.
      </div>
      {% endif %}

    </div>
	</form>
</div>

{% endblock %}
