{% extends 'base.html' %}

{% set page_title = 'Mon profil' %}

{% block content %}

<form class="form-horizontal" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>Informations personelles</legend>
    {% for input in form_user.visible_fields() %}
      {{ macros.input(input, input.label) }}
    {% endfor %}
    {{ macros.input(form_profile.birthday, 'Date de naissance', 'JJ/MM/AAAA') }}
    {% if profile.category %}
    <div class="control-group">
      <label class="control-label">Catégorie</label>
      <div class="controls">
        <span class="label label-info">{{profile.category.name}}</span>
      </div>
    </div>
    {% endif %}
    {{ macros.input(form_profile.license, 'License FFA') }}
    <div class="alert alert-info">
      <h4>Mot de passe</h4>
      Vous pouvez changer de mot de passe en <a href="{% url user-password-update %}">utilisant cette page</a>.
    </div>
  </fieldset>

  <fieldset>
    <legend>Mails</legend>
    {{ macros.input(form_profile.auto_send, 'Envoi automatique des commentaires en fin de semaine') }}
  </fieldset>

  <fieldset>
    <legend>Informations sportives</legend>

    {{ form_trainers.management_form|safe }}
    {% for form in form_trainers%}
    <div class="control-group {% if form.errors %}error{% elif form.trainers.value() %}success{% endif %}">
      <label class="control-label" for="id__">Coach du {{ form.instance.club.name }}</label>
      <div class="controls field-multiple">
        {{ form.id|safe }}
        {{ form.trainers|safe }}
      </div>
    </div>
    {% if form.trainers.errors %}
    <div class="alert alert-danger">{{form.trainers.errors|safe}}</div>
    {% endif %}
    {% endfor %}

    {{ macros.input(form_profile.nb_sessions, 'Nb Séances hebdomadaires') }}
    {{ macros.input(form_profile.vma, 'Vma', 'Ex: 15.2 km/h') }}
    {{ macros.input(form_profile.weight, 'Poids', 'En kg') }}
    {{ macros.input(form_profile.height, 'Taille', 'En cm') }}
    {{ macros.input(form_profile.frequency_rest, 'Fréquence Cardiaque au repos') }}
    {{ macros.input(form_profile.frequency, 'Fréquence Cardiaque maximale') }}
    {{ macros.input(form_profile.comment, 'Renseignements divers') }}
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </div>
</form>

{% endblock %}
