{% extends 'base.html' %}

{% block content %}

<form class="form-horizontal" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>Informations personelles</legend>
    {% for input in form_user.visible_fields() %}
      {{ macros.input(input, input.label) }}
    {% endfor %}
  </fieldset>

  <fieldset>
    {{ macros.input(form_profile.trainer, 'Coach') }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </div>
  </fieldset>
</form>

{% endblock %}
