{% extends 'base.html' %}

{% set page_title = member and 'Records de %s %s' % (member.first_name, member.last_name) or 'Mes Records' %}

{% block js %}
<script type="text/javascript">
$(function(){
  $('#add_record').datepicker()
    .on('changeDate', function(ev){
      if(ev.viewMode != 'days')
        return;

      var url = '/calendar/' + ev.date.getFullYear() + '/' + (ev.date.getMonth() + 1) + '/' + ev.date.getDate();
      window.location = url;
    });
});
</script>
{% endblock %}

{% block style %}
<style>
h2, h3 {
	padding-left: 5px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<h2>
    {% if member %}
    {{ _('Records of') }} {{ member.first_name }} {{ member.last_name }}
    <p class="actions pull-right">
      <a class="btn btn-success" href="{% url club-members club.slug %}">{{ _('Back to club') }}</a>
    </p>
    {% else %}
    Mes records
    <button id="add_record" class="modal-action btn btn-primary pull-right" data-date-format="yyyy-mm-dd" data-date="{{ today }}">
      <span class="icon icon-plus"></span> {{ _('Add a record') }}
    </button>
    {% endif %}
  </h2>

	{% if races %}
	
	{% for category in categories.values() %}
	<h3>{{category.name}}</h3>

	<div class="row-striped">
		{% for race in races[category.id] %}
    {% with race.sessions.filter(type='race') as sessions %}
		<div class="row {% if loop.first %}race-record{% endif %}">

			<div class="col-sm-4">
        {% if race.nb_sessions > 1 %}
        <p>
          <span class="badge">{{race.nb_sessions}}</span> {{ _('parts') }}
        </p>
        {% endif %}
        {% for session in sessions %}
        <p>
          <i class="icon-sport-{{ session.sport.slug }}" title="{{ _(session.sport.name) }}"></i>
          {{ session.name }}
        </p>
        {% endfor %}
      </div>

			<div class="col-sm-3">
        {{ race.date|date('d E Y')}}
      </div>

      <div class="col-sm-2">
        <p>
          <strong>{{ race.distance_total|default(0)|floatformat(2)}} km</strong>
        </p>
        {% if race.nb_sessions > 1 %}
        {% for session in sessions %}
        <p>
          {{ session.distance|default(0)|floatformat(2) }} km
        </p>
        {% endfor %}
        {% endif %}
      </div>

      <div class="col-sm-2">
        <p>
          <strong>{{ race.time_total|default(0)|total_time()}}</strong>
        </p>
        {% if race.nb_sessions > 1 %}
        {% for session in sessions %}
        <p>
          {{ session.time|default(0)|total_time() }}
        </p>
        {% endfor %}
        {% endif %}
      </div>
			<div class="col-sm-1">
				<a class="btn btn-xs {% if loop.first %}btn-warning{% else %}btn-default{% endif %}" href="{{ raceurl|url(*raceargs + [race.date.year, race.date.month, race.date.day]) }}">{{ _('View') }}</a>
			</div>
		</div>
		{% endwith %}
		{% endfor %}
	</div>
	{% endfor %}

		{% else %}
		<p class="alert alert-warning">{{ _('No races') }}</p>
		{% endif %}

    <h2>{{ _('Future races') }}</h2>

		{% if future_races %}
		<div class="row-striped">
			{% for race in future_races %}
			<div class="row">
				<div class="col-sm-4">
					<strong>{{ _('In %s') % race.date|timeuntil()}}</strong>
				</div>
				<div class="col-sm-7">
          {% for session in race.sessions.all() %}
          <p>
            <a class="modal-action" href="{% url report-day race.date.year, race.date.month, race.date.day %}">{{ session.name }}</a>
          </p>
          {% endfor %}
				</div>
				<div class="col-sm-1">
          {% for session in race.sessions.all() %}
          <p>
            <span class="label label-info">{{ session.race_category.name}}</span>
          </p>
          {% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<p class="alert alert-warning">{{ _('No future races') }}</p>
		{% endif %}

	</div>
	{% endblock %}
