{% extends 'base.html' %}

{% block content %}
<h1>Mes records</h1>

{% if races %}
<table class="table">

  {% for category in categories %}
  <tr>
    <td style="border: 0"><h3>{{category.name}}</h3></td>
  </tr>

  {% for race in races[category.id] %}
  <tr class="{% if loop.first %}race-record{% endif %}">
    <td>{{ race.name }}</td>
    <td>{{ race.date|date('d E Y')}}</td>
    <td>{{ race.distance|floatformat() }} km</td>
    <td>{{ race.time|default('-') }}</td>
    <td>
      <a class="modal-action btn btn-small {% if loop.first %}btn-warning{% endif %}" href="{% url report-day race.date.year, race.date.month, race.date.day %}">Voir</a>
    </td>
  </tr>
  {% endfor %}
  {% endfor %}

</table>
{% else %}
<p class="alert alert-warning">Aucune course renseignée</p>
{% endif %}

{% endblock %}
