<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% if title %}{{ title }} - {% endif %}Run Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">

<!-- Header with logo -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" >
  <tr style="background: #2c3e50; text-align: center; height: 80px;">
    <td>
      <a href="http://{{site.domain}}">
        <img src="http://{{site.domain}}/medias/img/logo_ligne.png" alt="Run Report" />
      </a>
    </td>
  </tr>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; margin-top: 10px;">
  {% if title %}
  <tr style="height: 50px; line-height: 50px;font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-weight: 400;text-align: center;">
    <td style="color: #f39c12; font-size: 20px;">
      {{ title }}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td style="margin-top: 30px; font-size: 14px;font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-weight: 400;text-align: center;">
      {% block mail %}{% endblock %}
    </td>
  </tr>
  <tr>
    <td style="color: #888;font-size: 14px;font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;font-weight: 400;text-align: center;">
      <br>
      <a href="http://{{site.domain}}/club" target="_blank" style="text-decoration: none;border: 0;outline: none;color: #888;">{{ _('Create a club') }}</a> | <a href="http://{{site.domain}}/news" target="_blank" style="text-decoration: none;border: 0;outline: none;color: #888;">{{ _('News') }}</a> | <a href="http://{{site.domain}}/contact" target="_blank" style="text-decoration: none;border: 0;outline: none;color: #888;">{{ _('Contact') }}</a> | <a href="http://facebook.com/runreport.fr" target="_blank" style="text-decoration: none;border: 0;outline: none;color: #888;">{{ _('Facebook') }}</a>
      <br><br>
    </td>
  </tr>
</table>

</body>
</html>
