{% extends 'mail/base.html' %}

{% set title = 'Nouveau membre' %}

{% block mail %}
{{ _('Hello %s') % manager.first_name }},
<br />
<br />
{{ _('A new member "%(first)s %(last)s" just subscribed to your club %(club)s') % {'first': user.first_name, 'last': user.last_name, 'club': club.name} }}

<br />
<br />

{{ _('You can validate this subscription in the Newcomers section, by clicking on the role button "Newcomer", and giving him the new role of "Athlete"') }}

<a href="http://{{ site.domain }}{{ url('club-members-name', club.slug, 'prospects', 'name') }}">{{ _('Newcomers list') }}</a>

<br />
<br />
{{ _('If you refuse this subscription, you can archive it on the same page.') }}

<br />
<br />
{{ _('In both cases, an email will be sent to the subscriber.') }}
{% endblock %}
