{% extends "mail/base.html" %}

{% set title = 'Nouveau message' %}

{% block mail %}

{% if accepted %}
  {{ _('Hello %s') % sender.first_name }},
{% else %}
  {{ _('Hello %s') % recipient.first_name }},
{% endif %}

<br />
<br />

{% if accepted %}
  <a href="http://{{ site.domain }}{{ url('user-public-profile', recipient.username) }}">{{ recipient.first_name }} {{ recipient.last_name }}</a>
    {{ _('has accepted your friend request on RunReport !') }}
{% else %}
  <a href="http://{{ site.domain }}{{ url('user-public-profile', sender.username) }}">{{ sender.first_name }} {{ sender.last_name }}</a>
    {{ _('would like to add you as a friend on RunReport') }}
  <br />
  {{ _('If you accept, you will be able to see his whole calendar. He will be able to do the same.') }}
  <br />
  <br />
  <a href="http://{{ site.domain }}{{ url('friends') }}">{{ _('You can accept or refuse on RunReport') }}</a>
{% endif %}

{% endblock %}
