{% extends 'mail/base.html' %}

{% set title = _('Training plan') %}

{% block mail %}

<p>
{{ _('Hello %s,') % user.first_name }}
</p>

<p>
  {{ _('Your trainer') }}
  <a href="http://{{ site.domain }}{% url 'user-public-profile' plan.creator.username %}">{{ plan.creator.first_name }} {{ plan.creator.last_name }}</a>
  {{ _('has sent you a training plan for %d weeks') % plan.weeks_nb}}
  : <a href="http://{{ site.domain }}{% url plan plan.pk %}">{{ plan.name }}</a>
</p>

<p>
{{ _('You will find it attached to this email as a PDF file, and directly into your RunReport calendar.') }}
</p>


{% endblock %}
