{% extends "mail/base.html" %}

{% block mail %}
<div class="space">
Bonjour {{ user.first_name }},
</div>

<div class="space">
L'équipe RunReport vous souhaite de réaliser une bonne course pour votre {{ race.race_category.name }} aujourd'hui : <strong>{{ race.name }}</strong>.
</div>

<div class="space">
N'oubliez pas de remplir <a href="http://{{site.domain}}{{ race.report.get_absolute_url() }}">votre séance</a> à la suite de l'épreuve !
</div>

<div class="space">
Bonne course, et bonne récupération,
</div>
{% endblock %}
