{% extends 'mail/base.html' %}

{% set title = _('New friends races') %}

{% block mail %}
<p>
  {{ _('Hello %s') % user.first_name }},
</p>

<p>
  {{ _('These are your friends races for tommorow:') }}
</p>

{% for race in races %}
{% with friend = race.day.week.user %}
{% with dt = race.day.date %}
<div style="text-align: left ; border-bottom: 1px solid #CCC; height: 60px; margin-bottom: 10px;">
  
  <img src="https://{{ site.domain }}{{ friend.avatar.url }}" style="height: 60px; width: 60px; float: left;"/>
  
  <a href="https://{{ site.domain}}{{ url('user-calendar-day', friend.username, dt.year, dt.month, dt.day) }}">
    {{ friend.first_name }} {{ friend.last_name }}
  </a>

  {{ _('will race') }} {{ race.name }}
  ({{ race.race_category }}{% if race.distance %} &bull; {{ race.distance }}km{% endif %})
</div>
{% endwith %}
{% endwith %}
{% endfor %}



{% endblock %}
