{% extends "mail/base.html" %}

{% set title = 'Semaine %s du %s au %s' % (week_human, report.get_date_start()|date("l d E"), report.get_date_end()|date("l d E")  ) %}

{% block mail %}
<table cellpadding="0" cellspacing="0" border="0" align="center">
  <tr>
    <td>
    {{ _('View week') }} <a href="http://{{ site.domain }}{% url user-calendar-week report.user.username,  report.year, report.week %}">{{ report.user.first_name }} {{ report.user.last_name }}</a>
    </td>
  </tr>
  <tr>
    <td>
      {% for day_date, day in days.items() %}
      <div style="text-align: left; margin-bottom: 25px;">
        <h4 style="color: #2c3e50;font-size: 18px; border-bottom: 1px solid #EEE; width: 580px; margin: 8px 0 15px 0;">
          {{day_date|date('l d E')}}
        </h4>
        {% if day %}
          {% for s in day.sessions.all().order_by('created') %}
          <div id="session_{{s.id}}" style="margin: 2px 5px 10px 5px;">
            <span style="color: #d2850b;"><strong>{{s.sport.name}}</strong> : {{s.name|default(_('No name'))}}</span>
            <br />
            {% if s.comment %}
            <p>
            {{s.comment|linebreaksbr}}
            </p>
            {% endif %}
            {% if s.time %}
            <span class="label">{{ _('Time') }}</span> {{s.time|total_time()}}
            {% endif %}
            {% if s.time and s.distance %}&bull;{% endif %}
            {% if s.distance %}
            <span class="label">{{ _('Distance') }}</span> {{s.distance|floatformat(2)}} km
            {% endif %}

            {% with s.plan_session as psa %}
            {% if psa %}
            <p>
              {{ _('Plan') }}

              {% if psa.status == 'applied' %}
              <strong>{{ _('Applied') }}</strong>
              {% elif psa.status == 'done' %}
              <strong>{{ _('Done') }}</strong>
              {% elif psa.status == 'failed' %}
              <strong>{{ _('Failed') }}</strong>
              {% endif %}

              <a href="https://{{ site.domain }}{% url 'plan' psa.plan_session.plan.pk %}">{{ psa.plan_session.plan.name }}</a>
            </p>
            {% endif %}
            {% endwith %}

          </div>
          {% endfor %}
        {% else %}
        <span style="font-style: italic; color: #EEE;">{{ _('No session') }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <br />
      <table style="width: 100%">
        <tr>
          <th>{{ _('Sport') }}</th>
          <th>{{ _('Total time') }}</th>
          <th>{{ _('Total distance') }}</th>
        </tr>
        {% for sport, time, distance in report.get_sports_stats() %}
        <tr>
          <td>{% if sport %}{{sport.name}}{% else %}{{ _('Total') }}{% endif %}</td>
          <td>{{time|total_time()}}</td>
          <td>{{distance|default('0')}} km</td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>

  {% if report.comment %}
  <tr>
    <td>
      <h3 style="margin-top: 20px">{{ _('Week\'s summary') }}</h3>
    </td>
  </tr>
  <tr>
    <td>
    {{ report.comment }}
    </td>
  </tr>
  {% endif %}
</table>
{% endblock %}
