{% extends 'mail/base.html' %}

{% set title = _('Your athlete\'s sessions today') %}

{% block mail %}

<p>
{{ _('Hello %s,') % user.first_name }}
</p>

{% for session in sessions %}
<div style="text-align: left ; border-bottom: 1px solid #CCC; height: 60px; margin-bottom: 10px;">
  {% with athlete = session.day.week.user %}
  
  <img src="https://{{ site.domain }}{{ athlete.avatar.url }}" style="height: 60px; width: 60px; float: left;"/>

  <div style="margin-left: 10px; line-height: 25px"> 
    <a style="font-size: 1.2em; font-weight: bold;" href="https://{{ site.domain }}{{ url('user-calendar-day', athlete.username, session.day.date.year, session.day.date.month, session.day.date.day) }}">
      {{ session.name }}
    </a>
    <br />
    <a style="color: #888;" href="https://{{ site.domain }}{{ url('user-public-profile', athlete.username) }}">
      {{ athlete.first_name }} {{ athlete.last_name }}
    </a>
  </div>
  {% endwith %}
</div>
{% endfor %}

{% endblock %}
