{% extends 'mail/base.html' %}

{% set title = 'Inscription Club' %}

{% block mail %}
{{ _('Hello %s') % user.first_name }},
<br />
<br />

{% if old_role == 'prospect' %}
  {% if new_role == 'archive' %}
  {{ _('Sorry, but your subscription to club %s has been refused') % club.name }}
  {% else %}
  {{ _('Congrats, your subscription to club %s has been accepted !') % club.name }}
  {% endif %}
{% else %}
  {% if new_role == 'archive' %}
  {{ _('Sorry, but you are no longer in the club %s') % club.name }}
  {% elif new_role == 'trainer' %}
  {{ _('Your role in club %s has changed, you are now a trainer') % club.name }}
  {% elif new_role == 'staff' %}
  {{ _('Your role in club %s has changed, you are now a staff member') % club.name }}
  {% elif new_role == 'athlete' %}
  {{ _('Your role in club %s has changed, you are now an athlete ') % club.name }}
  {% endif %}
{% endif %}
</div>
{% endblock %}
