body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 20px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 150px;
}

form.report fieldset{
  margin-bottom: 10px;
}

form.report fieldset.today {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(0, 136, 204);
}

form.report input {
  width: 90%;
}

form.report textarea {
  width: 90%;
  line-height: 15px;
  height: 60px;
}

table.calendar td {
  height: 100px;
  width: 14%;
  padding: 0;
}

table.calendar td.other-month {
  background: #EFEFEF;
}

table.calendar td p.date {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  padding-left: 5px;
  border-bottom: 1px solid #EEE;
}
