{% if sessions %}
{% for session in sessions.all() %}
<div class="sport-session">
  <i class="icon-sport-{{session.sport.slug}}"></i>
  <span>{{ session.sport.name }}</span>

  <span class="label label-default">Distance</span>
  {% if session.sport.get_category() == 'swimming' %}
    {{ (session.distance * 1000)|floatformat(0) }} m
  {% else %}
    {{ session.distance|floatformat(2) }} km
  {% endif %}

  {% if session.time %}
  <span class="label label-default">Temps</span> {{ session.time }}
  {% endif %}

  <a class="modal-action btn btn-info btn-xs" href="{% url sport-session-edit day.year, day.month, day.day, session.pk %}">Editer</a>
  <a class="modal-action btn btn-danger btn-xs" href="{% url sport-session-delete day.year, day.month, day.day, session.pk %}">Supprimer</a>

  {% with session as sport_session %}
  {% include '_garmin.html' %}
  {% endwith %}
</div>
{% endfor %}
{% endif %}

{% if user.multi_sports %}
<a href="{% url sport-session-add day.year, day.month, day.day %}" class="modal-action btn btn-default btn-sm extra-sport-add">
  <i class="icon-plus"></i> Ajouter un sport
</a>
{% endif %}
