<script type="text/javascript">
$('span.add-on').tooltip();
$(function(){
	$('button.type').click(function(){
		$(this).siblings('input').val(this.value);
	});
});
</script>

<div class="container">

	<form method="post" action="" class="form-horizontal report">
		{% csrf_token %}

		{% for day in report.get_dates() %}
		{% if day == now.date() %}
		<fieldset class="today">
			<legend>Aujourd'hui - {{ day|date('l d E')|title }}</legend>
		{% else %}
		<fieldset>
			<legend>{{ day|date('l d E')|title }}</legend>
			{% endif %}

			{% with forms[day] as day_form %}

			{% with day_form.instance.plan_session as plan_session %}
			{% include 'sport/_plan.html' %}
			{% endwith %}

			{% with day_form.non_field_errors() as err %}
			{% if err %}
			<div class="alert alert-danger">
				<h4>Erreur pour cette séance</h4>
				{{ err|safe }}
			</div>
			{% endif %}
			{% endwith %}

			{{ macros.session_types_name(day_form, session_types) }}
			{{ macros.input(day_form.comment, 'Commentaire') }}
			{{ macros.race_category(day_form) }}

      <div class="form-group row">
        <label class="control-label col-sm-2 hidden-xs">Sports</label>
        <div class="col-sm-10 col-xs-12">
        {% with day_form.sessions as sessions %}
        {% include 'sport/_sessions.forms.html' %}
        {% endwith %}
        </div>
      </div>

			{% endwith %}
		</fieldset>
		{% endfor %}

		<div class="panel panel-default">
      <div class="panel-heading">
        Bilan de la semaine
      </div>
      <div class="panel-body">
        <p class="muted">
          Vous pouvez indiquer votre ressenti sur cette semaine (facultatif).
        </p>
        {{ macros.input(form_report.comment, 'Commentaire') }}
      </div>
      <div class="panel-footer">
        {% with report.get_sports_stats() as stats %}
        {% include 'sport/_week.stats.html' %}
        {% endwith %}
      </div>
    </div>

		<div class="form-group row actions">
      <div class="col-md-3 col-md-offset-3 col-sm-12">
        <button type="submit" name="action" value="save" class="btn btn-primary">Sauver ces commentaires</button>
      </div>

      <div class="col-md-3 col-sm-12">
			{% for m in memberships %}
        <button {% if not report.is_publiable() %}disabled="disabled"{% endif %} type="submit" name="publish" value="{{m.club.pk}}" class="btn btn-success">
          Envoyer à
          {% for t in m.trainers.all() %}
          {{ t.first_name|default(t.username) }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </button>
      {% endfor %}
      </div>
		</div>
	</form>

	{% if user.auto_send %}

	{% if report.is_current() %}
	<p class="alert alert-info">
		Tous les commentaires remplis seront envoyés automatiquement dans {{ report.get_send_date()|timeuntil }}.
	</p>
	{% else %}
	<p class="alert alert-warning">
		L'envoi automatique des commentaires n'est actif que pour la <strong>semaine en cours</strong>.
	</p>
	{% endif %}

	{% else %}
	<div class="alert alert-warning">
		<h4>Envoi automatique désactivé !</h4>
		Pour activer l'envoi automatique, veuillez sélectionnez l'option dans <a href="{% url user-profile %}">votre profil</a>
	</div>
	{% endif %}

</div>
