{% extends 'modal.html' %}

{% set modal_title = '%s : Ajouter une séance' % day|date('l d E Y')|title() %}

{% set form_url = "sport-session-add"|url(day.year, day.month, day.day) %}

{% block body %}
  {% with form.non_field_errors() as err %}
  {% if err %}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger">
        {{ err|safe }}
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {{ macros.sport_session(form, user.multi_sports) }}
  {{ macros.input(form.distance, 'Distance', false, 4, 8) }}
  {{ macros.input(form.time, 'Temps', false, 4, 8) }}
{% endblock %}

{% block footer %}
<button class="btn btn-default btn-sm" data-dismiss="modal">Fermer</button>
<input class="btn btn-primary btn-sm" type="submit" value="Sauvegarder">
{% endblock %}

