{% extends 'base.html' %}

{% set page_title = _('Stats') %}

{% block js %}
<script type="text/javascript" src="/medias/js/jquery.flot.js" ></script>
<script type="text/javascript" src="/medias/js/jquery.flot.time.js" ></script>
<script type="text/javascript" src="/medias/js/jquery.flot.stack.js" ></script>
<script type="text/javascript" src="/medias/js/stats.js" ></script>
<script type="text/javascript">
$(function(){

  // Setup data sets
  var distances = [{% for m in months %}[{{m.timestamp()*1000}}, {{m.distance|default(0)}}],{% endfor %}];
  var hours     = [{% for m in months %}[{{m.timestamp()*1000}}, {{m.hours|default(0)}}],{% endfor %}];
  var sports    = [
    {% for sport in sports %}
    {
      label : '{{sport.name}}',
      data : [{% for m in months %}[{{m.timestamp()*1000}}, {% if m.sports[sport.pk] %}{{m.sports[sport.pk]['nb']|default(0)}}{% else %}0{% endif %}],{% endfor %}],
    },
    {% endfor %}  
  ];

  // Build months urls
  var urls = [{% for m in months %}'{{ url_month|url(*url_args + [m.year, m.month])}}',{% endfor %}];

  // Plot charts
  plot_hours_distances(hours, distances, urls);
  plot_sports(sports);
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  {% if date_range == 'year' %}
  <h1>{% if member %}{{ member.first_name }} {{ member.last_name }} : {% endif %}{{ _('Year %s') % start.year}}</h1>
  {% elif date_range == 'all' %}
  <h1>{% if member %}{{ member.first_name }} {{ member.last_name }} : {% endif %}{{ _('Every session') }}</h1>
  {% else %}
  <h1>{% if member %}{{ member.first_name }} {{ member.last_name }} : {% endif %}{{ _('Last 12 months') }}</h1>
  {% endif %}

  <ul class="breadcrumb">
    {% if date_range == 'last' %}
    <li class="active">{{ _('Last 12 months') }}</li>
    {% else %}
    <li><a href="{{ url_base|url(*url_args) }}">{{ _('Last 12 months') }}</a> <span class="divider"></span></li>
    {% endif %}

    {% for year in years %}
      {% if date_range == 'year' and year == start.year %}
      <li class="active">{{ _('Year %s') % year}}</li>
      {% else %}
      <li><a href="{{ (url_base + '-year')|url(*url_args + [year]) }}">{{ _('Year %s') % year}}</a> <span class="divider"></span></li>
      {% endif %}
    {% endfor %}

    {% if date_range == 'all' %}
    <li class="active">{{ _('Every session') }}</li>
    {% else %}
    <li><a href="{{ (url_base + '-all')|url(*url_args) }}">{{ _('Every session') }}</a> <span class="divider"></span></li>
    {% endif %}
  </ul>

  <div id="stats">
    <h3>{{ _('Hours & distances') }}</h3>
    <div class="hours_distances"></div>
    <div class="tooltip"></div>

    <h3>{{ _('Sessions by sports') }}</h3>
    <div class="sports"></div>
  </div>
  
</div>
{% endblock %}
