{% extends 'base.html' %}

{% set page_title = 'Mes allures' %}


{% block style %}
<style>
table.table th, table.table td {
	text-align: right;
	font-size: 0.9em;
}

.table-responsive {
	border: 1px solid #ECF0F1;
	margin-bottom: 15.75px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.table-responsive > .table-bordered {
	border: 0 none;
}
.table-responsive > .table {
	margin-bottom: 0;
}
</style>
{% endblock %}

{% block content %}

<div class="container">

	{% if user.vma and vma %}

	<h2>{{ _('Indicative times') }}</h2>

	<p class="alert alert-success">
    {{ _('Your recorded top speed is %s km/h') % user.vma }}
	</p>

	<div class="table-responsive">
		<table class="table table-bordered table-condensed table-hover">
			<tr>
				<th title="{{ glossary['VMA'] }}">% VMA</th>
				{% for d in vma.get_distances() %}
				<th>{{d}}m</th>
				{% endfor %}
			</tr>
			{% for pace in vma.get_paces() %}
			<tr>
				<td>{{pace.percent}}</td>
				{% for d in vma.get_distances() %}
				<td>
					{% with t = vma.get_time(pace, d) %}
					{% if t.hour > 0 %}
					{{t|date("g\hi's\"")}}
					{% else %}
					{{t|date("i's\"")}}
					{% endif %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="alert alert-info" style="margin-top: 10px">
		<h4>{{ _('Help') }}</h4>
    {{ _('All the terms are explained in the glossary') }} : <a href="{{ url('vma-glossary') }}" class="btn btn-primary">{{ _('View') }}</a>.
	</div>

	<h2>{{ _('Paces') }}</h2>

	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<tr>
				<th>{{ _('Paces') }}</th>
				<th title="{{ glossary['VMA'] }}">{{ _('% top speed') }}</th>
				<th>{{ _('Speed') }}</th>
				<th>{{ _('Km time') }}</th>
				<th>{{ _('100m time') }}</th>
			</tr>
			{% for pace in vma.get_paces() %}
			<tr>
				<td title="{{ glossary[pace.name] }}">{{pace.name}}</td>
				<td>{{pace.percent}}</td>
				<td>{{vma.get_speed(pace)}}</td>
				<td>{{vma.get_time(pace, 1000)|date("i's\"")}}</td>
				<td>{{vma.get_time(pace, 100)|date("i's\"")}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	{% else %}
	<div class="alert alert-danger">
		<h4>{{ _('No top speed') }}</h4>
    {{ _('You need to specify your top speed in your preferences to enable this data tables.') }} : <a href="{{ url('user-preferences') }}#sport" class="btn btn-primary">{{ _('Preferences') }}</a>
	</div>
	{% endif %}

</div>

{% endblock %}
