{% extends 'base.html' %}

{% set page_title = 'Année %s' % year %}
{% set page_size = 'fullscreen' %}

{% block style %}
<style>
	.head a {
		width: 100%;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	span.type {
		display: inline-block;
		width: 10px;
		height: 10px;
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<h2>{% if member %}{{ member.first_name }} {{ member.last_name }} - {% endif %}Année {{ year }}</h2>

	<div class="year hidden-xs">
		{% for month, days in date_list.items() %}
		<div class="month">
			<div class="head">
				<a href="{{ pagemonth|url(*pageargs + [days[0].year, days[0].month]) }}" >{{ days[0]|date('F')|title() }}</a>
			</div>
			{% for day in days %}
			{% with object_list[day] as session %}
			<div class="day modal-action" href="{{ pageday|url(*pageargs + [day.year, day.month, day.day]) }}">
				<span class="date">{{ day.day }}</span>
				{% if session %}
				<span class="name {% if session %}session {{ session.type }}{% endif %}">{{ session.name}}</span>
				{% endif %}
			</div>
			{% endwith %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div class="visible-xs">
    {% for month, days in date_list.items() %}
    {% with days[0] as month_date %}
    {% if month_date.month in months_active %}
      <h3>
        {{ month_date|date('E Y') }}
        <a href="{% url report-month month_date.year, month_date.month %}" class="btn btn-sm btn-info pull-right">Voir ce mois</a>
      </h3>
			<div class="row-striped">
	      {% for day in days %}
	      {% with object_list.get(day, None) as session %}
	      {% if session %}
	      <div class="modal-action" href="{{pageday|url(*pageargs + [day.year, day.month, day.day])}}">
	        <strong>{{day|date('l d')|title()}}</strong>
	        <div>
	          <span class="type {{ session.type }}"></span>
	          {{session.name|default('Session sans nom')}}
	        </div>
	        {% if session.plan_session %}
	        <div>
	          <i class="icon-tags"> </i> {{ session.plan_session.week.plan.name|truncate(10) }}
	        </div>
	        {% endif %}
	      </div>
	      {% endif %}
	      {% endwith %}
	      {% endfor %}
			</div>
    {% endif %}
    {% endwith %}
    {% endfor %}
    </div>

	<ul class="pager">
		{% if previous_year %}
		<li class="previous">
			<a href="{{ pageyear|url(*pageargs + [previous_year, ]) }}">&laquo; Année {{ previous_year }}</a>
		</li>
		{% endif %}
		{% if next_year %}
		<li class="next">
			<a href="{{ pageyear|url(*pageargs + [next_year, ]) }}">Année {{ next_year }} &raquo;</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}
